app/contest-missing-reminder.jade
extends layouts/default-logged

block content
  .container.personal-center
    .row
      .col-xs-6
        .row.same-height
          .col-xs-2.avatar
            img.img-circle(src='images/avatar.png')
            | Player Name
            a.update-avatar.btn.silver.modal-btn#launch-avatar(href='#avatar-modal')
              | 修改头像
          .col-xs-10.less-pad
            .frame.profile
              .silver.vertical-text
                | 白银段位
                span.glyphicon.glyphicon-chevron-right

              .current-state
                .state-content
                  .state-content-left
                    img(src='./images/badge.png')

                    .rating(data-rating="3")
                  .state-content-right
                    .title
                      | 当前段位：
                      strong 白银VIP2级
                    .level.clearfix
                      .level-left
                        | 升级还需
                      .level-right.gold-text
                        | 50经验值
                    .progress
                      .progress-bar(style="width:50%") 50/100

                  .state-content-share
                    ul.share-vertical
                      li
                        a
                          img(src='./images/fb.png')
                      li
                        a
                          img(src='./images/twitter.png')
                      li
                        a
                          img(src='./images/weibo.png')
                    a.btn.large.yellow(href='#')
                      img(src='./images/share-symbol.png')
                      br
                      | 立即分享


      .col-xs-6.ad-col
        .row
          .ad-left
            img.img-responsive(src='./images/contest-ad1.jpg')
            .ad-text
              .ad-text-left
                h4 邀请好友并成功注册即可获得
                .ad-content
                  .ad-inner
                    img(src='./images/gem-img.png')
                    | 价值
                    span.gold-text
                      span.unit $
                      span.amount 1,000
                    | 宝石
                  .ad-inner
                    img(src='./images/gold-img.png')
                    | 价值
                    span.gold-text
                      span.unit $
                      span.amount 1,000
                    | 游戏币
              .ad-text-right
                a.btn.large.yellow(href='#')
                  img(src='./images/invite-symbol.png')
                  br
                  | 立即邀请

          .ad-right
            img.img-responsive(src='./images/playercenter-ad-2.png')



  .container.contest-container
    .row
      .col-xs-12.col-border
        .col-inner
          .row
            .col-xs-3
              img(src='./images/contest-top-left.jpg')
              img(src='./images/contest-bottom-left.jpg')
            .col-xs-6.enter-contest
              .enter-contest-content
                .left-gem
                  | 宝石彩池
                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
                .right-participant
                  | 参加人数
                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
                .enter-contest-text
                  h1 海量奢侈品加冕
                  h2 高达价值¥200万宝石随你赢
                a.btn.red.enter-modal(href='#enter-modal')
                  | 立即参加

            .col-xs-3
              img(src='./images/contest-top-right.jpg')
              img(src='./images/contest-bottom-right.jpg')

          .row.rules-row
            .col-xs-12.text-center
              h4  比赛规则
              ol
                li 必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。
                li 赌盘通常会在一项赛事结束后不久尽快进行结算。 完全出于服务客户的目的，一些赌盘可能会在正式结果公布之前结算。 如果一个赌盘结算错误，本公司有权撤销结算。
                li 如果对任何赛果有不确定，本公司有权无限期暂停任何赌盘的结算。
                li 对于已经结算的投注，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。
                li 当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。


    div(style='display:none')
      #enter-modal.red.contest-modal
        .modal-inner
          .modal-header
            h4.modal-title 温馨提示
          .modal-body
            .row
              .col-xs-12
                img.modal-img(src='./images/contest-reminder.jpg')
                br
                | 您必须填写以下信息才能参加比赛模式，进入排行榜赢取宝石
                ul.missing-item
                  li
                    img(src='./images/warning.png')

                    img(src='./images/missing-phone.png')
                    | 手机号
                  li
                    img(src='./images/warning.png')

                    img(src='./images/missing-mail.png')
                    | 邮箱
                  li
                    img(src='./images/warning.png')

                    img(src='./images/missing-account.png')
                    | 游戏账号
            hr
            .row.text-center
              a.close-modal(href='./personal-center-default.html')
                img(src='images/continue.jpg')
                span 立即填写

dist/contest-missing-reminder.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn loggedin">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/contest/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="/member/personal-center-default.html" title="会员中心"><img src="/images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="/images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="/images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="/member/index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="/images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
              <a href="http://points-uat.esportsmatrix.com/" target="_blank" class='side-button'>
                <span class='button dark-red circle'><img src="/images/store.png"></span>
                <span class='button yellow rounded'>前往商店</span>
              </a>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/member/index.html"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/member/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/member/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/member/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/member/personal-center-default.html"><img src="/images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container personal-center">
      <div class="row">
        <div class="col-xs-6">
          <div class="row same-height">
            <div class="col-xs-2 avatar"><img src="/images/avatar.png" class="img-circle">Player Name<a id="launch-avatar" href="#avatar-modal" class="update-avatar btn silver modal-btn">修改头像</a></div>
            <div class="col-xs-10 less-pad">
              <div class="frame profile">
                <div class="silver vertical-text">白银段位<span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="current-state">
                  <div class="state-content">
                    <div class="state-content-left"><img src="/images/badge.png">
                      <div data-rating="3" class="rating"></div>
                    </div>
                    <div class="state-content-right">
                      <div class="title">当前段位：<strong>白银VIP2级</strong></div>
                      <div class="level clearfix">
                        <div class="level-left">升级还需</div>
                        <div class="level-right gold-text">50经验值</div>
                      </div>
                      <div class="progress">
                        <div style="width:50%" class="progress-bar">50/100</div>
                      </div>
                    </div>
                    <div class="state-content-share">
                      <ul class="share-vertical">
                        <li><a><img src="/images/fb.png"></a></li>
                        <li><a><img src="/images/twitter.png"></a></li>
                        <li><a><img src="/images/weibo.png"></a></li>
                      </ul><a href="#" class="btn large yellow"><img src="/images/share-symbol.png"><br>立即分享</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 ad-col">
          <div class="row">
            <div class="ad-left"><img src="/images/contest-ad1.jpg" class="img-responsive">
              <div class="ad-text">
                <div class="ad-text-left">
                  <h4>邀请好友并成功注册即可获得</h4>
                  <div class="ad-content">
                    <div class="ad-inner"><img src="/images/gem-img.png">价值<span class="gold-text"><span class="unit">$</span><span class="amount">1,000</span></span>宝石</div>
                    <div class="ad-inner"><img src="/images/gold-img.png">价值<span class="gold-text"><span class="unit">$</span><span class="amount">1,000</span></span>游戏币</div>
                  </div>
                </div>
                <div class="ad-text-right"><a href="#" class="btn large yellow"><img src="/images/invite-symbol.png"><br>立即邀请</a></div>
              </div>
            </div>
            <div class="ad-right"><a href='http://points-uat.esportsmatrix.com/' target='_blank'><img src="/images/playercenter-ad-2.png" class="img-responsive"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container contest-container">
      <div class="row">
        <div class="col-xs-12 col-border">
          <div class="col-inner">
            <div class="row">
              <div class="col-xs-3"><img src="/images/contest-top-left.jpg"><img src="/images/contest-bottom-left.jpg"></div>
              <div class="col-xs-6 enter-contest">
                <div class="enter-contest-content">
                  <div class="left-gem">宝石彩池<br><span class="million">0</span><span class="hundred-thounsand">0</span><span class="ten-thounsand">0</span><span class="thousand">0</span><span class="hundred">0</span><span class="ten">0</span><span class="unit">0</span></div>
                  <div class="right-participant">参加人数<br><span class="million">0</span><span class="hundred-thounsand">0</span><span class="ten-thounsand">0</span><span class="thousand">0</span><span class="hundred">0</span><span class="ten">0</span><span class="unit">0</span></div>
                  <div class="enter-contest-text">
                    <h1>海量奢侈品加冕</h1>
                    <h2>高达价值¥200万宝石随你赢</h2>
                  </div><a href="#enter-modal" class="btn red enter-modal">立即参加</a>
                </div>
              </div>
              <div class="col-xs-3"><img src="/images/contest-top-right.jpg"><img src="/images/contest-bottom-right.jpg"></div>
            </div>
            <div class="row rules-row">
              <div class="col-xs-12 text-center">
                <h4> 比赛规则</h4>
                <ol>
                  <li>必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。</li>
                  <li>赌盘通常会在一项赛事结束后不久尽快进行结算。 完全出于服务客户的目的，一些赌盘可能会在正式结果公布之前结算。 如果一个赌盘结算错误，本公司有权撤销结算。</li>
                  <li>如果对任何赛果有不确定，本公司有权无限期暂停任何赌盘的结算。</li>
                  <li>对于已经结算的投注，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。</li>
                  <li>当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display:none">
        <div id="enter-modal" class="red contest-modal">
          <div class="modal-inner">
            <div class="modal-header">
              <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12"><img src="/images/contest-reminder.jpg" class="modal-img"><br>您必须填写以下信息才能参加比赛模式，进入排行榜赢取宝石
                  <ul class="missing-item">
                    <li><img src="/images/warning.png"><img src="/images/missing-phone.png">手机号</li>
                    <li><img src="/images/warning.png"><img src="/images/missing-mail.png">邮箱</li>
                    <li><img src="/images/warning.png"><img src="/images/missing-account.png">游戏账号</li>
                  </ul>
                </div>
              </div>
              <hr>
              <div class="row text-center"><a href="./personal-center-default.html" class="close-modal"><img src="/images/continue.jpg"><span>立即填写</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/faq.html">帮助</a></li>
              <li><a href="/contact.html">联系我们</a></li>
              <li><a href="/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/terms-of-use.html">使用条款</a></li>
              <li><a href="/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/">游戏大厅</a></li>
              <li><a href="/contest.html">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
