dist/member/faq.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn loggedin">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/contest/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="/member/personal-center-default.html" title="会员中心"><img src="/images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="/images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="/images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="/member/index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="/images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/member/index.html"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/member/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/member/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/member/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/member/personal-center-default.html"><img src="/images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container text">
      <div class="row text-row">
        <div class="col-xs-12">
          <h1 class="page-title">常见问题</h1>
          <div class="section">
            <h4>你们的内容准确吗?</h4>
            <p>我们会通过不同的消息来源去验证所有的资料与新闻</p>
          </div>
          <div class="section">
            <h4>你们更新频密吗?</h4>
            <p>我们至少每24 小时做更新</p>
          </div>
          <div class="section">
            <h4>为什么有一部分的内容我看不见?</h4>
            <p>你一定要注册付费去使用所有功能,但如果你有问题不能显示所有网页内容，我们建议你至少使用: IE 11, Chrome, Mozilla FireFox 与 Safari, 请到官网下载最新版的浏览器</p>
          </div>
          <div class="section">
            <h4>我在你门网页发现了错误的内容，我应该怎么做?</h4>
            <p>小量的错误一般在所有网站是无可避免的，我们鼎力为所有顾客提供最好的用户体验, 请在<a href="mailto:info@esportsmatrix.com">info@esportsmatrix.com</a>联络我们</p>
          </div>
          <div class="section">
            <h4>我不能在你们网站享受你们的游戏,为什么?</h4>
            <p>我们会尽力让我们在所有国家里合法使用与享受我们的产品,如果我们封锁了你的游戏使用，或许在你们的国家这个游戏是不能在管制下经营的.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/member/faq.html">帮助</a></li>
              <li><a href="/member/contact.html">联系我们</a></li>
              <li><a href="/member/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/member/terms-of-use.html">使用条款</a></li>
              <li><a href="/member/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/member/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/member/">游戏大厅</a></li>
              <li><a href="/member/personal-center-default.html">个人中心</a></li>
              <li><a href="/member/personal-center-default.html#leaderboard">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>

app/faq.jade
extends layouts/default-logged

block content
  .container.text
    .row.text-row
      .col-xs-12
        h1.page-title 常见问题
        .section


          h4 你们的内容准确吗?
          p
            | 我们会通过不同的消息来源去验证所有的资料与新闻
        .section

          h4 你们更新频密吗?
          p
            | 我们至少每24 小时做更新

        .section
          h4 为什么有一部分的内容我看不见?
          p
            | 你一定要注册付费去使用所有功能,但如果你有问题不能显示所有网页内容，我们建议你至少使用: IE 11, Chrome, Mozilla FireFox 与 Safari, 请到官网下载最新版的浏览器

        .section
          h4 我在你门网页发现了错误的内容，我应该怎么做?
          p
            | 小量的错误一般在所有网站是无可避免的，我们鼎力为所有顾客提供最好的用户体验, 请在
            a(href='mailto:info@esportsmatrix.com') info@esportsmatrix.com
            | 联络我们

        .section
          h4 我不能在你们网站享受你们的游戏,为什么?
          p 我们会尽力让我们在所有国家里合法使用与享受我们的产品,如果我们封锁了你的游戏使用，或许在你们的国家这个游戏是不能在管制下经营的.
          
