dist/index-banner.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>My Webapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="login-helper text-right"><a href="#login-modal" class="btn square yellow modal-btn"><img src="../images/login.png">欢迎登录</a><a id="launch-register" href="#register-modal" class="btn square yellow modal-btn"><img src="../images/register.png">立即注册</a></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="./index.html" class="navbar-brand"><img src="./images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper">
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="./images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="index-en.html"><img src="./images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="#"><img src="../images/home.png">首页</a></li>
                <li><a href="#"><img src="../images/match.png">比赛详情</a></li>
                <li><a href="#"><img src="../images/tutorial.png">游戏教学</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="#"><img src="../images/nav-lol.png">LOL赛果</a></li>
                <li><a href="#"><img src="../images/nav-dota.png">DOTA赛果</a></li>
                <li><a href="#"><img src="../images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="flexslider">
      <div class="slides">
        <li><img src="../images/Exports_1680_01_girl.jpg"></li>
        <li><img src="../images/Exports_1680_02_fish.jpg"></li>
        <li><img src="../images/Exports_1680_03_money.jpg"></li>
        <li><img src="../images/Exports_1680_04_prize.jpg"></li>
      </div>
    </div>
    <div class="container games">
      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 sidebar col-height col-top">
            <div class="sidebar-inner">
              <h3 class="sidebar-title">选择的游戏<span class="pull-right search-game dropdown"><a data-toggle="dropdown" class="glyphicon glyphicon-list btn btn-sm dropdown-toggle"></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">LOL</a></li>
                    <li><a href="#">Dota 2</a></li>
                  </ul></span></h3>
              <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading-padding blue">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#lol"><img src="./images/league-icon.png" class="league-icon">LOL<span class="arrow"></span></a></h4>
                  </div>
                  <div id="lol" class="panel-collapse collapse in">
                    <ul class="panel-body">
                      <li><a href="#"> LOL Summer Season</a></li>
                      <li><a href="#"> 2016 LMS
                          <button class="yellow">NEW!</button></a></li>
                      <li><a href="#"> Dota 2016</a></li>
                      <li><a href="#">2016 Dota Summer</a></li>
                    </ul>
                  </div>
                  <div class="panel-heading-padding red">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#dota" class="collapsed"><img src="./images/dota-icon.png" class="league-icon">Dota 2<span class="arrow"></span></a></h4>
                  </div>
                  <div id="dota" class="panel-collapse collapse">
                    <ul class="panel-body">
                      <li><a href="#"> Dota 2016 Summer Season</a></li>
                      <li><a href="#"> 2016 LMS
                          <button class="yellow">NEW!</button></a></li>
                      <li><a href="#"> Dota 2016</a></li>
                      <li><a href="#">2016 Dota Summer</a></li>
                    </ul>
                  </div>
                </div>
              </div><a href="#" class="all">All</a>
            </div>
          </div>
          <div class="col-xs-10 game-panel col-height col-top">
            <div class="panel-title row">
              <div class="input-group">
                <form style="display:inline;">
                  <!--input#market(type='checkbox',name='market',data-size='mini')--><span class="market-tag">欧洲赔率</span>
                </form>
                <input placeholder="Search" class="form-control"><span class="input-group-btn"><span class="glyphicon glyphicon-search"></span></span>
              </div>
              <ul class="panel-pagination">
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">></a></li>
              </ul>
            </div>
            <div class="panel-content over all-game"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/faq.html">帮助</a></li>
              <li><a href="#">联系我们</a></li>
              <li><a href="/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/terms-of-use.html">使用条款</a></li>
              <li><a href="/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/rules.html">博彩规则</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="../images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="../images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="./images/fb.png"></a></li>
            <li><a><img src="./images/twitter.png"></a></li>
            <li><a><img src="./images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="register-modal">
        <div class="modal-header">
          <h4 class="modal-title">注册</h4>
        </div>
        <div class="modal-body"><img src="./images/popup-header.jpg">
          <form class="form-horizontal register-form">
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="regLogin">用户名</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="text" id="regLogin" name="regLogin">
              </div>
              <div class="col-xs-4 tip text-left">用户名不允许出现符号，确认后不可再修改</div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="regPassword">密码</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="password" id="regPassword" name="regPassword" class="checkpassword">
              </div>
              <div class="col-xs-4 tip text-left">强度<span class="password-strength progress">
                  <div class="progress-bar"></div></span></div>
            </div>
            <div class="form-group">
              <div class="checkbox col-xs-push-4 text-left col-xs-7">
                <label>
                  <input type="checkbox">我同意，我已成年满18岁，我可以合法赌博.
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox col-xs-push-4 text-left col-xs-7">
                <label>
                  <input type="checkbox">我已阅读并同意ESportGaming的
                  <a href='./term.html'>条款</a>
                </label>
              </div>
            </div>
            <hr>
            <button type="submit" class="button dark-red">立即注册</button>
          </form>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="login-modal">
        <div class="modal-header">
          <h4 class="modal-title">登录</h4>
        </div>
        <div class="modal-body"><img src="./images/popup-header.jpg">
          <form class="form-horizontal login-form">
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="loginEmail">用户名</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="text" name="loginEmail">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="loginPassword">密码</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="password" name="loginPassword">
              </div>
              <div class="col-xs-4 tip text-left"><a href="#" class="forget">找回密码！</a></div>
            </div>
            <hr>
            <button type="submit" class="btn dark-red">登录</button>
            <p>没有账号吗？<a href="#" class="go-register yellow">立即注册</a></p>
          </form>
          <div style="display:none;" class="recovery-password">
            <ul class="nav nav-tabs tab-pill">
              <li class="active"><a href="#recover-username" data-toggle="tab">邮箱</a></li>
              <li><a href="#recover-phone" data-toggle="tab">手机</a></li>
            </ul>
            <div class="tab-content">
              <div id="recover-username" class="tab-pane active">
                <form class="form-horizontal recovery-form">
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverLogin">邮箱</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" name="recoverLogin" placeholder="请输入您的邮箱！">
                    </div>
                    <div class="col-xs-3 input text-left"><a href="#" class="chrome">发送验证码</a><a href="#" class="verification"><span class="timer">60s</span>重新发送</a></div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverCode">验证码</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" id="recoverCode" name="recoverCode" placeholder="请输入验证码">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">注册</a><a href="#" class="button dark-red pull-right go-change-pw">下一步</a></div>
                  </div>
                </form>
              </div>
              <div id="recover-phone" class="tab-pane">
                <form class="form-horizontal recoveryphone-form">
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverPhone">手机</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <select class="default">
                        <option selected="selected">+86</option>
                      </select>
                      <input id="recoverPhone" type="text" name="recoverPhone" placeholder="请输入您的手机号！">
                    </div>
                    <div class="col-xs-3 input text-left"><a href="#" class="chrome">发送验证码</a><a href="#" class="verification"><span class="timer">60s</span>重新发送</a></div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverPhoneCode">验证码</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" id="recoverPhoneCode" name="recoverPhoneCode" placeholder="请输入验证码">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">注册</a><a href="#" class="button dark-red pull-right go-change-pw">下一步</a></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div style="display:none;" class="change-password">
            <form class="form-horizontal change-password-form">
              <div class="form-group">
                <div class="col-xs-4 label text-right"><span class="red">*</span>
                  <label for="changePassword">输入密码</label>
                </div>
                <div class="col-xs-5 input text-left">
                  <input type="password" name="changePassword">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4 label text-right"><span class="red">*</span>
                  <label for="changeCPassword">再次输入</label>
                </div>
                <div class="col-xs-5 input text-left">
                  <input type="password" id="changeCPassword" name="changeCPassword">
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">注册</a><a href="#" class="button dark-red pull-right close-modal">立即登录</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/plugins.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>

app/index-banner.jade
extends layouts/default

block content
  .flexslider
    .slides
      li
        img(src='../images/Exports_1680_01_girl.jpg')
      li
        img(src='../images/Exports_1680_02_fish.jpg')
      li
        img(src='../images/Exports_1680_03_money.jpg')
      li
        img(src='../images/Exports_1680_04_prize.jpg')

  .container.games
    .row
      .row-height
        .col-xs-2.sidebar.col-height.col-top
          .sidebar-inner
            h3.sidebar-title 选择的游戏
              span.pull-right.search-game.dropdown
                a.glyphicon.glyphicon-list.btn.btn-sm.dropdown-toggle(data-toggle='dropdown')
                ul.dropdown-menu
                  li
                    a(href='#')
                      | LOL
                  li
                    a(href='#')
                      | Dota 2



            .panel-group#accordion
              .panel.panel-default
                .panel-heading-padding.blue
                  h4.panel-title
                    a(data-toggle='collapse' data-parent='#accordion' href='#lol')
                      img.league-icon(src='./images/league-icon.png')
                      | LOL
                      span.arrow
                #lol.panel-collapse.collapse.in
                  ul.panel-body
                    li
                      a(href='#')  LOL Summer Season
                    li
                      a(href='#')  2016 LMS
                        button.yellow NEW!
                    li
                      a(href='#')  Dota 2016
                    li
                      a(href='#') 2016 Dota Summer

                .panel-heading-padding.red
                  h4.panel-title
                    a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#dota')
                      img.league-icon(src='./images/dota-icon.png')
                      | Dota 2
                      span.arrow
                #dota.panel-collapse.collapse
                  ul.panel-body
                    li
                      a(href='#')  Dota 2016 Summer Season
                    li
                      a(href='#')  2016 LMS
                        button.yellow NEW!
                    li
                      a(href='#')  Dota 2016
                    li
                      a(href='#') 2016 Dota Summer
            a.all(href="#") All

        .col-xs-10.game-panel.col-height.col-top
          .panel-title.row

            .input-group
              form(style='display:inline;')
                //input#market(type='checkbox',name='market',data-size='mini')
                span.market-tag 欧洲赔率
              input.form-control(placeholder="Search")
              span.input-group-btn
                span.glyphicon.glyphicon-search

            ul.panel-pagination
              li
                a.active(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') >

          .panel-content.over.all-game
