dist/leaderboard.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="account" title="会员中心"><img src="images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="../images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="../images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="./index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="../images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="index-en.html"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
              <a href="http://points-uat.esportsmatrix.com/" target="_blank" class='side-button'>
                <span class='button dark-red circle'><img src="/images/store.png"></span>
                <span class='button yellow rounded'>前往商店</span>
              </a>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/"><img src="../images/home.png">游戏大厅</a></li>
                <li><a href="#"><img src="../images/match.png">比赛详情</a></li>
                <li><a href="vip.html"><img src="../images/tutorial.png">游戏教学</a></li>
                <li><a href="contest.html"><img src="../images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="../images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="../images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/personal-center-default.html"><img src="../images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="../images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container personal-center">
      <div class="row">
        <div class="col-xs-6">
          <div class="row same-height">
            <div class="col-xs-2 avatar"><img src="images/avatar.png" class="img-circle">Player Name<a id="launch-avatar" href="#avatar-modal" class="update-avatar btn silver modal-btn">修改头像</a></div>
            <div class="col-xs-10 less-pad">
              <div class="frame profile">
                <div class="silver vertical-text">白银段位<span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="current-state">
                  <div class="state-content">
                    <div class="state-content-left"><img src="/images/badge.png">
                      <div data-rating="3" class="rating"></div>
                    </div>
                    <div class="state-content-right">
                      <div class="title">当前段位：<strong>白银VIP2级</strong></div>
                      <div class="level clearfix">
                        <div class="level-left">升级还需</div>
                        <div class="level-right gold-text">50经验值</div>
                      </div>
                      <div class="progress">
                        <div style="width:50%" class="progress-bar">50/100</div>
                      </div>
                    </div>
                    <div class="state-content-share">
                      <ul class="share-vertical">
                        <li><a><img src="/images/fb.png"></a></li>
                        <li><a><img src="/images/twitter.png"></a></li>
                        <li><a><img src="/images/weibo.png"></a></li>
                      </ul><a href="#share-modal" class="btn large yellow launch-refer-modal"><img src="/images/share-symbol.png"><br>立即分享</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="invite-col"><a href="#invite-modal" class="launch-refer-modal"><img src="/images/invite-background.jpg" class="img-responsive">
                <div class="invite-content">
                  <h4>邀请好友并成功注册即可获得</h4>
                  <div class="invite-inner">
                    <div><img src="/images/gem-img.png">价值<span class="gold-text">$</span><span class="gold-text huge">1,000</span>宝石</div>
                    <div><img src="/images/gold-img.png">价值<span class="gold-text">$</span><span class="gold-text huge">1,000</span>游戏币</div>
                  </div>
                </div><span class="btn large yellow"><img src="/images/invite-symbol.png"><br>立即邀请</span></a></div>
            <div class="col-xs-6 vipstore-col"><a href='http://points-uat.esportsmatrix.com/' target='_blank'><img src="/images/playercenter-ad-2.png" class="img-responsive"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="leaderboard-wrapper">
            <ul class="nav nav-tabs clearfix leaderboard-tab">
              <li class="active"><a href="#threeday-tab" data-toggle="tab">三天挑战赛</a></li>
              <li><a href="#oneweek-tab" data-toggle="tab">一周挑战赛</a></li>
              <li><a href="#onemonth-tab" data-toggle="tab">每月挑战赛</a></li>
              <li><a href="#halfyear-tab" data-toggle="tab">季度挑战赛</a></li>
              <li class="pull-right lastupdated">更新时间 : 2016-12-27 18.41</li>
            </ul>
            <div class="tab-content leaderboard-tab-content">
              <div id="threeday-tab" class="tab-pane active">
                <ul class="nav nav-tabs clearfix threeday-inner">
                  <li class="active"><a href="#threeday-player" data-toggle="tab"><img src="../images/leaderboard-chart.png">玩家排行</a></li>
                  <li><a href="#threeday-friend" data-toggle="tab"><img src="../images/leaderboard-friend.png">好友排行</a></li>
                  <li class="leaderboard-date pull-right">
                    <div class="date-label">
                      <div class="gold-text">结算日期</div>
                      <div class="date-value">2016-12-30 18.41</div>
                    </div>
                    <div class="leaderboard-countdown"></div>
                  </li>
                </ul>
                <div class="tab-content leaderboard-tab-inner-content">
                  <div id="threeday-player" class="tab-pane active">
                    <div class="table-wrap">
                      <div class="scrollWrap">
                        <ul>
                          <li class="head"><span class="rank"><img src="/images/leaderboard-rank.png">排名</span><span class="user"><img src="/images/leaderboard-user.png">游戏名</span><span class="level"><img src="/images/leaderboard-level.png">段位</span><span class="balance"><img src="/images/leaderboard-balance.png">所剩结余</span><span class="reward"><img src="/images/leaderboard-reward.png">获利</span></li>
                          <li class="first"><span class="rank"><img src="/images/gold-crown.png"><img src="/images/green-up.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/drop.png"></span></li>
                          <li class="second"><span class="rank"><img src="/images/silver-crown.png"><img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/rise.png"></span></li>
                          <li class="third"><span class="rank"><img src="/images/bronze-crown.png"><img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/rise.png"></span></li>
                          <li><span class="rank">4<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/drop.png"></span></li>
                          <li><span class="rank">5<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/rise.png"></span></li>
                          <li><span class="rank">6<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/rise.png"></span></li>
                          <li><span class="rank">7<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/drop.png"></span></li>
                          <!--li.view-more
                          //a.more(href='#')
                            //| 点击查看更多
                            //img(src='./images/d-arrow.png')
                          -->
                          <li><span class="rank">8<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/drop.png"></span></li>
                          <li><span class="rank">9<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/rise.png"></span></li>
                          <li><span class="rank">10<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/drop.png"></span></li>
                          <li><span class="rank">11<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/rise.png"></span></li>
                          <li><span class="rank">12<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/drop.png"></span></li>
                          <li><span class="rank">13<img src="/images/red-down.png"></span><span class="user"><img src="/images/user.png">Dengdan</span><span class="level"><img src="/images/badge.png">白银2</span><span class="balance"><img src="/images/leaderboard-coin.png">4,000,000</span><span class="reward"><img src="/images/leaderboard-coin.png">4,000,000<img src="/images/drop.png"></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="threeday-friend" class="tab-pane">three day friend</div>
                </div>
              </div>
              <div id="oneweek-tab" class="tab-pane">
                <ul class="nav nav-tabs clearfix oneweek-inner">
                  <li class="active"><a href="#oneweek-player" data-toggle="tab"><img src="../images/leaderboard-chart.png">玩家排行</a></li>
                  <li><a href="#oneweek-friend" data-toggle="tab"><img src="../images/leaderboard-friend.png">好友排行</a></li>
                </ul>
                <div class="tab-content leaderboard-tab-inner-content">
                  <div id="oneweek-player" class="tab-pane active">one week player</div>
                  <div id="oneweek-friend" class="tab-pane">one week friend</div>
                </div>
              </div>
              <div id="onemonth-tab" class="tab-pane">
                <ul class="nav nav-tabs clearfix onemonth-inner">
                  <li class="active"><a href="#onemonth-player" data-toggle="tab"><img src="../images/leaderboard-chart.png">玩家排行</a></li>
                  <li><a href="#onemonth-friend" data-toggle="tab"><img src="../images/leaderboard-friend.png">好友排行</a></li>
                </ul>
                <div class="tab-content leaderboard-tab-inner-content">
                  <div id="onemonth-player" class="tab-pane active">one mth player</div>
                  <div id="onemonth-friend" class="tab-pane">one mth friend</div>
                </div>
              </div>
              <div id="halfyear-tab" class="tab-pane">
                <ul class="nav nav-tabs clearfix halfyear-inner">
                  <li class="active"><a href="#halfyear-player" data-toggle="tab"><img src="../images/leaderboard-chart.png">玩家排行</a></li>
                  <li><a href="#halfyear-friend" data-toggle="tab"><img src="../images/leaderboard-friend.png">好友排行</a></li>
                </ul>
                <div class="tab-content leaderboard-tab-inner-content">
                  <div id="halfyear-player" class="tab-pane active">halfyear player</div>
                  <div id="halfyear-friend" class="tab-pane">halfyear friend</div>
                </div>
              </div>
            </div>
            <div class="leaderboard-info">
              <div class="enter-contest"><img src="/images/leaderboard-info.png" class="img-responsive">
                <div class="enter-contest-content">
                  <div class="up-gem"><img src="/images/gem-img.png">宝石彩池<br><span class="million">0</span><span class="hundred-thounsand">0</span><span class="ten-thounsand">0</span><span class="thousand">0</span><span class="hundred">0</span><span class="ten">0</span><span class="unit">0</span></div>
                  <div class="down-participant"><img src="/images/participant.png">参加人数<br><span class="million">0</span><span class="hundred-thounsand">0</span><span class="ten-thounsand">0</span><span class="thousand">0</span><span class="hundred">0</span><span class="ten">0</span><span class="unit">0</span></div>
                </div>
              </div>
              <div class="poll">
                <h3><img src="/images/gem-img.png">派彩</h3>
                <div class="table-wrap">
                  <div class="scrollWrap">
                    <ul>
                      <li class="head"><span class="left"><img src="/images/leaderboard-rank.png">排名</span><span class="right"><img src="/images/gem-img.png">获得宝石</span></li>
                      <li class="first"><span class="left"><img src="/images/poll-gold.png"></span><span class="right"><img src="/images/gem-img.png"><span class="gold-text">5,000,000</span></span></li>
                      <li class="second"><span class="left"><img src="/images/poll-silver.png"></span><span class="right"><img src="/images/gem-img.png"><span class="gold-text">5,000,000</span></span></li>
                      <li class="third"><span class="left"><img src="/images/poll-bronze.png"></span><span class="right"><img src="/images/gem-img.png"><span class="gold-text">5,000,000</span></span></li>
                      <li><span class="left">4</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                      <li><span class="left">5</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                      <li><span class="left">6-100</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                      <li><span class="left">101-500</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                      <li><span class="left">501-700</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                      <li><span class="left">501-700</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                      <li><span class="left">501-700</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                      <li><span class="left">501-701</span><span class="right"><img src="/images/gem-img.png">5,000,000</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="avatar-modal">
        <div class="modal-header">
          <h4 class="modal-title text-center">修改头像</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#upload-avatar" data-toggle="tab">自定义头像</a></li>
            <li><a href="#pick-avatar" data-toggle="tab">经典头像</a></li>
          </ul>
          <div class="tab-content">
            <div id="upload-avatar" class="tab-pane active"><img src="images/avatar.png" class="img-responsive uploaded">
              <label class="btn yellow">
                <input id="inputImage" type="file" accept="image/*" class="sr-only">本地上載
              </label>
            </div>
            <div id="pick-avatar" class="tab-pane">
              <div class="avatar"><img src="/images/avatar-aatrox.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-ahri.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-akali.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-alistar.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-amumu.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-aatrox.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-ahri.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-akali.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-alistar.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-amumu.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-aatrox.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-ahri.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-akali.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-alistar.jpg">
                <div class="name">Avatar Name</div>
              </div>
              <div class="avatar"><img src="/images/avatar-amumu.jpg">
                <div class="name">Avatar Name</div>
              </div>
            </div>
          </div>
          <div class="preview-area">预览
            <div class="preview-sm">
              <div class="preview"></div>60x60
            </div>
            <div class="preview-md">
              <div class="preview"></div>100x100
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <div class="form-group">
            <div class="col-xs-12"><a href="#" class="button outline-red pull-left close-modal">取消</a><a href="#" class="button dark-red pull-right close-modal">确定</a></div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="share-modal" class="red refer-modal">
        <div class="modal-inner">
          <div class="modal-header">
            <h4 class="modal-title">邀请好友<span class="grey-out">推荐成功即可获得~</span></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 modal-img-wrapper"><img src="/images/invite-bg.jpg" class="modal-img">
                <div class="modal-img-text">
                  <h4>邀请成功即可获得100游戏币</h4>
                  <p>每日邀请不上限，好友注册完成基本信息任务即可获得</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center">
                <h2>您的好友通过邮箱链接进入网站即可注册</h2><img src="/images/missing-mail.png">  邮箱
                <input type="text" placeholder="请填写好友的邮箱">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-11 text-left col-xs-push-1">您的好友必须成功注册并填写以下信息才能获得
                <ul class="missing-item">
                  <li><img src="/images/missing-phone.png">手机号</li>
                  <li><img src="/images/missing-mail.png">邮箱</li>
                  <li><img src="/images/missing-account.png">游戏账号</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row text-center"><a href="#" class="close-modal done"><img src="images/continue.jpg"><span>发送</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="invite-modal" class="red refer-modal">
        <div class="modal-inner">
          <div class="modal-header">
            <h4 class="modal-title">分享好友<span class="grey-out">与好友共享辉煌时刻~</span></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 modal-img-wrapper"><img src="/images/share-bg.jpg" class="modal-img">
                <div class="refer-show-rank"><img src="/images/badge.png">
                  <div data-rating="3" class="rating"></div>
                  <div class="level">白银VIP2级</div>
                </div>
              </div>
            </div>
            <div class="row align-modal-img">
              <div class="col-xs-10 text-center">
                <input id="copy-me" type="text" readOnly value="http://image.baidu.com/search/detail?ct=503316480&amp;z=0&amp;ipn=d&amp;word1&amp;st=-1&amp;cs21651613315=3660361838%pg&amp;fro..." class="copy-me">
              </div>
              <div class="col-xs-2"><a href="#" data-clipboard-target="#copy-me" class="btn yellow copy-me-btn">复制</a></div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center">选择邀请社交平台：
                <ul class="share-platform">
                  <li><a href="http://www.twitter.com" target="_blank"><img src="/images/twitter-share.jpg"></a></li>
                  <li><a href="http://www.qq.com" target="_blank"><img src="/images/qq-share.jpg"></a></li>
                  <li><a href="http://www.weibo.com" target="_blank"><img src="/images/weibo-share.jpg"></a></li>
                  <li><a href="http://www.tencent.com" target="_blank"><img src="/images/wechat-share.jpg"></a></li>
                  <li><a href="http://www.facebook.com" target="_blank"><img src="/images/fb-share.jpg"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/faq.html">帮助</a></li>
              <li><a href="/contact.html">联系我们</a></li>
              <li><a href="/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/terms-of-use.html">使用条款</a></li>
              <li><a href="/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/">游戏大厅</a></li>
              <li><a href="/contest.html">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>

app/leaderboard.jade
extends layouts/default-logged

block content
  .container.personal-center
    .row
      .col-xs-6
        .row.same-height
          .col-xs-2.avatar
            img.img-circle(src='images/avatar.png')
            | Player Name
            a.update-avatar.btn.silver.modal-btn#launch-avatar(href='#avatar-modal')
              | 修改头像
          .col-xs-10.less-pad
            .frame.profile
              .silver.vertical-text
                | 白银段位
                span.glyphicon.glyphicon-chevron-right

              .current-state
                .state-content
                  .state-content-left
                    img(src='./images/badge.png')

                    .rating(data-rating="3")
                  .state-content-right
                    .title
                      | 当前段位：
                      strong 白银VIP2级
                    .level.clearfix
                      .level-left
                        | 升级还需
                      .level-right.gold-text
                        | 50经验值
                    .progress
                      .progress-bar(style="width:50%") 50/100

                  .state-content-share
                    ul.share-vertical
                      li
                        a
                          img(src='./images/fb.png')
                      li
                        a
                          img(src='./images/twitter.png')
                      li
                        a
                          img(src='./images/weibo.png')
                    a.btn.large.yellow.launch-refer-modal(href='#share-modal')
                      img(src='./images/share-symbol.png')
                      br
                      | 立即分享


      .col-xs-6
        .row
          .invite-col
            a.launch-refer-modal(href='#invite-modal')
              img.img-responsive(src='./images/invite-background.jpg')
              .invite-content
                h4 邀请好友并成功注册即可获得
                .invite-inner
                  div
                    img(src='./images/gem-img.png')
                    | 价值
                    span.gold-text $
                    span.gold-text.huge 1,000
                    | 宝石
                  div
                    img(src='./images/gold-img.png')
                    | 价值
                    span.gold-text $
                    span.gold-text.huge 1,000
                    | 游戏币
              span.btn.large.yellow
                img(src='./images/invite-symbol.png')
                br
                | 立即邀请

          .col-xs-6.vipstore-col
            img.img-responsive(src='./images/playercenter-ad-2.png')



  .container
    .row
      .col-xs-12
        .leaderboard-wrapper
          ul.nav.nav-tabs.clearfix.leaderboard-tab
            li.active
              a(href='#threeday-tab', data-toggle='tab') 三天挑战赛
            li
              a(href='#oneweek-tab',data-toggle='tab') 一周挑战赛
            li
              a(href='#onemonth-tab',data-toggle='tab') 每月挑战赛
            li
              a(href='#halfyear-tab',data-toggle='tab') 季度挑战赛
            li.pull-right.lastupdated
              | 更新时间 : 2016-12-27 18.41

          .tab-content.leaderboard-tab-content
            .tab-pane.active#threeday-tab
              ul.nav.nav-tabs.clearfix.threeday-inner
                li.active
                  a(href='#threeday-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#threeday-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行

                li.leaderboard-date.pull-right
                  .date-label
                    .gold-text 结算日期
                    .date-value 2016-12-30 18.41
                  .leaderboard-countdown

              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#threeday-player
                  .table-wrap
                    .scrollWrap
                      ul
                        li.head
                          span.rank
                            img(src='./images/leaderboard-rank.png')
                            | 排名
                          span.user
                            img(src='./images/leaderboard-user.png')
                            | 游戏名
                          span.level
                            img(src='./images/leaderboard-level.png')
                            | 段位
                          span.balance
                            img(src='./images/leaderboard-balance.png')
                            | 所剩结余
                          span.reward
                            img(src='./images/leaderboard-reward.png')
                            | 获利

                        li.first
                          span.rank
                            img(src='./images/gold-crown.png')
                            img(src='./images/green-up.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')

                        li.second
                          span.rank
                            img(src='./images/silver-crown.png')
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')

                        li.third
                          span.rank
                            img(src='./images/bronze-crown.png')
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')

                        li
                          span.rank
                            | 4
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')

                        li
                          span.rank
                            | 5
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 6
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 7
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        //li.view-more
                          //a.more(href='#')
                            //| 点击查看更多
                            //img(src='./images/d-arrow.png')
                        li
                          span.rank
                            | 8
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        li
                          span.rank
                            | 9
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 10
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        li
                          span.rank
                            | 11
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 12
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        li
                          span.rank
                            | 13
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')




                .tab-pane#threeday-friend
                  | three day friend

            .tab-pane#oneweek-tab
              ul.nav.nav-tabs.clearfix.oneweek-inner
                li.active
                  a(href='#oneweek-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#oneweek-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行
              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#oneweek-player
                  | one week player
                .tab-pane#oneweek-friend
                  | one week friend

            .tab-pane#onemonth-tab
              ul.nav.nav-tabs.clearfix.onemonth-inner
                li.active
                  a(href='#onemonth-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#onemonth-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行
              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#onemonth-player
                  | one mth player
                .tab-pane#onemonth-friend
                  | one mth friend

            .tab-pane#halfyear-tab
              ul.nav.nav-tabs.clearfix.halfyear-inner
                li.active
                  a(href='#halfyear-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#halfyear-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行
              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#halfyear-player
                  | halfyear player
                .tab-pane#halfyear-friend
                  | halfyear friend


          .leaderboard-info
            .enter-contest
              img.img-responsive(src='./images/leaderboard-info.png')
              .enter-contest-content
                .up-gem
                  img(src='./images/gem-img.png')
                  | 宝石彩池
                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
                .down-participant
                  img(src='./images/participant.png')
                  | 参加人数

                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
            .poll
              h3
                img(src='./images/gem-img.png')
                | 派彩
              .table-wrap
                .scrollWrap
                  ul
                    li.head
                      span.left
                        img(src='./images/leaderboard-rank.png')
                        | 排名
                      span.right
                        img(src='./images/gem-img.png')
                        | 获得宝石

                    li.first
                      span.left
                        img(src='./images/poll-gold.png')
                      span.right
                        img(src='./images/gem-img.png')
                        span.gold-text 5,000,000

                    li.second
                      span.left
                        img(src='./images/poll-silver.png')
                      span.right
                        img(src='./images/gem-img.png')
                        span.gold-text 5,000,000

                    li.third
                      span.left
                        img(src='./images/poll-bronze.png')
                      span.right
                        img(src='./images/gem-img.png')
                        span.gold-text 5,000,000

                    li
                      span.left
                        | 4
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 5
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 6-100
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 101-500
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 501-700
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000
                    li
                      span.left
                        | 501-700
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000
                    li
                      span.left
                        | 501-700
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000
                    li
                      span.left
                        | 501-701
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000


  div(style='display:none')
    #avatar-modal
      .modal-header
        h4.modal-title.text-center 修改头像
      .modal-body
        ul.nav.nav-tabs
          li.active
            a(href='#upload-avatar', data-toggle='tab')
              | 自定义头像
          li
            a(href='#pick-avatar', data-toggle='tab')
              | 经典头像
        .tab-content
          .tab-pane.active#upload-avatar
            img.img-responsive.uploaded(src='images/avatar.png')

            label.btn.yellow
              input.sr-only#inputImage(type='file', accept='image/*')
              | 本地上載
          .tab-pane#pick-avatar
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
        .preview-area
          | 预览
          .preview-sm
            .preview
            | 60x60
          .preview-md
            .preview
            | 100x100
        .clearfix
        hr
        .form-group
          .col-xs-12
            a.button.outline-red.pull-left.close-modal(href='#') 取消
            a.button.dark-red.pull-right.close-modal(href='#') 确定


  div(style='display:none')
    #share-modal.red.refer-modal
      .modal-inner
        .modal-header
          h4.modal-title 邀请好友
            span.grey-out 推荐成功即可获得~
        .modal-body
          .row
            .col-xs-12.modal-img-wrapper
              img.modal-img(src='./images/invite-bg.jpg')
              .modal-img-text
                h4 邀请成功即可获得100游戏币
                p 每日邀请不上限，好友注册完成基本信息任务即可获得
          .row
            .col-xs-12.text-center
              h2 您的好友通过邮箱链接进入网站即可注册
              img(src='./images/missing-mail.png')
              |   邮箱
              input(type='text', placeholder='请填写好友的邮箱')
          hr
          .row
            .col-xs-11.text-left.col-xs-push-1
              | 您的好友必须成功注册并填写以下信息才能获得
              ul.missing-item
                li
                  img(src='./images/missing-phone.png')
                  | 手机号
                li
                  img(src='./images/missing-mail.png')
                  | 邮箱
                li
                  img(src='./images/missing-account.png')
                  | 游戏账号
          hr
          .row.text-center
            a.close-modal.done(href='#')
              img(src='images/continue.jpg')
              span 发送

  div(style='display:none')
    #invite-modal.red.refer-modal
      .modal-inner
        .modal-header
          h4.modal-title 分享好友
            span.grey-out 与好友共享辉煌时刻~
        .modal-body
          .row
            .col-xs-12.modal-img-wrapper
              img.modal-img(src='./images/share-bg.jpg')
              .refer-show-rank
                img(src='./images/badge.png')
                .rating(data-rating="3")
                .level 白银VIP2级
          .row.align-modal-img
            .col-xs-10.text-center
              input.copy-me#copy-me(type='text', readOnly, value='http://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word1&st=-1&cs21651613315=3660361838%pg&fro...')
            .col-xs-2
              a.btn.yellow.copy-me-btn(href='#', data-clipboard-target="#copy-me")
                | 复制
          .row
            .col-xs-12.text-center
              | 选择邀请社交平台：
              ul.share-platform
                li
                  a(href='http://www.twitter.com', target='_blank')
                    img(src='./images/twitter-share.jpg')
                li
                  a(href='http://www.qq.com', target='_blank')
                    img(src='./images/qq-share.jpg')
                li
                  a(href='http://www.weibo.com', target='_blank')
                    img(src='./images/weibo-share.jpg')
                li
                  a(href='http://www.tencent.com', target='_blank')
                    img(src='./images/wechat-share.jpg')
                li
                  a(href='http://www.facebook.com', target='_blank')
                    img(src='./images/fb-share.jpg')
