dist/member/privacy-policy.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn loggedin">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/contest/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="/member/personal-center-default.html" title="会员中心"><img src="/images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="/images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="/images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="/member/index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="/images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/member/index.html"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/member/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/member/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/member/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/member/personal-center-default.html"><img src="/images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container text">
      <div class="row text-row">
        <div class="col-xs-12">
          <h1 class="page-title">隐私权政策</h1>
          <div class="section">
            <h3 class="white">电竞668非常尊重客户提供给我们的个人隐私信息。我们将尽全力保护客户个人信息的私密性，让客户无后顾之忧。以下为我们关于客户个人信息隐私权保护规则的内容：</h3>
            <h3>1. 简介</h3>
            <h4>1.1</h4>
            <p>本网站服务由电竞668提供。为了让客户在这能享受到安全愉悦的服务体验，我们征求客户仔细阅读此“隐私权保护规则条款”，因为这将涉及到我们使用您个人信息的相关事项。对待客户的个人隐私本公司本着非常严谨的态度。</p>
            <h4>1.2</h4>
            <p>为了让客户享受进一步服务，有时我们可能需要求客户提供个人信息。本政策将会涵盖客户提供给我们的个人信息的使用事项，同时也涉及相关信息记录程序的内容。</p>
            <h4>1.3</h4>
            <p>有时，客户接受进一步服务前我们可能需要客户提供个人信息（如，姓名，通信地址，邮箱地址，会员编号，电话或手机号码，出生日期或支付信息），任何情况下，我们都将对照此政策来处理您的个人信息。在使用您的个人信息时我们将适用现行的法律条款，并竭力采取最佳最稳妥的方式处理。</p>
            <h4>1.4</h4>
            <p>同时，我们也将监控您在本网站的活动内容，可能包括您的访问量，访问页面，网络服务的原始域名等，这将有助于我们建立客户个人档资料。其中部分数据将被聚合统计，这意味着我们将不能对其单独进行检验。</p>
          </div>
          <div class="section">
            <h3>2. 我们收集的内容及其目的</h3>
            <h4>2.1</h4>
            <p>阁下在电竞668开户时，我们将要求您提供某些个人信息，如；姓名，通信地址，邮箱地址，密码及确认您是否已年满18周岁（电竞668只接收达到法定年龄18周岁或以上的客户）。我们可能需使用您的个人信息用来确认您的各种金融交易，定期发送公司实时简讯，提供客服支持及完善全面的博彩服务给您。如果您想中止接收公司实时简讯，您可根据提示在简讯接收选项做出相关选择。另须注意，你注册的姓名必须是您本人姓名，你所注册的资料为真实有效资料，因为这将用于随后的交易验证及前述的其它用途。</p>
            <h4>2.2</h4>
            <p>会员可在下载软件选择账户选项更改您的账户信息。</p>
          </div>
          <div class="section">
            <h3>3. 访问信息</h3>
            <h4>3.1</h4>
            <p>在阁下访问我们网站页面的过程中，将会有个小的文本夹“信息记录程序”存储在您的电脑。很多网站都有类似设置，因为此设置对网站发行商是非常有用的，譬如可以记录该计算机（或用户）是否曾浏览过此网站。</p>
            <h4>3.2</h4>
            <p>电竞668将会对客户“信息记录程序”及IP地址进行存储记录，这些资料将有助于我们完善和提高我们的服务，并有助于我们分析客户的完整信息。这类资料并不是用于客户个人信息的建档，因此将被定期清除。</p>
          </div>
          <div class="section">
            <h3>4. 机密性</h3>
            <h4>4.1</h4>
            <p>电竞668将尽全力保护客户提供给我们的个人资料，不会蓄意将该资料泄漏给外人，除非此政策条款里有明文规定。</p>
            <h4>4.2</h4>
            <p>所有电竞668员工都被要求遵循该政策条款。员工有义务严密的保守客户的个人信息，即使员工离开电竞668后仍须坚守此义务。</p>
            <h4>4.3</h4>
            <p>阁下本人也须保护好您的个人信息。阁下应严守您的账户密码，我们建议您不要将此透露给其他人。</p>
          </div>
          <div class="section">
            <h3>5. 客户个人信息的使用和存储</h3>
            <h4>5.1</h4>
            <p>当阁下提供任何个人资料给电竞668，我们对您负有关于如何使用您个人资料的法定义务，我们须有正当理由才可征集您的资料（关于为何征集客户个人资料，我们特定页面已有说明），告知征集您资料的用途以及如有必要将其传给其他任何人，我们将会通知您本人。</p>
            <p>我们使用客户个人资料的用途包括：</p>
            <ul>
              <li>用于确认您的身份以及您的账户</li>
              <li>行政服务</li>
              <li>统计分析</li>
              <li>市场推销——见下面“市场推销及退订设置”</li>
              <li>欺诈预防及监测</li>
              <li>通知您可能将影响到您的我们网站或服务的任何更改</li>
              <li>安全审核</li>
              <li>服务完善</li>
            </ul>
            <h4>5.2</h4>
            <p>正如下所列，如果我们因其它用途需用到您的个人信息，我们将会提前通知您。另外，您也可选择不同意以上做法。</p>
            <p>我们可能因以下原因联系您</p>
            <ol>
              <li>关于您申请的我们任何服务功能，我们来信确认</li>
              <li>您选择接收更多的公司信函</li>
              <li>邀请您参加关于我们服务的调查活动（自愿加入）</li>
              <li>出于市场推销目的，并且您已特别认同（见下面）</li>
            </ol>
            <h4>5.3</h4>
            <p>我们将一直严守客户个人信息不被外泄，除非有法定要求（如；政府部门及执法机构要求，或网站上带有攻击性或不妥的内容）或关系到我们的业务合作伙伴。一般情况我们只在电竞668内部使用客户的个人信息。然而，有时我们可能需借助第三方来处理客户的信息（如，网站主机,维护服务,安全或信用的提供商），本公司可能运用第三方来检测您登陆我们网站时使用的设备,以进行风险审核同时保障您账户安全。此项审核可能涉及在您的设备上内置cookie或其他文件来收集处理您设备上的技术数据。我们将会要求第三方严格遵守我们的约定，要求他们将不得将客户个人信息用于他们的商业用途。</p>
            <p>正如后面所述，我们可能出于市场推销目的将客户的个人信息传给我我们的业务伙伴。</p>
            <p>另外，如果客户违反任何相关法例，我们相信我们有理由将您的个人信息传给相关的第三方，如；您的雇主，教育机构或执法机构，上报您的相关信息与行为。</p>
            <p>在客户所申请使用我们服务这段期间，我们将一直保存您的个人信息于后台系统，直到申请期满或客户想注销会员账户，我们将把您的个人资料作删除处理。取决于数据保护立法与监管要求。 出于安全原因，如果客户使用我们网站服务满一年，我们将会保存其信息记录档（包括信息内容，会员姓名，时间和日期）。另外，如果客户并未注册为我们的会员，但参加了电竞668的其它服务（如；竞赛活动），其个人信息将保存到该服务顺利完成。</p>
          </div>
          <div class="section">
            <h3>6. 客户 数据信息保护</h3>
            <h4>6.1</h4>
            <p>我们将使用高科技系统管理和保护客户个人信息数据，如</p>
            <ol>
              <li>只有使用客户独一无二的用户名和密码才可进入该客户账户</li>
              <li>户信息数据储存在安控服务器内</li>
            </ol>
            <h4>6.2</h4>
            <p>我们将尽全力保护客户个人信息数据的安全，但客户须认同目前网络并非百分百安全，因此，我们并不能保证客户发送信息给我们的网络传输过程的安全和完整性，也不担保我们发送给客户网络传输过程的安全和完整性。</p>
          </div>
          <div class="section">
            <h3>7. 保密限制</h3>
            <h4>7.1</h4>
            <p>在某些情况下出于安全，立法和规章条例要求，电竞668不得不透漏客户个人信息。电竞668将尽全力保护客户个人信息，除非发生以下情况：</p>
            <ol>
              <li>于担保，传审或其它法规要求，电竞668才透露客户信息。</li>
              <li>出于正当理由行使电竞668权利，需要对某客户或实体进行确认，联系或采取法定措施。</li>
            </ol>
            <h4>7.2</h4>
            <p>另外，如果涉及欺诈，知识产权侵犯，权利侵犯，或其它非法行为或可能导致责任牵连的行为的调查，我们相信我们有必要和理由透露客户的信息(如；姓名，居住地址，城市，邮编，国家，电话号码，邮箱地址和公司)给电竞668第三方代理。</p>
          </div>
          <div class="section">
            <h3>8. 客户信息的接收者</h3>
            <h4>8.1</h4>
            <p>除了上述法定要求说明，我们还可能将您的个人信息透露给我们的工作人员，其他相关公司的工作人员或电竞668的合作伙伴和为电竞668客户提供相关服务给我们的第三方网络服务供应商（包含但不局限于安全，信用和风险审核机构）。</p>
            <h4>8.2</h4>
            <p>第三方网络服务供应商可以检查我们提供在公共数据库或私人数据库的任何详细资料及有机会获得和保留检查记录。</p>
            <h4>8.3</h4>
            <p>我们同样可以通过第三方网络服务供应商得到您的个人信息。如果您提供您的个人资料给我们或我们从第三方网络服务供应商中收到您的个人资料，代表您已经同意我们可以处理、使用、记录和透露您的个人信息。我们保留权利，根据您或第三方网络服务供应商提供的信息，在任何时候冻结或关闭您的电竞668会员账户。</p>
          </div>
          <div class="section">
            <h3>9. 监控</h3>
            <p>出于服务质保，防止诈骗和法规遵循方面的原因，我们将对客户的通信记录进行保存和监控（如电话和邮件记录）。</p>
          </div>
          <div class="section">
            <h3>10. 市场推销及账户移除设置</h3>
            <p>出于市场推销目的，我们可能将客户的个人信息透露给我们的业务伙伴公司，他们可能就相关产品，服务，促销及特殊优惠活动，通过信函，电话，SMS信息，传真，邮件或其它通讯方式联系到您，除非您提出要求制止此行为。<br>如果客户不愿再接收任何关于我公司的市场推销相关宣传信息，您可随时选择移除账户设置。取消订阅任何宣传资料会在2个工作日内生效。</p>
          </div>
          <div class="section">
            <h3>11. 信息记录程序</h3>
            <p>客户访问我们网站时，我们可能将发送给您一个临时的信息记录档。此记录档是我们网站服务器发送到您电脑/智能手机/其他设备硬盘浏览器的缓存文件夹的一系列文本标题记录，如果您同意接收的话。当您访问和/或使用我们网站时，这些记录将会让我们系统可以辨认出您。我们可以将其产生的数据编制成客户访问统计数据。您并非有义务接收我们的信息记录文件，您也可在任何时候选择不接收，可以通过设置您的浏览器完成。有关如何修改浏览器设置的帮助，请查看我们的常见问题。</p>
          </div>
          <div class="section">
            <h3>12. 隐私权保护规则的认同</h3>
            <p>一旦阁下在电竞668注册开户就代表您认同此隐私权保护规则条款。我们将定期更新此政策条款，因此我们建议客户您也定期进行查阅。如果我们对该政策有所更改，我们将在相关网页上发布消息。政策更改后，客户持续使用电竞668网站将被视为客户认同该政策的更改。如果客户不接收此政策的更改，您可以选择停用我们的网站服务。如果该政策条款与其它局部特殊条款产生分歧，将适用局部特殊条款。</p>
          </div>
          <h1 class="page-title">Cookie政策</h1>
          <div class="section">
            <h3 class="white">此政策詳細說明了EsportsMatrix如何在其網站上使用cookie以及類似cookie的檔案和科技、網絡信標等，我們將這些統稱為“cookie”。如果您訪問我們的網站並且您的瀏覽器設定接受cookie，我們認為這表示接受我們使用cookie的方法。</h3>
          </div>
          <div class="section">
            <h3>1. What is a cookie?</h3>
            <p>Cookie是由您訪問的網站發送並存儲到您的電腦中的小檔案。Cookie存儲在您瀏覽器的檔案目錄下。下次訪問該網站時，您的瀏覽器將讀取cookie並將該資訊回饋給網站或者最初設定cookie的元件。若要瞭解更多關於這些科技以及其如何工作的資訊，請參閱allaboutcookies.org。</p>
            <p>Cookie可以有很多不同的公用與為你提供不同的幫助。這些可以讓你快速流覽頁面，記住你的喜好，與幫助你瀏覽不同的頁面.有時候一些Cookie會針對你的喜好為你提供廣告.</p>
            <h3>Cookie 設定</h3>
            <p>必須Cookies: 如果沒有了這些Cookies，你就不能正常訪問我們的網站，如購物商或參與我們的遊戲</p>
            <p>這些cookie使我們能够通過觀察其如何使用來改進我們的網站。<br>我們進行畫圖分析，以瞭解不同用戶閱讀特定文章的管道（以瞭解什麼受歡迎），或者一個視頻檔案是否被觀看或中途放弃觀看等。<br>我們還觀察訪問內容的位置，這樣我們就知道如何安排網站，使用戶獲得最佳體驗。我們對訪客針對“Like”和“Tweet”挿件的點擊量以及從我們的網站所共亯或引用的內容進行統計。</p>
            <p>個性化 cookies: 這些cookie有助於使內容盡可能個性化，例如，它可針對您的偏好顯示條幅和相關建議。<br>我們會分析訪客通過何種類型的引用訪問我們的網站，例如電子郵件活動或推介網站連結等，這樣我們就可以估計我們的促銷和廣告活動的有效性</p>
            <p>廣告Cookies : 我們使用這些cookie在EsportsMatrix和選定的協力廠商網站上動態提供EsportsMatrix廣告。<br>我們可以將協力廠商廣告擴展到其他EsportsMatrix網站。如要更多瞭解這方面的可以去www.youronlinechoices.com.瞭解</p>
          </div>
          <div class="section">
            <h3>2. 我们怎么使用 Cookies</h3>
            <p>简单的来说，除了我们的游戏以外我们不怎么使用Cookies, 因为我们网站大多包含一些简单咨询与用数据库提取了一些资料给你观看. 你的装置会记住你的登入，所以Cookies不用为这服务.</p>
            <p>除了我们这里发报的以外，我们不会跟其他第三方交换Cookies 资料. 在我们网站上我们采用</p>
            <p>必须Cookies : 我们用一些必须Cookies 去监控我们网站在不同社交网站上的推广,这些网站一般来说会有1-2年的生命期.我们会根据这些资料去查询每个人访问我们的网站是透过那一个推广者.</p>
            <h3>表现Cookie</h3>
            <p>我们有时候会根据需要，采用一些第三方的Cookie,去让我们为你提供最优质的服务:</p>
            <p>Google Analytics: Google Analytics 是一个网络工具，由Google 提供, Google Analytics 使用一个追踪模式的Cookie 去评价我们多方面的产品. 也为我们提供数据于顾客的使用习惯. Google analytics 使用个性化Cookies 与 一些必须Cookies, 这些必须Cookies 大概有 两年寿命.</p>
            <p>请知道我们不会用这些Cookies 去存取你的个人资料, 但是我们可能会根据你提交的资料做分析.</p>
          </div>
          <div class="section">
            <h3>3. 如何管理 cookie</h3>
            <p>您可以查看您的浏览器中提供的用于管理 cookie 的选项。浏览器可以用于管理有关基本功能、网站改进、个性化和广告的 cookie。不同的浏览器使用不同的方法禁用 cookie，但它们通常可在“工具”或“选项”菜单下找到。您也可以查看浏览器的帮助菜单。除了 cookie 管理，浏览器通常让您掌控类似于 cookie 的文件，例如本地共享对象。</p>
            <p>EsportsMatrix  使用第三方供应商管理的广告 cookie 在 Microsoft Mobile 和非 EsportsMatrix 网站上推广其产品。您可以通过第三方 cookie 管理网站选择退出某些第三方管理的广告 cookie，如DoubleClick, Facebook.</p>
            <p>禁用 Cookie 可能会使您无法使用 EsportsMatrix 网站的某些部分。如果您从浏览器删除 cookie，您可能需要记住重新安装选择退出 cookie。</p>
            <p>大多数的Cookies 设定都可以在你的浏览器 Help 那里找到, 这里就是一些连接去了解这一些的问题</p>
            <p>Internet Explorer -<a href="http://support.microsoft.com/kb/196955" target="_blank">http://support.microsoft.com/kb/196955</a></p>
            <p>Windows 电话版-<a href="http://www.microsoft.com/windowsphone/en-us/howto/wp7/web/changing-privacy-and-other-browser-settings.aspx" target="_blank">http://www.microsoft.com/windowsphone/en-us/howto/wp7/web/changing-privacy-and-other-browser-settings.aspx</a></p>
            <p>Google Chrome -<a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647" target="_blank">http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647</a></p>
            <p>Google Android -<a href="http://support.google.com/android/?hl=en" target="_blank">http://support.google.com/android/?hl=en</a></p>
            <p>Mozilla FireFox -<a href="http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies" target="_blank">http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies</a></p>
            <p>Opera -<a href="http://www.opera.com/browser/tutorials/security/privacy/" target="_blank">http://www.opera.com/browser/tutorials/security/privacy/</a></p>
            <p>Safari -<a href="http://www.apple.com/support/safari/ " target="_blank">http://www.apple.com/support/safari/</a></p>
            <p>Blackberry -<a href="http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Browser_settings_32784_11.jsp " target="_blank">http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Browser_settings_32784_11.jsp</a></p>
            <h3>关闭第三方Cookies</h3>
            <p>关闭第三方的必须类型Cookies</p>
            <p>你可以在我们的使用手册中查询我们的第三方Cookies, 再以访问他们的网站去关闭有关的Cookies. Google Analytics 可以在:</p>
            <p>Google Analytics - https://tools.google.com/dlpage/gaoptout</p>
            <p>请记住，如果你关闭了以上的表现Cookie, 我们可能不知道你在我们网站的爱好, 所以我们之后也会在改善服务中有所难度.</p>
            <p>关闭第三方Cookies</p>
          </div>
          <div class="section">
            <h3>4. 政策更新</h3>
            <p>我们会尽量为顾客说明我门所有的Cookie 内容,也会定期更新这个政策.如果你对我们的Cookie 比较重视，请定期浏览我们的网站;我们有可能有时候未能及时更改这政策，如有亚外的问题，请联络EsportsMatrix 服务专区.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/member/faq.html">帮助</a></li>
              <li><a href="/member/contact.html">联系我们</a></li>
              <li><a href="/member/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/member/terms-of-use.html">使用条款</a></li>
              <li><a href="/member/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/member/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/member/">游戏大厅</a></li>
              <li><a href="/member/personal-center-default.html">个人中心</a></li>
              <li><a href="/member/personal-center-default.html#leaderboard">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>

app/privacy-policy.jade
extends layouts/default-logged

block content
  .container.text
    .row.text-row
      .col-xs-12
        h1.page-title 隐私权政策
        .section
          h3.white 电竞668非常尊重客户提供给我们的个人隐私信息。我们将尽全力保护客户个人信息的私密性，让客户无后顾之忧。以下为我们关于客户个人信息隐私权保护规则的内容：
          h3 1. 简介

          h4 1.1
          p 本网站服务由电竞668提供。为了让客户在这能享受到安全愉悦的服务体验，我们征求客户仔细阅读此“隐私权保护规则条款”，因为这将涉及到我们使用您个人信息的相关事项。对待客户的个人隐私本公司本着非常严谨的态度。

          h4 1.2
          p 为了让客户享受进一步服务，有时我们可能需要求客户提供个人信息。本政策将会涵盖客户提供给我们的个人信息的使用事项，同时也涉及相关信息记录程序的内容。

          h4 1.3
          p 有时，客户接受进一步服务前我们可能需要客户提供个人信息（如，姓名，通信地址，邮箱地址，会员编号，电话或手机号码，出生日期或支付信息），任何情况下，我们都将对照此政策来处理您的个人信息。在使用您的个人信息时我们将适用现行的法律条款，并竭力采取最佳最稳妥的方式处理。

          h4 1.4
          p 同时，我们也将监控您在本网站的活动内容，可能包括您的访问量，访问页面，网络服务的原始域名等，这将有助于我们建立客户个人档资料。其中部分数据将被聚合统计，这意味着我们将不能对其单独进行检验。

        .section
          h3 2. 我们收集的内容及其目的

          h4 2.1
          p 阁下在电竞668开户时，我们将要求您提供某些个人信息，如；姓名，通信地址，邮箱地址，密码及确认您是否已年满18周岁（电竞668只接收达到法定年龄18周岁或以上的客户）。我们可能需使用您的个人信息用来确认您的各种金融交易，定期发送公司实时简讯，提供客服支持及完善全面的博彩服务给您。如果您想中止接收公司实时简讯，您可根据提示在简讯接收选项做出相关选择。另须注意，你注册的姓名必须是您本人姓名，你所注册的资料为真实有效资料，因为这将用于随后的交易验证及前述的其它用途。

          h4 2.2
          p 会员可在下载软件选择账户选项更改您的账户信息。

        .section
          h3 3. 访问信息

          h4 3.1
          p 在阁下访问我们网站页面的过程中，将会有个小的文本夹“信息记录程序”存储在您的电脑。很多网站都有类似设置，因为此设置对网站发行商是非常有用的，譬如可以记录该计算机（或用户）是否曾浏览过此网站。

          h4 3.2
          p 电竞668将会对客户“信息记录程序”及IP地址进行存储记录，这些资料将有助于我们完善和提高我们的服务，并有助于我们分析客户的完整信息。这类资料并不是用于客户个人信息的建档，因此将被定期清除。

        .section
          h3 4. 机密性
          h4 4.1
          p 电竞668将尽全力保护客户提供给我们的个人资料，不会蓄意将该资料泄漏给外人，除非此政策条款里有明文规定。

          h4 4.2
          p 所有电竞668员工都被要求遵循该政策条款。员工有义务严密的保守客户的个人信息，即使员工离开电竞668后仍须坚守此义务。

          h4 4.3
          p 阁下本人也须保护好您的个人信息。阁下应严守您的账户密码，我们建议您不要将此透露给其他人。

        .section
          h3 5. 客户个人信息的使用和存储
          h4 5.1
          p 当阁下提供任何个人资料给电竞668，我们对您负有关于如何使用您个人资料的法定义务，我们须有正当理由才可征集您的资料（关于为何征集客户个人资料，我们特定页面已有说明），告知征集您资料的用途以及如有必要将其传给其他任何人，我们将会通知您本人。

          p 我们使用客户个人资料的用途包括：

          ul
            li 用于确认您的身份以及您的账户
            li 行政服务
            li 统计分析
            li 市场推销——见下面“市场推销及退订设置”
            li 欺诈预防及监测
            li 通知您可能将影响到您的我们网站或服务的任何更改
            li 安全审核
            li 服务完善

          h4 5.2
          p 正如下所列，如果我们因其它用途需用到您的个人信息，我们将会提前通知您。另外，您也可选择不同意以上做法。

          p 我们可能因以下原因联系您
          ol
            li 关于您申请的我们任何服务功能，我们来信确认
            li 您选择接收更多的公司信函
            li 邀请您参加关于我们服务的调查活动（自愿加入）
            li 出于市场推销目的，并且您已特别认同（见下面）

          h4 5.3
          p 我们将一直严守客户个人信息不被外泄，除非有法定要求（如；政府部门及执法机构要求，或网站上带有攻击性或不妥的内容）或关系到我们的业务合作伙伴。一般情况我们只在电竞668内部使用客户的个人信息。然而，有时我们可能需借助第三方来处理客户的信息（如，网站主机,维护服务,安全或信用的提供商），本公司可能运用第三方来检测您登陆我们网站时使用的设备,以进行风险审核同时保障您账户安全。此项审核可能涉及在您的设备上内置cookie或其他文件来收集处理您设备上的技术数据。我们将会要求第三方严格遵守我们的约定，要求他们将不得将客户个人信息用于他们的商业用途。

          p 正如后面所述，我们可能出于市场推销目的将客户的个人信息传给我我们的业务伙伴。

          p 另外，如果客户违反任何相关法例，我们相信我们有理由将您的个人信息传给相关的第三方，如；您的雇主，教育机构或执法机构，上报您的相关信息与行为。

          p 在客户所申请使用我们服务这段期间，我们将一直保存您的个人信息于后台系统，直到申请期满或客户想注销会员账户，我们将把您的个人资料作删除处理。取决于数据保护立法与监管要求。 出于安全原因，如果客户使用我们网站服务满一年，我们将会保存其信息记录档（包括信息内容，会员姓名，时间和日期）。另外，如果客户并未注册为我们的会员，但参加了电竞668的其它服务（如；竞赛活动），其个人信息将保存到该服务顺利完成。



        .section
          h3 6. 客户 数据信息保护
          h4 6.1
          p 我们将使用高科技系统管理和保护客户个人信息数据，如
          ol
            li 只有使用客户独一无二的用户名和密码才可进入该客户账户
            li 户信息数据储存在安控服务器内
          h4 6.2
          p 我们将尽全力保护客户个人信息数据的安全，但客户须认同目前网络并非百分百安全，因此，我们并不能保证客户发送信息给我们的网络传输过程的安全和完整性，也不担保我们发送给客户网络传输过程的安全和完整性。

        .section
          h3 7. 保密限制
          h4 7.1
          p 在某些情况下出于安全，立法和规章条例要求，电竞668不得不透漏客户个人信息。电竞668将尽全力保护客户个人信息，除非发生以下情况：
          ol
            li 于担保，传审或其它法规要求，电竞668才透露客户信息。
            li 出于正当理由行使电竞668权利，需要对某客户或实体进行确认，联系或采取法定措施。

          h4 7.2
          p 另外，如果涉及欺诈，知识产权侵犯，权利侵犯，或其它非法行为或可能导致责任牵连的行为的调查，我们相信我们有必要和理由透露客户的信息(如；姓名，居住地址，城市，邮编，国家，电话号码，邮箱地址和公司)给电竞668第三方代理。


        .section
          h3 8. 客户信息的接收者
          h4 8.1
          p 除了上述法定要求说明，我们还可能将您的个人信息透露给我们的工作人员，其他相关公司的工作人员或电竞668的合作伙伴和为电竞668客户提供相关服务给我们的第三方网络服务供应商（包含但不局限于安全，信用和风险审核机构）。

          h4 8.2
          p 第三方网络服务供应商可以检查我们提供在公共数据库或私人数据库的任何详细资料及有机会获得和保留检查记录。

          h4 8.3
          p 我们同样可以通过第三方网络服务供应商得到您的个人信息。如果您提供您的个人资料给我们或我们从第三方网络服务供应商中收到您的个人资料，代表您已经同意我们可以处理、使用、记录和透露您的个人信息。我们保留权利，根据您或第三方网络服务供应商提供的信息，在任何时候冻结或关闭您的电竞668会员账户。

        .section
          h3 9. 监控
          p 出于服务质保，防止诈骗和法规遵循方面的原因，我们将对客户的通信记录进行保存和监控（如电话和邮件记录）。
        .section
          h3 10. 市场推销及账户移除设置
          p 出于市场推销目的，我们可能将客户的个人信息透露给我们的业务伙伴公司，他们可能就相关产品，服务，促销及特殊优惠活动，通过信函，电话，SMS信息，传真，邮件或其它通讯方式联系到您，除非您提出要求制止此行为。
            br
            | 如果客户不愿再接收任何关于我公司的市场推销相关宣传信息，您可随时选择移除账户设置。取消订阅任何宣传资料会在2个工作日内生效。

        .section
          h3 11. 信息记录程序

          p 客户访问我们网站时，我们可能将发送给您一个临时的信息记录档。此记录档是我们网站服务器发送到您电脑/智能手机/其他设备硬盘浏览器的缓存文件夹的一系列文本标题记录，如果您同意接收的话。当您访问和/或使用我们网站时，这些记录将会让我们系统可以辨认出您。我们可以将其产生的数据编制成客户访问统计数据。您并非有义务接收我们的信息记录文件，您也可在任何时候选择不接收，可以通过设置您的浏览器完成。有关如何修改浏览器设置的帮助，请查看我们的常见问题。
        .section
          h3 12. 隐私权保护规则的认同
          p 一旦阁下在电竞668注册开户就代表您认同此隐私权保护规则条款。我们将定期更新此政策条款，因此我们建议客户您也定期进行查阅。如果我们对该政策有所更改，我们将在相关网页上发布消息。政策更改后，客户持续使用电竞668网站将被视为客户认同该政策的更改。如果客户不接收此政策的更改，您可以选择停用我们的网站服务。如果该政策条款与其它局部特殊条款产生分歧，将适用局部特殊条款。

        h1.page-title Cookie政策
        .section
          h3.white 此政策詳細說明了EsportsMatrix如何在其網站上使用cookie以及類似cookie的檔案和科技、網絡信標等，我們將這些統稱為“cookie”。如果您訪問我們的網站並且您的瀏覽器設定接受cookie，我們認為這表示接受我們使用cookie的方法。
        .section
          h3 1. What is a cookie?
          p Cookie是由您訪問的網站發送並存儲到您的電腦中的小檔案。Cookie存儲在您瀏覽器的檔案目錄下。下次訪問該網站時，您的瀏覽器將讀取cookie並將該資訊回饋給網站或者最初設定cookie的元件。若要瞭解更多關於這些科技以及其如何工作的資訊，請參閱allaboutcookies.org。
          p Cookie可以有很多不同的公用與為你提供不同的幫助。這些可以讓你快速流覽頁面，記住你的喜好，與幫助你瀏覽不同的頁面.有時候一些Cookie會針對你的喜好為你提供廣告.
          h3 Cookie 設定
          p 必須Cookies: 如果沒有了這些Cookies，你就不能正常訪問我們的網站，如購物商或參與我們的遊戲
          p 這些cookie使我們能够通過觀察其如何使用來改進我們的網站。
            br
            | 我們進行畫圖分析，以瞭解不同用戶閱讀特定文章的管道（以瞭解什麼受歡迎），或者一個視頻檔案是否被觀看或中途放弃觀看等。
            br
            | 我們還觀察訪問內容的位置，這樣我們就知道如何安排網站，使用戶獲得最佳體驗。我們對訪客針對“Like”和“Tweet”挿件的點擊量以及從我們的網站所共亯或引用的內容進行統計。
          p 個性化 cookies: 這些cookie有助於使內容盡可能個性化，例如，它可針對您的偏好顯示條幅和相關建議。
            br
            | 我們會分析訪客通過何種類型的引用訪問我們的網站，例如電子郵件活動或推介網站連結等，這樣我們就可以估計我們的促銷和廣告活動的有效性
          p 廣告Cookies : 我們使用這些cookie在EsportsMatrix和選定的協力廠商網站上動態提供EsportsMatrix廣告。
            br
            | 我們可以將協力廠商廣告擴展到其他EsportsMatrix網站。如要更多瞭解這方面的可以去www.youronlinechoices.com.瞭解
        .section
          h3 2. 我们怎么使用 Cookies
          p 简单的来说，除了我们的游戏以外我们不怎么使用Cookies, 因为我们网站大多包含一些简单咨询与用数据库提取了一些资料给你观看. 你的装置会记住你的登入，所以Cookies不用为这服务.
          p 除了我们这里发报的以外，我们不会跟其他第三方交换Cookies 资料. 在我们网站上我们采用
          p 必须Cookies : 我们用一些必须Cookies 去监控我们网站在不同社交网站上的推广,这些网站一般来说会有1-2年的生命期.我们会根据这些资料去查询每个人访问我们的网站是透过那一个推广者.

          h3 表现Cookie
          p 我们有时候会根据需要，采用一些第三方的Cookie,去让我们为你提供最优质的服务:
          p Google Analytics: Google Analytics 是一个网络工具，由Google 提供, Google Analytics 使用一个追踪模式的Cookie 去评价我们多方面的产品. 也为我们提供数据于顾客的使用习惯. Google analytics 使用个性化Cookies 与 一些必须Cookies, 这些必须Cookies 大概有 两年寿命.
          p 请知道我们不会用这些Cookies 去存取你的个人资料, 但是我们可能会根据你提交的资料做分析.
        .section
          h3 3. 如何管理 cookie
          p 您可以查看您的浏览器中提供的用于管理 cookie 的选项。浏览器可以用于管理有关基本功能、网站改进、个性化和广告的 cookie。不同的浏览器使用不同的方法禁用 cookie，但它们通常可在“工具”或“选项”菜单下找到。您也可以查看浏览器的帮助菜单。除了 cookie 管理，浏览器通常让您掌控类似于 cookie 的文件，例如本地共享对象。
          p EsportsMatrix  使用第三方供应商管理的广告 cookie 在 Microsoft Mobile 和非 EsportsMatrix 网站上推广其产品。您可以通过第三方 cookie 管理网站选择退出某些第三方管理的广告 cookie，如DoubleClick, Facebook.
          p 禁用 Cookie 可能会使您无法使用 EsportsMatrix 网站的某些部分。如果您从浏览器删除 cookie，您可能需要记住重新安装选择退出 cookie。
          p 大多数的Cookies 设定都可以在你的浏览器 Help 那里找到, 这里就是一些连接去了解这一些的问题
          p Internet Explorer -
            a(href='http://support.microsoft.com/kb/196955',target='_blank')
              | http://support.microsoft.com/kb/196955
          p Windows 电话版-
            a(href='http://www.microsoft.com/windowsphone/en-us/howto/wp7/web/changing-privacy-and-other-browser-settings.aspx',target='_blank')
              | http://www.microsoft.com/windowsphone/en-us/howto/wp7/web/changing-privacy-and-other-browser-settings.aspx
          p Google Chrome -
            a(href='http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647',target='_blank')
              | http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647
          p Google Android -
            a(href='http://support.google.com/android/?hl=en',target='_blank')
              | http://support.google.com/android/?hl=en
          p Mozilla FireFox -
            a(href='http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies',target='_blank')
              | http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies
          p Opera -
            a(href='http://www.opera.com/browser/tutorials/security/privacy/',target='_blank')
              | http://www.opera.com/browser/tutorials/security/privacy/
          p Safari -
            a(href='http://www.apple.com/support/safari/ ',target='_blank')
              | http://www.apple.com/support/safari/
          p Blackberry -
            a(href='http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Browser_settings_32784_11.jsp ',target='_blank')
              | http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Browser_settings_32784_11.jsp

          h3 关闭第三方Cookies
          p 关闭第三方的必须类型Cookies
          p 你可以在我们的使用手册中查询我们的第三方Cookies, 再以访问他们的网站去关闭有关的Cookies. Google Analytics 可以在:
          p Google Analytics - https://tools.google.com/dlpage/gaoptout
          p 请记住，如果你关闭了以上的表现Cookie, 我们可能不知道你在我们网站的爱好, 所以我们之后也会在改善服务中有所难度.
          p 关闭第三方Cookies

        .section
          h3 4. 政策更新
          p 我们会尽量为顾客说明我门所有的Cookie 内容,也会定期更新这个政策.如果你对我们的Cookie 比较重视，请定期浏览我们的网站;我们有可能有时候未能及时更改这政策，如有亚外的问题，请联络EsportsMatrix 服务专区.
