app/rules.jade
extends layouts/default-logged

block content
  .container.text
    .row.text-row
      .col-xs-12
        h1.page-title 博彩规则
        .section
          h3 1. 一般事项

          h4 1.1
          p
            | 本公司的所有投注信息都是出于诚意提供的。 不过，本公司不对有关日期、时间、地点、竞争对手、赔率、结果、统计数据、团队制服（显示在实时视频中）或其它投注信息的任何错误或遗漏负责。 本公司保留纠正任何明显错误的权利，并且应当采取所有合理行动确保以诚信透明的方式管理赌盘，赌盘定义为针对某一体育赛事所提供的不同的投注类型。 公司保留做出最终性决定的权利。

          h4 1.2
          p
            | 如果一项赛事在预定时间之前开始，则只有该项赛事开始之前所做投注（除指定的现场投注以外）会被视为有效投注，赛事的定义是两个团队或个人间有组织的体育比赛或活动。 如果一个赌盘未在正确时间关闭或中止，则本公司有权取消在实际开始时间之后进行的所有投注（除指定的现场投注以外）。

          h4 1.3
          p
            | 如果网站对赛事所用的英语和非英语名称之间有任何差异，以英语版本为准。

          h4 1.4
          p
            | 在任何时候，客户有责任了解比赛分数和所有相关的比赛信息，并且建议客户在下注之前确认比赛状况。

          h4 1.5
          p
            | 本公司有权在任何时候出于任何原因修改这些规则。 一旦在网站上发布，任何此类修改都是具有约束性和立即生效的。

          h4 1.6
          p
            | 客户承认网站上提供的当前分数、所用时间及其它数据虽然是由第三方以“直播”形式提供，但仍会有时间延迟以及/或者可能不准确的情况，并且根据这些资料做任何投注时，客户应自行承担所有风险。 本公司提供这些数据时，不保证其准确性、完整性或及时性，并且不对客户因依赖这些数据而遭受的任何损失（直接或间接损失）负责。

        .section
          h3 2. 赛事中止与延期

          h4 2.1
          p 如果一项赛事未在预定开始日期开始，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的投注都将无效，除了对已获得无条件确定的赌盘所做的投注以外。

          h4 2.2
          p 如果一项赛事已经开始，但之后又中止，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的投注都将无效，除了对无条件决定结果的赌盘所做的投注以外。

          h4 2.3
          p 如果一项赛事未按特定体育规则的规定，在原告预定的完成日期完成，而正式的比赛结果得以宣布，或者特定赛事的相关主管机构宣布了一个结果，则本公司有权认定这一比赛是正式有效的。 在此方面，本公司的决定是最终和具有结束性的。


        .section
          h3 3. 比赛结果

          h4 3.1
          p 必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。 如果没有颁奖仪式，赛果将会依据相关主管机构在赌盘结算时提供的官方结果而定，不论之后是否出现取消或更改赛果的情况。 如果没有提供适用的官方结果，则将依据到赌盘结算时适用且已知的证据来确定赛果。

          h4 3.2
          p 赌盘通常会在一项赛事结束后不久尽快进行结算。 完全出于服务客户的目的，一些赌盘可能会在正式结果公布之前结算。 如果一个赌盘结算错误，本公司有权撤销结算。

          h4 3.3
          p 如果对任何赛果有不确定，本公司有权无限期暂停任何赌盘的结算。

          h4 3.4
          p 对于已经结算的投注，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。

          h4 3.5
          p 当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。 然而，如果没有此类适用的视频记录，应当根据特定赛事的相关主管机构在其官方网站上公布的赛果确定正确的结果。 如果该官方网站无法提供这一结果或者官方网站公布的赛果明显有错，则本公司有权做出决定/修正，以便确定最终的结果。 在此方面，本公司的决定是最终和具有结束性的。

dist/member/rules.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn loggedin">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/contest/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="/member/personal-center-default.html" title="会员中心"><img src="/images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="/images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="/images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="/member/index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="/images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/member/index.html"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/member/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/member/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/member/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/member/personal-center-default.html"><img src="/images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container text">
      <div class="row text-row">
        <div class="col-xs-12">
          <h1 class="page-title">博彩规则</h1>
          <div class="section">
            <h3>1. 一般事项</h3>
            <h4>1.1</h4>
            <p>本公司的所有投注信息都是出于诚意提供的。 不过，本公司不对有关日期、时间、地点、竞争对手、赔率、结果、统计数据、团队制服（显示在实时视频中）或其它投注信息的任何错误或遗漏负责。 本公司保留纠正任何明显错误的权利，并且应当采取所有合理行动确保以诚信透明的方式管理赌盘，赌盘定义为针对某一体育赛事所提供的不同的投注类型。 公司保留做出最终性决定的权利。</p>
            <h4>1.2</h4>
            <p>如果一项赛事在预定时间之前开始，则只有该项赛事开始之前所做投注（除指定的现场投注以外）会被视为有效投注，赛事的定义是两个团队或个人间有组织的体育比赛或活动。 如果一个赌盘未在正确时间关闭或中止，则本公司有权取消在实际开始时间之后进行的所有投注（除指定的现场投注以外）。</p>
            <h4>1.3</h4>
            <p>如果网站对赛事所用的英语和非英语名称之间有任何差异，以英语版本为准。</p>
            <h4>1.4</h4>
            <p>在任何时候，客户有责任了解比赛分数和所有相关的比赛信息，并且建议客户在下注之前确认比赛状况。</p>
            <h4>1.5</h4>
            <p>本公司有权在任何时候出于任何原因修改这些规则。 一旦在网站上发布，任何此类修改都是具有约束性和立即生效的。</p>
            <h4>1.6</h4>
            <p>客户承认网站上提供的当前分数、所用时间及其它数据虽然是由第三方以“直播”形式提供，但仍会有时间延迟以及/或者可能不准确的情况，并且根据这些资料做任何投注时，客户应自行承担所有风险。 本公司提供这些数据时，不保证其准确性、完整性或及时性，并且不对客户因依赖这些数据而遭受的任何损失（直接或间接损失）负责。</p>
          </div>
          <div class="section">
            <h3>2. 赛事中止与延期</h3>
            <h4>2.1</h4>
            <p>如果一项赛事未在预定开始日期开始，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的投注都将无效，除了对已获得无条件确定的赌盘所做的投注以外。</p>
            <h4>2.2</h4>
            <p>如果一项赛事已经开始，但之后又中止，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的投注都将无效，除了对无条件决定结果的赌盘所做的投注以外。</p>
            <h4>2.3</h4>
            <p>如果一项赛事未按特定体育规则的规定，在原告预定的完成日期完成，而正式的比赛结果得以宣布，或者特定赛事的相关主管机构宣布了一个结果，则本公司有权认定这一比赛是正式有效的。 在此方面，本公司的决定是最终和具有结束性的。</p>
          </div>
          <div class="section">
            <h3>3. 比赛结果</h3>
            <h4>3.1</h4>
            <p>必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。 如果没有颁奖仪式，赛果将会依据相关主管机构在赌盘结算时提供的官方结果而定，不论之后是否出现取消或更改赛果的情况。 如果没有提供适用的官方结果，则将依据到赌盘结算时适用且已知的证据来确定赛果。</p>
            <h4>3.2</h4>
            <p>赌盘通常会在一项赛事结束后不久尽快进行结算。 完全出于服务客户的目的，一些赌盘可能会在正式结果公布之前结算。 如果一个赌盘结算错误，本公司有权撤销结算。</p>
            <h4>3.3</h4>
            <p>如果对任何赛果有不确定，本公司有权无限期暂停任何赌盘的结算。</p>
            <h4>3.4</h4>
            <p>对于已经结算的投注，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。</p>
            <h4>3.5</h4>
            <p>当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。 然而，如果没有此类适用的视频记录，应当根据特定赛事的相关主管机构在其官方网站上公布的赛果确定正确的结果。 如果该官方网站无法提供这一结果或者官方网站公布的赛果明显有错，则本公司有权做出决定/修正，以便确定最终的结果。 在此方面，本公司的决定是最终和具有结束性的。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/member/faq.html">帮助</a></li>
              <li><a href="/member/contact.html">联系我们</a></li>
              <li><a href="/member/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/member/terms-of-use.html">使用条款</a></li>
              <li><a href="/member/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/member/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/member/">游戏大厅</a></li>
              <li><a href="/member/personal-center-default.html">个人中心</a></li>
              <li><a href="/member/personal-center-default.html#leaderboard">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
