app/terms-of-use.jade
extends layouts/default-logged

block content
  .container.text
    .row.text-row
      .col-xs-12
        h1.page-title 使用条款
        .section
          p 本 EsportsMatrix 服务条款、隐私保密政策，以及可能在相关服务中不时发布的所有其他附加条款和信息（合称本“服务条款”）适用于在阁下对服务、网站、内容和软件（合称“相 关服务”）的使用。一经注册或使用相关服务或其任何部分，阁下即接受本“服务条款。

          p 请留意，在接收我们的服务条款的时候，你会跟T.E.C.H Ltd 与他旗下的公司,产品 Esports Matrix 产生一个法律合约,如果我们用取字眼 T.E.C.H Group,本公司， 本产品，则是代表我们所有对这个EsportsMatrix 电竞魔方的得益或拥有公司为准.

          p 在查看本合约期间，请查询我们相关的所有政策，如Cookie 政策, 私隐政策等等. 如我们推广活动的手册如其他使用网站上的说明. 我们也会定期更新这些政策.

          p 当你点选了我同意按钮, 你就会是我们成员的一份子, 你同意我们网站上所有的服务条款与政策.

        .section
          h3 1. 使用我们服务的许可
          h4 1.1
          p 根据我们的使用条款，我们现在为你发放一个受权使用我们网站服务的许可证, 对相关服务的用户授予一项非独占的、不可转让的且 EsportsMatrix 可依自酌随时撤销的许可，准许用户严格按照本服务条款接入和使用相关服务。使用相关服务并未授予阁下针对相关服务中的任何信息或内容的任何进一步的知识产权。
          h4 1.2
          p 这一个服务是应该由你一个人独自使用的，请留意，我们有一部分的网站是不受权于: 1. 18岁以下的用户 2. 在合法地区未到法定年龄 EsportMatrix 不能够查询所有地区的法定年龄，所以你们有责任查询你们使用的时候是否合法.
          h4 1.3
          p 我们保留最后的权利去要求你提供一个身份证明文件去核实你的年龄。我们也保留以后暂时停止对你的服务，无论是短时或永远终止,如果你不能通过我们年龄验证的过程.
          h4 1.4
          p 1.4 EsportMatrix 与他的支公司拥有所有这个网站的代码, 架构，逻辑；我们的系统是由版权，商业机密与其他法律保障的，根据这些法律条文，你不能:
            ol
            li 复制，分发，出版，逆向工程，反编译，反汇编，修改，或翻译我们的平台或进行任何的工程去修改或利用我们的程式制作其他类似的工作;并;
            li 出售，转让，许可，转让，销售或租赁这个平台
            li 去让这个平台被第三方拥有的电脑网络使用;
            li 出口我们的网络平台到任何国家 (不论是用软件或人手); 并
            li 用我们的平台进行任何在任何国家非法的行为;
          p 以上皆为不受权使用.

          p esportsmatrix，其集团公司及其许可人保留所有权利，这是授予用户应保留所有权利，并向这网络平台宣布所有拥有权和利益。
          p 您同意您将独自承担任何损害，成本或费用所产生的或与该委员会联系你的任何未经授权的使用。如你发现有任何人的未经授权或开始意识到这个行为, 你应当立即通知esportsmatrix提供合理的协助去进行任何进行调查.

          h4 1.5
          p EsportsMatrix, “电竞魔方”这个字与我们网页 esportsmatrix.com所有的商标，服务商标，标志，贸易名称和/或域名是由我们拥有的.我们保留所有的使用权与法律保障. 除非我们有其他列明. 所有我们的资料，图片，设计，动画，视频也属于我们.
          p 我们网上的”资料” 是属于我们EsportsMatrix 还有T.E.C.H 所有有关的公司为我们的知识产权. 你现在同意在这份同意书中不会得到任何去干涉我们知识产权与商标的权利. 无论在什么情况下，在得到我们的同意前,你都不能使用我们的资料与商标.
          p 在某情况下，我们的公司会采用不属于我们公司的知产，如电竞队伍标志，由Riot 创办的英雄标志，电竞玩家照, 这一些只是更让我们去准确表达出一个内容的手法，我们这些所选用的资料在任何时间都不由我们拥有也不属于我们。
          p 根据以上的，你亚外同意不会违反我们手册去违反使用我们的商标，内容，在我们网页上第三方商标与第三方内容. 以及不能做任何事情去损害我们公司的形象，或我们公司董事，员工或产品的形象.

          h4 1.6
          p 你保证你使用的任何名称或图片与网站或服务（例如，您的用户名和头像）,不应该进行商业活动或损害任何其他人的私隐或第三方的权益。 你也同意给EsportsMatrix 和他的拥有者一个不可撤销的，可转让的，免版税，再授权的许可去根据我们的私隐条款使用你的名字或头像去做一些有关的商业活动.

        .section
          h3 2. 没有保证
          h4 2.1
          p EsportsMatrix 电竞魔方表明所有的保证，隐含与标明的；如果是有关我们的服务的，我们不会为你的用户过程，品质，准确或完整性提供保证.
          h4 2.2
          p 虽然我们会尽力提供我们最优质的服务，去保障你的安全，品质，我们不能保证这个服务是，不受干扰，持续或百分百准确的。如有任何的问题，我们会进行有关的修改，去尽量令到我们的网站是没有： 病毒，错误或其他的问题.
          h4 2.3
          p EsportsMatrix 电竞魔方会保留所有：改动，停止，终止，移除如增加任何网站服务的权利,我们也不需要为你们提供任何的通知，除非法律表明这个修改是必须通知的. (例如): 如果我们在更新的时候或维护的时候出现问题，我们EsportsMatrix不会负上任何损失的法律责任.


        .section
          h3 3. 法律权利
          p EsportsMatrix保留用户在网站上的发布、维护和关闭的权限。我们对于一个用户的使用权是由内部决定，决定会是一个最后决定而我们的决定不会被公开聆讯，审核或被上诉.
        .section
          h3 4. 您的陈述和保证
          p 在使用我们服务之前,你陈述和保证以下的内容:
          h4 4.1
          p 你的使用是根据你自己的决定，判断与评估过使用风险的
          h4 4.2
          p 在使用我们的服务期间，你应该提供一些个人资料给我们，也（根据我们的电话服务要求） 由LBS (Location based service) 去探测你的所在位置. 我们会根据私隐条例去保管你的资料，这个条例会根据我们的私隐条例为准.
          h4 4.3
          p 你使用的网络与网络供应商是不受我们EsportsMatrix 能够控制的范围以内，所以我们不会为任何：网速太慢，断线或其他的问题负上任何责任
          h4 4.4
          p 如果你在我们网站上赢取了什么奖品，物品，而这些物品有任何的实物价值，该由你本人自己查询这些物品有没有相关的税收并自行缴费
          h4 4.5
          p 你不能使用我们的服务去进行任何的不公平行为去获取个人利益，如: 转卖我们的数据服务, 开设多个帐号去达由我们送赠的而得到不公平的投注金, 去利用个人影响力影响一些游戏赛果. 我们很鼓励玩家去多研究我们的游戏去达到一个表现比其他人好的境界，但我们不鼓励任何骚扰游戏平等的行为. 虽然我们会奖励一些玩的较为好的跟活跃玩家，而我们会用虚拟币的数量作为平分,但我们的虚拟币本身也不会有什么实物价值,也不应该在任何市场代为转售.


        .section
          h3 5. 禁止的使用方法
          h4 5.1
          p 利用任何方法-非法修改我们的平台
          h4 5.2
          p 多人使用: 我们这个平台是设计给一个人私人享用的目的，也是为了个人的娱乐为主，我们的目的不是让任何人去非法获取金钱利益，或用来拿取任何的不公平优势.所有玩家应该提供给我们一份真实资料，如有任何修改，也应该自行更新

          h4 5.3
          p 合谋诈骗: 我们不会容许任何玩家跟其他玩家去合谋以反方向下注的形式达到一个必赢的结果。以及，如上描述，我们更加不容许任何玩家以其他手法去影响赛过获取利益,如果我们一旦发现任何玩家与其他玩家使用不公平的方法去获取利益;我们会对任何帐号停号，也会保留我们的法律权利去对该玩家进行申索.

          h4 5.4
          p 自动玩家（人工智能）: 如果任何人使用人工智能或不为人手直接操作的方式使用我们的平台。所有操作应该是手动操作

          h4 5.5
          p 诈骗行为，非法行为: 如果我们在任何情况决定一个用户是有可能在进行非法的行为或违反我们用户条例的行为; 我们会有权:
          ol
            li 封锁用户所有资金与虚拟币;
            li 封锁用户使用;
            li 对该玩家在法庭、法院进行申索


        .section
          h3 6. 不当用语和咨询
          p 所有玩家是严禁发出，非法，歧视，不当，违反国家治安，政治目的,恐吓性，攻击性，人生攻击性的发言，无论是在头像，用户名称或在我们的发言专区中的内容. 这些我们会根据普通法和国家法律来定段.
        .section
          h3 7. 违反守则
          h4 7.1
          p 无损法定利益或要求, 如果一个用户一经发现违反我们以上任何守则, EsportsMatrix 电竞魔方与附属公司有权保留任何合理与合法的审判, 包括封号与其他法律的申索
          h4 7.2
          p 你愿意去全力担保，保护与不对我们EsportsMatrix 与任何附属公司，员工，董事，持股人,提出有任何申索，要求，赔偿，法律费用与成本。如果触发处分的原因是 ：、
          h4 7.2.1
          p 你对这份用户协议书有任何的违约，无论是部分性或所有性的;
          h4 7.2.2
          p 如果你违反了法律或损害他人的利益;
          h4 7.2.3 如
          p 果有多人使用你的帐号, 无论是你同意与否

        .section
          h3 8. 法律责任的限制
          h4 8.1
          p 在无条件之下，包括疏忽在内，会导致我们EsportMatrix 或任何其他有关人等附上任何直接，间接或附带的损害后果的，给予（包括，没有局限，利润损失、业务中断，商业信息，或任何其他损失）,如果是因为有关使用我们的服务当中的结果。就算我们对这个事情已提早知晓也不会影响这个法律责任的限制
          h4 8.2
          p 我们这一个协议，应说明我们不会附上，或限制的附上:
          ol
            li 根据这些条款有关人员的伤亡
            li 诈骗或诈骗形式的表达

        .section
          h3 9. 帐号与安全
          h4 9.1
          p 每一个人的帐号应该有一个独立的登入和密码.这个登入跟密码可以由用户选择,也必须由客户自己挑选
          h4 9.2
          p 用户现在同意不会对任何第三方披露自己的登入资料，也不会容许其他人登录他的帐号
          h4 9.3
          p 用户有责任为自己的登入资料做秘密形式的保存,如果有其他人不法登入，这个问题皆由用户自己承担
          h4 9.4
          p 多重账户是被禁止的
          h4 9.5
          p 你不能在没有虚拟币的情况下下注一笔大于你现有的数量，我们也不会提供任何的借贷服务
          h4 9.6
          p EsportsMatrix 保留我们的法律权利去要求顾客提供身份证明，这个身份证明程序我们可以由第三方的人员代为操作

        .section
          h3 10. 独立的平台
          p 我们这个平台是设计为我们EsportsMatrix – T.E.C.H Ltd公司的产品,你不能利用这个使用身份来售卖我们的平台.
        .section
          h3 11. 明白我们的游戏玩法，操作形式与内容
          p 我们设计的平台皆由用户使用方面先做考虑，我们建议你先使用免费操作，在做出任何付款的动作.我们显示的资料是我们的独立见解，也不代表事实的全部或官方立场. 在参加我们游戏前，你应该明白跟了解我们赔率，玩家价钱，平分制度；我们也表明了这个游戏的形式跟其他游戏不为相同, 通过接收我们的用户协议，你接收跟明白所有的操作皆由你自己负责.

        .section
          h3 12. 纷争
          p 所有有关的游戏记录皆由我们EsportsMatrix 保管,也在我们伺服器上进行资料保管，如有么不一样的地方，你电脑/电话显示的资料与伺服器的资料做对比，皆由后者做为有效的记录.
        .section
          h3 13. 修改
          p 我们EsportsMatrix 保留修改这份用户协议的内容,我们不需要提前通知,一旦修改，在14日后自动生效. 我们建议你多浏览我们的网页与频繁查询有关内容.如果你继续使用，就是说明你接受了我们的合约和使用规则.

        .section
          h3 14. 法律规范
          p 如你的所在地是中国以外，请查询我们英文版的协议内容, 因我们是国际营运的, 我们EsportsMatrix的中文版与使用是根据：中国法律来修订. 你现在不可撤销地同意中国人民法院会有关索赔有专属管辖权，或与本协议有关的争议和由此产生的和不可撤销地放弃任何权利，它可能有反对行动被带到法院的任何事项，或者说行动已经带来了不便的论坛，或者那些法院没有管辖权。本条规定不限制esportsmatrix采取诉讼对你在其他任何有管辖权的法院的权利，也不应当采取诉讼中任何一个或多个司法管辖区, 诉讼中的任何其他司法管辖区，是否同时或不同时，由其他司法管辖区的法律允许的范围内。


        .section
          h3 15. 可分割性
          p 如果我们这份协议会在任何地区下的法律下表示部分或全部：不合理，非法，不能实行, 也不能阻止我们在其他法院，地区采取诉讼。

        .section
          h3 16. 分配
          p esportsmatrix有权转让本协议的全部或部分，在任何时间，恕不另行通知。使用者不得将本协议项下的任何权利或义务分配给该项协议。
        .section
          h3 17. 其他
          h4 17.1
          p 无论是什么情况下，包括EsportsMatrix 不能提供优质的服务，会导致任何一件条款无效
          h4 17.2
          p 这份协议书不包括任何第三方合作形式或建立任何一个单方权益的内容，这个协议书只包含；客户与我们公司的使用守则
          h4 17.3
          p 本协议中的任何规定均不应被视为建立一个合伙、代理、信托安排、受托关系或合资企业。
          h4 17.4
          p 本协议构成了你和我们之间的理解,并代表协议的全部,并取代任何先前的协议和理解
          h4 17.5
          p Esportsmatrix有权联系客户要求个人方面的信息用户必须提供全面而真实的在所有的细节和信息,EsportsMatrix必须根据本隐私政策的条款行事
          h4 17.6
          p 如有任何的争议,而你所在地是中国，我们会用中文版的作为理解,如果你的所在地不在大中华地区，我们会用英文版的为主要辨识和理解

dist/member/terms-of-use.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn loggedin">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/contest/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="/member/personal-center-default.html" title="会员中心"><img src="/images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="/images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="/images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="/member/index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="/images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/member/index.html"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/member/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/member/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/member/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/member/personal-center-default.html"><img src="/images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container text">
      <div class="row text-row">
        <div class="col-xs-12">
          <h1 class="page-title">使用条款</h1>
          <div class="section">
            <p>本 EsportsMatrix 服务条款、隐私保密政策，以及可能在相关服务中不时发布的所有其他附加条款和信息（合称本“服务条款”）适用于在阁下对服务、网站、内容和软件（合称“相 关服务”）的使用。一经注册或使用相关服务或其任何部分，阁下即接受本“服务条款。</p>
            <p>请留意，在接收我们的服务条款的时候，你会跟T.E.C.H Ltd 与他旗下的公司,产品 Esports Matrix 产生一个法律合约,如果我们用取字眼 T.E.C.H Group,本公司， 本产品，则是代表我们所有对这个EsportsMatrix 电竞魔方的得益或拥有公司为准.</p>
            <p>在查看本合约期间，请查询我们相关的所有政策，如Cookie 政策, 私隐政策等等. 如我们推广活动的手册如其他使用网站上的说明. 我们也会定期更新这些政策.</p>
            <p>当你点选了我同意按钮, 你就会是我们成员的一份子, 你同意我们网站上所有的服务条款与政策.</p>
          </div>
          <div class="section">
            <h3>1. 使用我们服务的许可</h3>
            <h4>1.1</h4>
            <p>根据我们的使用条款，我们现在为你发放一个受权使用我们网站服务的许可证, 对相关服务的用户授予一项非独占的、不可转让的且 EsportsMatrix 可依自酌随时撤销的许可，准许用户严格按照本服务条款接入和使用相关服务。使用相关服务并未授予阁下针对相关服务中的任何信息或内容的任何进一步的知识产权。</p>
            <h4>1.2</h4>
            <p>这一个服务是应该由你一个人独自使用的，请留意，我们有一部分的网站是不受权于: 1. 18岁以下的用户 2. 在合法地区未到法定年龄 EsportMatrix 不能够查询所有地区的法定年龄，所以你们有责任查询你们使用的时候是否合法.</p>
            <h4>1.3</h4>
            <p>我们保留最后的权利去要求你提供一个身份证明文件去核实你的年龄。我们也保留以后暂时停止对你的服务，无论是短时或永远终止,如果你不能通过我们年龄验证的过程.</p>
            <h4>1.4</h4>
            <p>1.4 EsportMatrix 与他的支公司拥有所有这个网站的代码, 架构，逻辑；我们的系统是由版权，商业机密与其他法律保障的，根据这些法律条文，你不能:
              <ol></ol>
              <li>复制，分发，出版，逆向工程，反编译，反汇编，修改，或翻译我们的平台或进行任何的工程去修改或利用我们的程式制作其他类似的工作;并;</li>
              <li>出售，转让，许可，转让，销售或租赁这个平台</li>
              <li>去让这个平台被第三方拥有的电脑网络使用;</li>
              <li>出口我们的网络平台到任何国家 (不论是用软件或人手); 并</li>
              <li>用我们的平台进行任何在任何国家非法的行为;</li>
            </p>
            <p>以上皆为不受权使用.</p>
            <p>esportsmatrix，其集团公司及其许可人保留所有权利，这是授予用户应保留所有权利，并向这网络平台宣布所有拥有权和利益。</p>
            <p>您同意您将独自承担任何损害，成本或费用所产生的或与该委员会联系你的任何未经授权的使用。如你发现有任何人的未经授权或开始意识到这个行为, 你应当立即通知esportsmatrix提供合理的协助去进行任何进行调查.</p>
            <h4>1.5</h4>
            <p>EsportsMatrix, “电竞魔方”这个字与我们网页 esportsmatrix.com所有的商标，服务商标，标志，贸易名称和/或域名是由我们拥有的.我们保留所有的使用权与法律保障. 除非我们有其他列明. 所有我们的资料，图片，设计，动画，视频也属于我们.</p>
            <p>我们网上的”资料” 是属于我们EsportsMatrix 还有T.E.C.H 所有有关的公司为我们的知识产权. 你现在同意在这份同意书中不会得到任何去干涉我们知识产权与商标的权利. 无论在什么情况下，在得到我们的同意前,你都不能使用我们的资料与商标.</p>
            <p>在某情况下，我们的公司会采用不属于我们公司的知产，如电竞队伍标志，由Riot 创办的英雄标志，电竞玩家照, 这一些只是更让我们去准确表达出一个内容的手法，我们这些所选用的资料在任何时间都不由我们拥有也不属于我们。</p>
            <p>根据以上的，你亚外同意不会违反我们手册去违反使用我们的商标，内容，在我们网页上第三方商标与第三方内容. 以及不能做任何事情去损害我们公司的形象，或我们公司董事，员工或产品的形象.</p>
            <h4>1.6</h4>
            <p>你保证你使用的任何名称或图片与网站或服务（例如，您的用户名和头像）,不应该进行商业活动或损害任何其他人的私隐或第三方的权益。 你也同意给EsportsMatrix 和他的拥有者一个不可撤销的，可转让的，免版税，再授权的许可去根据我们的私隐条款使用你的名字或头像去做一些有关的商业活动.</p>
          </div>
          <div class="section">
            <h3>2. 没有保证</h3>
            <h4>2.1</h4>
            <p>EsportsMatrix 电竞魔方表明所有的保证，隐含与标明的；如果是有关我们的服务的，我们不会为你的用户过程，品质，准确或完整性提供保证.</p>
            <h4>2.2</h4>
            <p>虽然我们会尽力提供我们最优质的服务，去保障你的安全，品质，我们不能保证这个服务是，不受干扰，持续或百分百准确的。如有任何的问题，我们会进行有关的修改，去尽量令到我们的网站是没有： 病毒，错误或其他的问题.</p>
            <h4>2.3</h4>
            <p>EsportsMatrix 电竞魔方会保留所有：改动，停止，终止，移除如增加任何网站服务的权利,我们也不需要为你们提供任何的通知，除非法律表明这个修改是必须通知的. (例如): 如果我们在更新的时候或维护的时候出现问题，我们EsportsMatrix不会负上任何损失的法律责任.</p>
          </div>
          <div class="section">
            <h3>3. 法律权利</h3>
            <p>EsportsMatrix保留用户在网站上的发布、维护和关闭的权限。我们对于一个用户的使用权是由内部决定，决定会是一个最后决定而我们的决定不会被公开聆讯，审核或被上诉.</p>
          </div>
          <div class="section">
            <h3>4. 您的陈述和保证</h3>
            <p>在使用我们服务之前,你陈述和保证以下的内容:</p>
            <h4>4.1</h4>
            <p>你的使用是根据你自己的决定，判断与评估过使用风险的</p>
            <h4>4.2</h4>
            <p>在使用我们的服务期间，你应该提供一些个人资料给我们，也（根据我们的电话服务要求） 由LBS (Location based service) 去探测你的所在位置. 我们会根据私隐条例去保管你的资料，这个条例会根据我们的私隐条例为准.</p>
            <h4>4.3</h4>
            <p>你使用的网络与网络供应商是不受我们EsportsMatrix 能够控制的范围以内，所以我们不会为任何：网速太慢，断线或其他的问题负上任何责任</p>
            <h4>4.4</h4>
            <p>如果你在我们网站上赢取了什么奖品，物品，而这些物品有任何的实物价值，该由你本人自己查询这些物品有没有相关的税收并自行缴费</p>
            <h4>4.5</h4>
            <p>你不能使用我们的服务去进行任何的不公平行为去获取个人利益，如: 转卖我们的数据服务, 开设多个帐号去达由我们送赠的而得到不公平的投注金, 去利用个人影响力影响一些游戏赛果. 我们很鼓励玩家去多研究我们的游戏去达到一个表现比其他人好的境界，但我们不鼓励任何骚扰游戏平等的行为. 虽然我们会奖励一些玩的较为好的跟活跃玩家，而我们会用虚拟币的数量作为平分,但我们的虚拟币本身也不会有什么实物价值,也不应该在任何市场代为转售.</p>
          </div>
          <div class="section">
            <h3>5. 禁止的使用方法</h3>
            <h4>5.1</h4>
            <p>利用任何方法-非法修改我们的平台</p>
            <h4>5.2</h4>
            <p>多人使用: 我们这个平台是设计给一个人私人享用的目的，也是为了个人的娱乐为主，我们的目的不是让任何人去非法获取金钱利益，或用来拿取任何的不公平优势.所有玩家应该提供给我们一份真实资料，如有任何修改，也应该自行更新</p>
            <h4>5.3</h4>
            <p>合谋诈骗: 我们不会容许任何玩家跟其他玩家去合谋以反方向下注的形式达到一个必赢的结果。以及，如上描述，我们更加不容许任何玩家以其他手法去影响赛过获取利益,如果我们一旦发现任何玩家与其他玩家使用不公平的方法去获取利益;我们会对任何帐号停号，也会保留我们的法律权利去对该玩家进行申索.</p>
            <h4>5.4</h4>
            <p>自动玩家（人工智能）: 如果任何人使用人工智能或不为人手直接操作的方式使用我们的平台。所有操作应该是手动操作</p>
            <h4>5.5</h4>
            <p>诈骗行为，非法行为: 如果我们在任何情况决定一个用户是有可能在进行非法的行为或违反我们用户条例的行为; 我们会有权:</p>
            <ol>
              <li>封锁用户所有资金与虚拟币;</li>
              <li>封锁用户使用;</li>
              <li>对该玩家在法庭、法院进行申索</li>
            </ol>
          </div>
          <div class="section">
            <h3>6. 不当用语和咨询</h3>
            <p>所有玩家是严禁发出，非法，歧视，不当，违反国家治安，政治目的,恐吓性，攻击性，人生攻击性的发言，无论是在头像，用户名称或在我们的发言专区中的内容. 这些我们会根据普通法和国家法律来定段.</p>
          </div>
          <div class="section">
            <h3>7. 违反守则</h3>
            <h4>7.1</h4>
            <p>无损法定利益或要求, 如果一个用户一经发现违反我们以上任何守则, EsportsMatrix 电竞魔方与附属公司有权保留任何合理与合法的审判, 包括封号与其他法律的申索</p>
            <h4>7.2</h4>
            <p>你愿意去全力担保，保护与不对我们EsportsMatrix 与任何附属公司，员工，董事，持股人,提出有任何申索，要求，赔偿，法律费用与成本。如果触发处分的原因是 ：、</p>
            <h4>7.2.1</h4>
            <p>你对这份用户协议书有任何的违约，无论是部分性或所有性的;</p>
            <h4>7.2.2</h4>
            <p>如果你违反了法律或损害他人的利益;</p>
            <h4>7.2.3 如</h4>
            <p>果有多人使用你的帐号, 无论是你同意与否</p>
          </div>
          <div class="section">
            <h3>8. 法律责任的限制</h3>
            <h4>8.1</h4>
            <p>在无条件之下，包括疏忽在内，会导致我们EsportMatrix 或任何其他有关人等附上任何直接，间接或附带的损害后果的，给予（包括，没有局限，利润损失、业务中断，商业信息，或任何其他损失）,如果是因为有关使用我们的服务当中的结果。就算我们对这个事情已提早知晓也不会影响这个法律责任的限制</p>
            <h4>8.2</h4>
            <p>我们这一个协议，应说明我们不会附上，或限制的附上:</p>
            <ol>
              <li>根据这些条款有关人员的伤亡</li>
              <li>诈骗或诈骗形式的表达</li>
            </ol>
          </div>
          <div class="section">
            <h3>9. 帐号与安全</h3>
            <h4>9.1</h4>
            <p>每一个人的帐号应该有一个独立的登入和密码.这个登入跟密码可以由用户选择,也必须由客户自己挑选</p>
            <h4>9.2</h4>
            <p>用户现在同意不会对任何第三方披露自己的登入资料，也不会容许其他人登录他的帐号</p>
            <h4>9.3</h4>
            <p>用户有责任为自己的登入资料做秘密形式的保存,如果有其他人不法登入，这个问题皆由用户自己承担</p>
            <h4>9.4</h4>
            <p>多重账户是被禁止的</p>
            <h4>9.5</h4>
            <p>你不能在没有虚拟币的情况下下注一笔大于你现有的数量，我们也不会提供任何的借贷服务</p>
            <h4>9.6</h4>
            <p>EsportsMatrix 保留我们的法律权利去要求顾客提供身份证明，这个身份证明程序我们可以由第三方的人员代为操作</p>
          </div>
          <div class="section">
            <h3>10. 独立的平台</h3>
            <p>我们这个平台是设计为我们EsportsMatrix – T.E.C.H Ltd公司的产品,你不能利用这个使用身份来售卖我们的平台.</p>
          </div>
          <div class="section">
            <h3>11. 明白我们的游戏玩法，操作形式与内容</h3>
            <p>我们设计的平台皆由用户使用方面先做考虑，我们建议你先使用免费操作，在做出任何付款的动作.我们显示的资料是我们的独立见解，也不代表事实的全部或官方立场. 在参加我们游戏前，你应该明白跟了解我们赔率，玩家价钱，平分制度；我们也表明了这个游戏的形式跟其他游戏不为相同, 通过接收我们的用户协议，你接收跟明白所有的操作皆由你自己负责.</p>
          </div>
          <div class="section">
            <h3>12. 纷争</h3>
            <p>所有有关的游戏记录皆由我们EsportsMatrix 保管,也在我们伺服器上进行资料保管，如有么不一样的地方，你电脑/电话显示的资料与伺服器的资料做对比，皆由后者做为有效的记录.</p>
          </div>
          <div class="section">
            <h3>13. 修改</h3>
            <p>我们EsportsMatrix 保留修改这份用户协议的内容,我们不需要提前通知,一旦修改，在14日后自动生效. 我们建议你多浏览我们的网页与频繁查询有关内容.如果你继续使用，就是说明你接受了我们的合约和使用规则.</p>
          </div>
          <div class="section">
            <h3>14. 法律规范</h3>
            <p>如你的所在地是中国以外，请查询我们英文版的协议内容, 因我们是国际营运的, 我们EsportsMatrix的中文版与使用是根据：中国法律来修订. 你现在不可撤销地同意中国人民法院会有关索赔有专属管辖权，或与本协议有关的争议和由此产生的和不可撤销地放弃任何权利，它可能有反对行动被带到法院的任何事项，或者说行动已经带来了不便的论坛，或者那些法院没有管辖权。本条规定不限制esportsmatrix采取诉讼对你在其他任何有管辖权的法院的权利，也不应当采取诉讼中任何一个或多个司法管辖区, 诉讼中的任何其他司法管辖区，是否同时或不同时，由其他司法管辖区的法律允许的范围内。</p>
          </div>
          <div class="section">
            <h3>15. 可分割性</h3>
            <p>如果我们这份协议会在任何地区下的法律下表示部分或全部：不合理，非法，不能实行, 也不能阻止我们在其他法院，地区采取诉讼。</p>
          </div>
          <div class="section">
            <h3>16. 分配</h3>
            <p>esportsmatrix有权转让本协议的全部或部分，在任何时间，恕不另行通知。使用者不得将本协议项下的任何权利或义务分配给该项协议。</p>
          </div>
          <div class="section">
            <h3>17. 其他</h3>
            <h4>17.1</h4>
            <p>无论是什么情况下，包括EsportsMatrix 不能提供优质的服务，会导致任何一件条款无效</p>
            <h4>17.2</h4>
            <p>这份协议书不包括任何第三方合作形式或建立任何一个单方权益的内容，这个协议书只包含；客户与我们公司的使用守则</p>
            <h4>17.3</h4>
            <p>本协议中的任何规定均不应被视为建立一个合伙、代理、信托安排、受托关系或合资企业。</p>
            <h4>17.4</h4>
            <p>本协议构成了你和我们之间的理解,并代表协议的全部,并取代任何先前的协议和理解</p>
            <h4>17.5</h4>
            <p>Esportsmatrix有权联系客户要求个人方面的信息用户必须提供全面而真实的在所有的细节和信息,EsportsMatrix必须根据本隐私政策的条款行事</p>
            <h4>17.6</h4>
            <p>如有任何的争议,而你所在地是中国，我们会用中文版的作为理解,如果你的所在地不在大中华地区，我们会用英文版的为主要辨识和理解</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/member/faq.html">帮助</a></li>
              <li><a href="/member/contact.html">联系我们</a></li>
              <li><a href="/member/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/member/terms-of-use.html">使用条款</a></li>
              <li><a href="/member/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/member/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/member/">游戏大厅</a></li>
              <li><a href="/member/personal-center-default.html">个人中心</a></li>
              <li><a href="/member/personal-center-default.html#leaderboard">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
