app/terms-and-conditions.jade
extends layouts/default-logged

block content
  .container.text
    .row.text-row
      .col-xs-12
        h1.page-title 规则与条款
        .section
          h3.white 该网页内容阐明了客户访问和使用电竞668网站服务的权限。

          p 请阁下在接受我们服务前仔细并完整阅读该协议。请注意该协议在阁下与我们（这里指"电竞668"）之间形成一个具有法律约束力的协议。电竞668为www.esports668.com网站的拥有者和经营者。

          p 除了该协议里的规则与条款外，还请查看我们的隐私权保护规则，其它相关博彩和网站定期更新的促销规则条款，或者我们定期告知您的其它政策条款等等。

          p 当阁下在注册账户时点击下面的"提交"以及使用下面指定的软件时，就表明阁下同意该协议内列明的规则条款，隐私权保护规则，及其它相关博彩和网站定期更新的促销规则条款等。并且承诺一旦违背此协议将会对阁下产生如下后果（会员资格被剥夺、账户冻结、资金没收或其它相关的法律诉讼）。详细信息已在下面列明：

          p 一旦使用电竞668提供的服务，代表阁下认同本公司相关的条款与规则，将立即产生相应的法律效力。如果阁下不认同本公司相关的条款与规则，请勿访问和使用我们的网站及软件。

          p 电竞668将会定期更新相关的规则条款，因此请阁下定期留意查看。规则条款更新后，您仍继续使用我们网站服务代表阁下认同此条款。如果阁下不认同条款的更新，请停用我们的网站服务。如果该条款与其它局部特殊条款产生分歧，将适用后者。

          p 阁下同意在享用电竞668网站服务时遵纪守法，不侵犯他人权限，或不干扰或影响他人的娱乐体验。我们不允许任何形式的骚扰，传播淫秽/带攻击性内容，干扰电竞668日常沟通流程，或对他人造成不良影响的行为。


        .section
          h3 1. 术语定义

          h4 1.1

          p "游戏"指网站上提供的网上娱乐系统。

          h4 1.2
          p "体育博彩"包括"娱乐场","扑克"以及所有其它相关的服务和在线娱乐活动。

          h4 1.3
          p "设备"指所有应用设备，包括所有应用于进入网上服务的设备但不局限于个人电脑、笔记本、手机、个人电子设备、PDA电话等等。

          h4 1.4
          p "信息"指网站提供的信息，包括但不局限于赛果，统计数字，体育数据，赔率等等。

          h4 1.5
          p "软件"指所有电脑程序，数据文件或其他任何要求安装在您的设备上，以便于您的设备通过网络访问网站和参与服务时使用。

          h4 1.6
          p "服务"指软件和游戏。



        .section
          h3 2. 执照许可/知识产权

          h4 2.1
          p 电竞668拥有执照是由？执照，并遵循该执照相关条例为全球客户在线提供体育博彩及娱乐场服务。遵循我们执照的同时，电竞668保留随时调整业务运作的任何环节而遵从其它司法条例的权利。

          h4 2.2
          p 我们的规则条款列明电竞668认可客户使用电竞668网站软件，使用设备获取网站上信息，参与在线游戏的个人权利（不可转让也并非专属）。

          h4 2.3
          p 阁下认同您访问的我们网站软件产权属电竞668和/或我们执照颁发人，此软件仅限于阁下的个人用途，而您对此不享有任何权利。

          h4 2.4
          p 另请注意：我们网站软件不适用于以下人群：
          ol
            li 年龄在18周岁以下。
            li 在所属司法中，低于其合法年龄。
            li 当地司法规定，访问我们网站属不合法行为。电竞668无法辨认客户行为在当地司法是否属合法，客户本人有责任自行甄别。
            li 电竞668员工与电竞668员工亲属("亲属"指配偶，伴侣，父母，子女或兄弟姐妹。)，或在离职6个月期限内的任何电竞668相关前雇员，前雇员亲属。（包括任何与电竞668关联的）

          h4 2.5
          p 电竞668对所提供信息是否正确、完整、更新不承担责任（比如，网站所提供的赛果）。本公司对走地投注中的实时赛果、统计数据及中场赛果的准确度不承担责任。

          h4 2.6
          p 为防止不符合法定年龄的人群使用我们的服务，电竞668保留随时要求客户提供年龄凭证的权利。如果阁下未达上我们的年龄标准或我们怀疑阁下低于我们的年龄标准，我们有权利长期/短期暂停/取消阁下账户，制止阁下参与我们的服务。

          h4 2.7
          p 软件的编码，组织结构属我司版权，商业机密，知识产权及其它权利。您不得：
          ol
            li 通过网站向任何其他人转寄和/或转让流媒体服务和项目视频，又或是在任何电子通讯网站以及第三方可访问的服务网站张贴相关资料。
            li 复制，发行，出版，反向工程，反向编译，反汇编，修改，或翻译该软件或试图获取原始码制作衍生文件。
            li 对软件进行销售，派发，再授权，转让，分发或出租。
            li 通过互联网或其它方式将软件提供给第三方。
            li 未征得电竞668书面许可，通过电子传输或其它方式将软件出口给任何国家
            li 软件使用方式违法或违规。
          p （以上任一条都属"非法使用"）

          h4 2.8
          p 如因任何非法使用而导致的损失，费用或相关的佣金费用都由行为人自行承担。如阁下知晓任何人非法使用我们软件获取佣金，请及时上报给我公司，并请协助我司就您提供的相关信息而展开的调查。

          h4 2.9
          p 电竞668网站定期使用的标符"电竞668"，和其它商标，服务标志和/或商用名字归属于电竞668或其组织成员和/或其执照颁发者，因此商标的所有权归属于电竞668组织。同时电竞668网站上的其它内容，包括，软件，图像，图片，图表，照片，动画，视频，音乐，声像文本，流媒体服务和项目活动视频等等都归属于电竞668或其成员和/或执照颁发者，这些物件信息都属公司版权等知识产权，受法律保护不得侵犯。阁下必须认同您可以使用我们的网站和服务，而并非代表对此任何部分拥有权利，在任何情况下，未经电竞668书面许可或电竞668知识产权相关保护法例的认可，您不得使用或侵犯我们网站上的内容。


        .section
          h3 3. 修订和修改
          h4 3.1
          p 客户完全理解并接受电竞668对此协议进行的任何修改。电竞668可能在任何时候对此协议进行修改并会公布在会员进入的相关网页上。如果本司对此协议进行较大的修改，我们会通过合适的方式通知您（比如在网站显眼位置发布修改信息，并会把修改内容贴上去）。阁下有责任经常检查相关条款与政策以确认您接受其内容，如果阁下继续使用本网站将被视为您接受相关条款与政策的修改。
          h4 3.2
          p 所有在协议条款修改前的投注将适用于修改前的协议条款。所有在协议条款修改后的投注将适用新的协议条款。如果阁下不能接受相关修改，您只可通过终止协议来解决。

        .section
          h3 4. 一般条款的应用—您的声明和保证

          h4 4.1
          p 关于条款的应用是指您承诺不会因非法目的进入或使用我们网站的服务，软件和信息，您也需确保您的行为不会违反您当地的法律或不会违反您与电竞668间的协议。特别是（协议里所有其它附加声明和保证）您需确保您将履行以下协议。
          ul
            li 阁下不是法律限制行为能力的个体；
            li 阁下的法定行为只能代表您个人，而不能代表其他人或其他公司；
            li  阁下认同您参与我们的服务纯属自愿，须自行承担风险；
            li 阁下并非嗜赌成性的人；
            li 您知道未成年人严格禁止在网站进行赌博，且未成年人赌博是一种违法行为；
            li 阁下已年满18岁，您的行为在您当地法律上是属合法的；
            li 阁下不是电竞668员工，或您不是电竞668员工亲属；
            li 阁下是电竞668员工（任何电竞668员工亲属），或前雇员（任何前雇员亲属），需已离职超过6个月。
            li 阁下认同在使用我们服务时须提供给我们某些个人信息进行确认（包括关于支付方式的具体信息）。我们将遵循我们的隐私政策对您提供的信息进行管理和控制。
            li 阁下须自行承担由博彩赢利产生的相关税收。
            li 阁下使用我们网站只能出于个人用途。阁下只可出于个人娱乐而进行博彩投注。
            li 你并非以下地区的居民：澳大利亚，比利时，克罗地亚，塞浦路斯，丹麦（包括格陵兰和法罗群岛），法国（包括法属圭亚那，法属波利尼西亚，法属南部领土，瓜德罗普岛，马提尼克岛，马约特岛，新喀里多尼亚，留尼汪岛，圣马丁岛的居民，圣皮埃尔和密克隆群岛，圣巴泰勒米和瓦利斯和富图纳群岛），德国，希腊，香港，匈牙利，伊朗，以色列，意大利，荷兰（包括阿鲁巴，博内尔，库拉索，萨巴，圣尤斯特歇斯和圣马丁）朝鲜，菲律宾，葡萄牙，罗马尼亚，新加坡，南非，西班牙，瑞士，台湾，土耳其和美国（包括美属萨摩亚，关岛和美属维尔京群岛）
            li 阁下认同并能承担因使用此服务而导致的亏损风险，电竞668对其损失不承担任何风险；
            li 阁下的存款不是来自非法或犯罪的活动
            li 阁下不得通过使用电竞668账户从事非法活动，或允许他人使用您的账户从事任何违背您当地和我们法律的活动；
            li 阁下承诺妥善保管好您的账户和密码不允许其他人使用。定期地更换您的个人账户密码是好习惯。 如果您丢失或忘记您的账户或密码，您须及时联系我们客服部门，我们将发送给您新的安全资料；
            li 阁下认同并能承担因使用此服务而导致的亏损风险，电竞668对其损失不承担任何风险；
            li 阁下有责任确保自己的账户及登入资料的保密性，以使用者名称及密码进行的任何网上博彩将被视为有效；
            li 阁下在使用我们的服务，网站，设备，软件或相关信息时，您不得以任何方式妨碍其他会员享用我们提供的服务；
            li 阁下不得以任何方式窃取其他会员的任何相关信息；
            li 阁下不得上载或发布任何带有病毒的程序、文件或数据，影响我们网站设备、软件、服务等运作性能；
            li 阁下不可试图以任何形式修改，反向编译，反向工程或反汇编我们的软件。
            li 阁下不得使用任何设备，自动设备，软件，程序或其它方法（类似于前述的）妨碍或试图干预我们网站提供的服务，设备，软件，网址，信息或任何交易的正常运作 , 人工智能使用包括没有局限的外挂系统是严格禁止连接服务器。所有的客户服务操作必须是玩家通过使用我们的程序界面进行；
            li 阁下不得在我们网站或设备上或对其他用户发布任何关于骚扰、侮辱、诽谤、威胁、淫秽、及煽动种族不满的相关非法信息，或者任何构成或怂恿犯罪行为，或引起 民事责任事件等等相关违法信息；
            li 阁下不得主动发起或参与针对电竞668展开的调查，竞猜，或大量发布连锁信件/垃圾邮件，兜售邮件等活动；
            li 阁下不可以同时拥有多个账号，如发现客户拥有多个户口，公司有权取消其户口以及投注 ,本公司保留权利取消或关闭您的账户。本公司有权限制客户只保留其中一个户口；

            p 阁下认同以上总条款的适用，并认同如果客户行为带有任何嫌疑或违规现象，电竞668有权未经事先通知或解释上报给相关同盟协会或当地官方。

        .section
          h3 5. 账户注册
          h4 5.1
          p 欲注册电竞668账户成为我们会员，您须填写完整的网站上相关开户申请表格。

          h4 5.2
          p 阁下认同在使用我们服务时须提供给我们某些个人信息进行确认（包括关于支付方式的具体信息）。我们将遵循我们的隐私政策对您提供的信息进行管理和控制。

          h4 5.3
          p 阁下须确保您提供真实、完整、最新的信息。阁下的账户姓名必须真实合法且和身份证上一致，您也须确保账户姓名与信用证上的姓名或其它用于存提款的账户姓名一致。如果您的个人资料有所变化，您须立即通知我们。为了确认客户的姓名和地址，电竞668有权通过信函或邮件等方式联系客户。

          h4 5.4
          p 我司有权未经同意拒绝客户的注册，并有权不予以解释。如发现客户账户注册信息出现不正确，误导或不完整的情况，我司有权关闭此账户，返还该账户存款资金，并且所有投注一律取消。

          h4 5.5
          p 我们保留随时有权从您的关联帐号获取更多信息，并且您同意及时提供此类信息。如果我们无法验证或验证您所提供的信息，或者这些信息是虚假的，不准确，误导性或不完整，我们有权拒绝您的注册，没有另行通知您的责任。

          h4 5.5
          p 不允许通过伪装，或任何干扰您所使用设备IP 地址的方式来访问我们的网站，或者在您访问我们网站时采取措施来阻止我们识别您所使用设备的正确IP地址。


        .section
          h3 6. 资金安全
          h4 6.1
          p 电竞668注册会员的资金与公司资金独立存放。为了客户资金安全，我们会采取措施确保资金的存放，同时保障与公司的任何账户资金没有联系。即使公司破产，客户的资金也会受到保护，不会被清算人没收。


        .section
          h3 7. 投注接受条件

          ul
            li 所有在电竞668网站的投注都要符合相关游戏规则以及本协议。
            li 公布赔率时出现的任何打字错误或非故意人为失误，对此产生的后果电竞668不承担责任，电竞668有权取消相关投注。
            li 任何情况下，电竞668有权拒绝任何投注而不给予解释说明。
            li 只有通过电竞668网站或设备的符合条款与协议的注单被视为有效。无论结果如何，任何以其它形式的投注（通过信函、邮件、传真或其它方式）将不被接受或视为无效。客户的用户名和密码一致，账户余额足够，投注确认的注单才是有效的投注，而且投注后收到确认信息的注单才被视为有效。注单从屏幕出现确认信息时即开始生效。
            li 所有注单符合以下条件都视为有效：用户名和密码输入正确，账户余额充足。
            li 客户须对所有经由其账户所产生的交易和行为承担责任，无论该交易是否由客户本人作出。
            li 如果阁下的投注信息正确，阁下是唯一对此投注承担责任的人。一旦本司确认您的注单，该注单不得取消，撤回或更改，并且该注单会视为您投注的有效证据。
            li 所有电竞668录入的投注记录将被存入电竞668交易数据库，并作为任何时间任何交易的有效依据。
            li 所有在电竞668客户账户交易记录显示确认信息的注单，本司都视为有效注单。
            li 除滚球投注外,所有投注在比赛开始后的注单电竞668有权取消投注。
            li 所有投注时赛事结果已知晓的注单都视为无效注单。电竞668有权取消此类注单。
            li 网站上显示的赛事讯息（赛事开始时间，红牌，比分或其它相关信息）仅供参考。
            li 赛事结果均在赛事结束后确认，除非在相关体育或赛事规则另有说明。赛果公布72小时后，若对任何赛果有争议，电竞668将不认可。在赛果公布72小时内, 电竞668只修正人为失误或错误的赛果。
            li 如果赛事地点改变，所有在原地点下注的注单一律取消，中立场赛事除外。
            li 比赛输赢将依照相关规则在赛事结束后确认。
            li 电竞668不认可赛事中断的比赛，及对赛事具有争议的提议。
            li 如果在过关项目中出现无效选项，此注单将会按余下的有效选项调整结算。
            li 客户获知并接受所有赔率及盘口都是不断变化的，只有在投注瞬间才会确定。
            li 如因人为操作错误或系统故障导致赔率或盘口错误,所有发生在这种情况下的注单电竞668将保留取消的权力,相关的过关选项亦视为无效选项。
            li 在遇到任何系统技术故障时，如当时无法恢复正常交易，电竞668有权手动确认滚球危险球投注。届时账户余额将予以调整，以反应该会员当时的投注。
            li 多次同时投注同一赛事的注单将不被认可。
            li 电竞668拥有任何相关投注和交易的最终决定权。
            li 阁下完全接受在扑克游戏中系统软件随机发牌洗牌，并接受其它随机游戏交易
            li 阁下完全认同并接受WAP网络链接并非一直稳定。本公司只认可我们系统有记录的注单，任何错位注单本公司不承担责任。如果阁下对您下注的任何注单有疑问，请随时联系我们的客服团队协助查询您的账户历史记录。


        .section
          h3 8. 账户注册
          h4 8.1
          p 使用信用卡或借记卡的客户，银行卡姓名必须与客户注册时的姓名一致。如果银行卡姓名与客户注册时的姓名不一致，电竞668在交易结算方面保留权力。

          h4 8.2
          p 客户如果对电竞668或其任何会员出现负债的情况，客户必须承担偿还债务的责任。在支付方面，如果客户有欺诈行为，包括使用盗窃的信用卡，或其它欺诈行为（如追回或颠覆支付款项或洗钱行为）的嫌疑，电竞668有权立即冻结和/或关闭客户的账户，没收其账户余额，并把其资料（注明其身份）公布到任何有权接触此信息的在线娱乐网站、银行、信用卡公司、和相关机构和个人。任何由此产生的费用电竞668将全力从此客户处追讨。

          h4 8.3
          p 不论赛事，每日每位顾客可得最高投注赢利奖金金额为一百五十万美金，或其他货币相等金额，不包括本金。

          h4 8.4
          p 所有纯赢利是不包括本金的。如果不同种类的盘口混在一起，将会适用最低最高赢利限额标准。

          h4 8.5
          p 如果汇入客户账户的资金有误，客户有责任立即通知本公司。任何情况下本司未知晓的错发的彩金将视为无效彩金并须返还给电竞668。

        .section
          h3 9. 账户提款
          h4 9.1
          p 当客户从电竞668获得机会赢取奖金，任何奖金都须符合本协议及我们提供的相关附加条款，才可享用此奖金。

          h4 9.2
          p 客户从账户提取奖金金额前须遵从相关条款的规定与限制，否则将不给予办理。

          h4 9.3
          p 电竞668有权在任何时候撤回或修改奖金或优惠活动和/或相关具体条款与规则，并且不承担向客户或第三方解释说明的责任。

          h4 9.4
          p 如果您有自我禁制，我们将尽合理努力按照我们的规则与条款返还您的账户余额。请联络我们获取更多信息。


        .section
          h3 10. 休眠账户

          h4 10.1
          p 若您的账户从最后一次登录时间开始计算连续6个月没有任何交易将会归类为休眠账户。

          h4 10.2
          p 如果您的账号从最后一次登录时间开始计算休眠状态超过18个月，电竞668将有权将您的账户余额捐赠给慈善机构或公益事业，并关闭您的账户。

          h4 10.3
          p 在关闭您的账户之前，电竞668将会使用一切合理的方式与您联系。

        .section
          h3 11. 奖金

          h4 11.1
          p 当客户从电竞668获得机会赢取奖金，任何奖金都须符合本协议及我们提供的相关附加条款，才可享用此奖金。

          h4 11.2
          p 客户从账户提取奖金金额前须遵从相关条款的规定与限制，否则将不给予办理。

          h4 11.3
          p 电竞668保留在任何时候撤回或修改奖金或优惠活动和/或相关具体条款与规则，并且不承担向客户或第三方解释说明的责任。

        .section
          h3 12. 免责条款

          h4 12.1
          p 享用本公司提供的服务是客户本人的意愿，其风险应由客户本人承担。参与我们服务的同时就说明客户认同本公司所提供的服务是正常、合理、公正、公平的。

          h4 12.2
          p 某些法律规则并未明文规定在线和非在线博彩是否合法，而有些法律规则已有明确规定。如果按照客户当地法律博彩属不合法行为，本公司不提倡阁下参与我们的服务。在博彩被视为不合法行为的任何国家本公司不提倡其国民加入。客户有责任确保任何时候您的博彩行为在您所属地是属合法行为。

          h4 12.3
          p 对于任何情况下由于卫星收讯不良或延误，网路中断，或个人使用网站服务时的失误，疏忽，或对网站内容的误解所产生的任何损失，电竞668概不负责。

          h4 12.4
          p 由于第三方对公司网站和信息提供的服务（比如无线通讯的提供者等）而导致的拖延、违约、或不提供服务的情况，本公司不提供担保也不承担责任。

          h4 12.5
          p 客户访问或使用我们网站服务、软件、信息服务、或下载、安装、使用我们软件而造成的任何直接、间接或重大或普通亏损或经济损失，不论电竞668是否被告知其可能性，电竞668以及相关合伙公司，合作伙伴，合伙人，职员，代理将不承担责任。

          h4 12.6
          p 阁下需认同本协议部分或全部内容是临时性的，网站部分信息可能还需修改和更正。所以这些信息仅供参考，在客户与本司之间并不构成协议，合同，和担保的依据。

          h4 12.7
          p 阁下认同所有免责条款都是在公平公正，风险及利益分布合理的情况下成立的，它既反映了电竞668对客户的关注，也体现了客户对电竞668的理解与支持。阁下进一步认同此条款的合法性和可实施性。

          h4 12.8
          p 如果客户电脑配件上的赛果与我们服务器的赛果出现不一致的情况，我们服务器所显示的结果将为最终赛果。另外，客户也认同对于客户参与我们服务的游戏规则，投注状况电竞668拥有最终解释权。

          h4 12.9
          p 电竞668对目前我们所提供的服务不提供任何明示或暗示的担保，也不对其服务质量，适用性，完整性或精确性提供任何担保和解释。

          h4 12.10
          p 电竞668尽全力为客户提供最优质，最安全可靠的服务，然而我们并不担保我们所提供的服务的稳定性，及时性和准确性，或不担保错误及时更正或网站不受病毒或蠕虫干扰。

          h4 12.11
          p 电竞668绝对有权临时或永久性地立即暂停，终止，修改，删除或添加服务内容，而无需通知客户，对因其而产生的任何损失电竞668概不负责。

        .section
          h3 13. 账户的终止，关闭或没收

          h4 13.1
          p 在以下情况电竞668有权(唯一决定人)取消任何彩金，没收任何投注账户余额，终止协议或因违反条款而冻结账户
          ul
            li 我们核实阁下拥有不止一个电竞668账户。
            li 阁下违反本协议的任何条款规则。
            li 我们获悉阁下在其它娱乐网站有欺诈，合谋（包括诈回注金等等），非法或不当行为的不良纪录。
            li 阁下是电竞668员工或电竞668员工亲属
            li 阁下是电竞668前雇员或电竞668前雇员亲属等，离职时间少于6个月
            li 阁下注册信息不真实或蓄意误导。
            li 阁下不提供须提交的身份资料。
            li 阁下未达到合法年龄。
            li 我们无法验证或验证您所提供的信息，或者这些信息是虚假的，不准确，误导或不完整的，我们有权关闭您的帐户，没有另行通知您的责任。
            li 阁下"退款"或导致"退款"反对我们或否认任何经由其账户产生的注单或存款。
            li 您获准其他人（有意或无意）使用您的账号。
            li 阁下的存款源自犯罪，或其它非法行为。
            li 检测到您的地区位于：澳大利亚，比利时，克罗地亚，塞浦路斯，丹麦（包括法罗群岛和格陵兰），法国（包括法属圭亚那，法属波利尼西亚，法属南部领土，瓜德罗普岛，马提尼克岛，马约特岛，新喀里多尼亚，留尼汪岛，圣马丁岛的居民，圣皮埃尔和密克隆群岛，圣巴泰勒米和瓦利斯和富图纳群岛），德国，希腊，香港，匈牙利，伊朗，以色列，意大利，荷兰（包括阿鲁巴，博内尔，库拉索，萨巴，圣尤斯特歇斯和圣马丁）朝鲜，菲律宾，葡萄牙，罗马尼亚，新加坡，南非，西班牙，瑞士，台湾，土耳其和美国（包括美属萨摩亚，关岛和美属维尔京群岛）
            li 我们确定你有伪装，或干扰，或采取措施掩盖或干扰，以任何方式任何设备的IP地址访问我们的网站（如使用虚拟专用网VPN”）；
            li 我们获悉您的账户存在欺骗或欺诈行为的相关情况；
            li 我们获悉您或与他人合谋，企图欺骗电竞668的情况；
            li 你有使用VPN，任何其他手段企图伪装，隐藏自己的真实身份或在禁赌地区。

          p 如果根据根据本条款，阁下的账户被冻结无法享用我们的服务，只有在您完成必要的纠正程序并经由我们审核通过后，阁下的账户才可重新激活。

          h4 13.2
          p 电竞668在会员账户的发放，更新和关闭上享有绝对权力。电竞668管理层关于会员账户，网站服务提供方面享有最终决定权不得异议。我们有权随时关闭客户账户，不论其原因。在决定执行前，我们将采取合适的方式提前通知客户本人，除非在某种情况下此行为属非法或无法进行此行为。

        .section
          h3 14. 违反协议合约及索赔

          h4 14.1
          p 如果阁下违反本协议或其中部分条款，电竞668有权采取适当的对应做法，包括终止协议，立即拦截阻止您访问我们网站和使用我们的服务，关闭您的账户，没收账户资金和/或采取必要的法律诉讼手段。

          h4 14.2
          p 阁下承诺如出现以下情形，将对电竞668及其股东，员工，职员，执照持有人，执照颁发者，合作伙伴及附属机构作出全责赔偿损失，成本，开销，律师费用和其他收费等等，以及维护其合法权益，使免受责任牵连及负面影响。
          ul
            li 您违反协议或协议部分内容；
            li 您违反法律条例或影响第三方合法权益；
            li 以及以上负面结果是由您本人使用我们网站服务造成，或其他人使用您的账户信息登录造成，不论您是否有授权。

        .section
          h3 15. 优先权
          h4 15.1
          p 游戏规则和其他任何关于进入和使用本司网站服务的协议条款，将组成一个完整的协议。
          h4 15.2
          p 除非有明文规定，如果游戏规则和任何关于访问和使用本司网站服务的协议条款或协议其它部分相冲突的情况发生，请以游戏规则为准。


        .section
          h3 16. 优先权
          h4 16.1
          p 本协议以及相关条款都从属于？相关法律，并受其监管。关于此条款的任何诉讼，纠纷或分歧及由此产生的任何事项？相关法院享有唯一解释权和裁定权。各当事人不可撤销地放弃以下权利：否定？审判，或声称？法院不具备管辖权，或声称应采用不方便法院原则。


        .section
          h3 17. 争议性

          h4 17.1
          p 如果您希望对电竞668任何方面的产品或服务进行投诉，您可以联系我们的客户服务团队。我们将按照以下程序，尽我们最大的努力解决您的投诉：
          ul
            li 投诉流程 – 在您进行投诉的最初阶段，电竞668将以公正和客观的方式进行调查此事，同时会尽可能给您实际可行的结果和最终决定。您可能会被要求提供额外的信息，资料或适当的证据，以协助我们处理您的投诉。
            li 替代性纠纷解决 – 所有的投诉在申诉过程中不能得到解决，可以提交至相关独立机构进行裁决。
          h4 17.2
          p 任何提及相关独立机构的争议，将由特定的相关独立机构，依据法律和争议解决进程进行处理。由此产生的决定即为最终和最具约束力的决定，然而您将不能提出进一步的上诉。


        .section
          h3 18. 其它条款

          h4 18.1
          p 任何与此协议相关的文件都须有英文版本或须将其翻译成英文，各版本间如有分歧，将以英文版本作为权威文件。

          h4 18.2
          p 如果协议中一个条款在某法律范畴被裁定为非法，无效或不可实施，它将不会影响该条款在其它法律范畴的适用，也不影响到协议其他条款在该法律范畴的适用，或其它条款在其它法律范畴的适用。

          h4 18.3
          p 协议的标题仅供参考，它不影响到任何条款的构成或解释。

          h4 18.4
          p 如果因以下超出控制范围的原因（包括天灾，政府管制，战争，暴动，传送中断，系统崩溃，电信或宽带服务中断，电力中断等等）电竞668不能按照协议规定履行义务，将不会构成违反合约。

          h4 18.5
          p 在本协议中，电竞668未能或延迟行使或履行任何权利，补救措施，特权，并不代表电竞668放弃此特权。

          h4 18.6
          p 电竞668有权随时未经通知转让该协议合约或其部分内容。然而，客户无权转让关于该协议您的权利或义务。

          h4 18.7
          p 该协议不能产生或授予任何权利或其它利益给与此协议无关的第三方。

          h4 18.8
          p 该协议不能产生或不能被视为产生电竞668与您之间的合作，代理，信托或合资关系。

          h4 18.8
          p 该协议为阁下与电竞668之间关于网站服务使用协议的最新的完整版本，它将取代之前的版本。

dist/member/terms-and-conditions.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="account" title="会员中心"><img src="images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="../images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="../images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="./index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="../images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="index-en.html"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/member/index.html"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/member/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/member/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/member/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/member/personal-center-default.html"><img src="/images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container text">
      <div class="row text-row">
        <div class="col-xs-12">
          <h1 class="page-title">规则与条款</h1>
          <div class="section">
            <h3 class="white">该网页内容阐明了客户访问和使用电竞668网站服务的权限。</h3>
            <p>请阁下在接受我们服务前仔细并完整阅读该协议。请注意该协议在阁下与我们（这里指"电竞668"）之间形成一个具有法律约束力的协议。电竞668为www.esports668.com网站的拥有者和经营者。</p>
            <p>除了该协议里的规则与条款外，还请查看我们的隐私权保护规则，其它相关博彩和网站定期更新的促销规则条款，或者我们定期告知您的其它政策条款等等。</p>
            <p>当阁下在注册账户时点击下面的"提交"以及使用下面指定的软件时，就表明阁下同意该协议内列明的规则条款，隐私权保护规则，及其它相关博彩和网站定期更新的促销规则条款等。并且承诺一旦违背此协议将会对阁下产生如下后果（会员资格被剥夺、账户冻结、资金没收或其它相关的法律诉讼）。详细信息已在下面列明：</p>
            <p>一旦使用电竞668提供的服务，代表阁下认同本公司相关的条款与规则，将立即产生相应的法律效力。如果阁下不认同本公司相关的条款与规则，请勿访问和使用我们的网站及软件。</p>
            <p>电竞668将会定期更新相关的规则条款，因此请阁下定期留意查看。规则条款更新后，您仍继续使用我们网站服务代表阁下认同此条款。如果阁下不认同条款的更新，请停用我们的网站服务。如果该条款与其它局部特殊条款产生分歧，将适用后者。</p>
            <p>阁下同意在享用电竞668网站服务时遵纪守法，不侵犯他人权限，或不干扰或影响他人的娱乐体验。我们不允许任何形式的骚扰，传播淫秽/带攻击性内容，干扰电竞668日常沟通流程，或对他人造成不良影响的行为。</p>
          </div>
          <div class="section">
            <h3>1. 术语定义</h3>
            <h4>1.1</h4>
            <p>"游戏"指网站上提供的网上娱乐系统。</p>
            <h4>1.2</h4>
            <p>"体育博彩"包括"娱乐场","扑克"以及所有其它相关的服务和在线娱乐活动。</p>
            <h4>1.3</h4>
            <p>"设备"指所有应用设备，包括所有应用于进入网上服务的设备但不局限于个人电脑、笔记本、手机、个人电子设备、PDA电话等等。</p>
            <h4>1.4</h4>
            <p>"信息"指网站提供的信息，包括但不局限于赛果，统计数字，体育数据，赔率等等。</p>
            <h4>1.5</h4>
            <p>"软件"指所有电脑程序，数据文件或其他任何要求安装在您的设备上，以便于您的设备通过网络访问网站和参与服务时使用。</p>
            <h4>1.6</h4>
            <p>"服务"指软件和游戏。</p>
          </div>
          <div class="section">
            <h3>2. 执照许可/知识产权</h3>
            <h4>2.1</h4>
            <p>电竞668拥有执照是由？执照，并遵循该执照相关条例为全球客户在线提供体育博彩及娱乐场服务。遵循我们执照的同时，电竞668保留随时调整业务运作的任何环节而遵从其它司法条例的权利。</p>
            <h4>2.2</h4>
            <p>我们的规则条款列明电竞668认可客户使用电竞668网站软件，使用设备获取网站上信息，参与在线游戏的个人权利（不可转让也并非专属）。</p>
            <h4>2.3</h4>
            <p>阁下认同您访问的我们网站软件产权属电竞668和/或我们执照颁发人，此软件仅限于阁下的个人用途，而您对此不享有任何权利。</p>
            <h4>2.4</h4>
            <p>另请注意：我们网站软件不适用于以下人群：</p>
            <ol>
              <li>年龄在18周岁以下。</li>
              <li>在所属司法中，低于其合法年龄。</li>
              <li>当地司法规定，访问我们网站属不合法行为。电竞668无法辨认客户行为在当地司法是否属合法，客户本人有责任自行甄别。</li>
              <li>电竞668员工与电竞668员工亲属("亲属"指配偶，伴侣，父母，子女或兄弟姐妹。)，或在离职6个月期限内的任何电竞668相关前雇员，前雇员亲属。（包括任何与电竞668关联的）</li>
            </ol>
            <h4>2.5</h4>
            <p>电竞668对所提供信息是否正确、完整、更新不承担责任（比如，网站所提供的赛果）。本公司对走地投注中的实时赛果、统计数据及中场赛果的准确度不承担责任。</p>
            <h4>2.6</h4>
            <p>为防止不符合法定年龄的人群使用我们的服务，电竞668保留随时要求客户提供年龄凭证的权利。如果阁下未达上我们的年龄标准或我们怀疑阁下低于我们的年龄标准，我们有权利长期/短期暂停/取消阁下账户，制止阁下参与我们的服务。</p>
            <h4>2.7</h4>
            <p>软件的编码，组织结构属我司版权，商业机密，知识产权及其它权利。您不得：</p>
            <ol>
              <li>通过网站向任何其他人转寄和/或转让流媒体服务和项目视频，又或是在任何电子通讯网站以及第三方可访问的服务网站张贴相关资料。</li>
              <li>复制，发行，出版，反向工程，反向编译，反汇编，修改，或翻译该软件或试图获取原始码制作衍生文件。</li>
              <li>对软件进行销售，派发，再授权，转让，分发或出租。</li>
              <li>通过互联网或其它方式将软件提供给第三方。</li>
              <li>未征得电竞668书面许可，通过电子传输或其它方式将软件出口给任何国家</li>
              <li>软件使用方式违法或违规。</li>
            </ol>
            <p>（以上任一条都属"非法使用"）</p>
            <h4>2.8</h4>
            <p>如因任何非法使用而导致的损失，费用或相关的佣金费用都由行为人自行承担。如阁下知晓任何人非法使用我们软件获取佣金，请及时上报给我公司，并请协助我司就您提供的相关信息而展开的调查。</p>
            <h4>2.9</h4>
            <p>电竞668网站定期使用的标符"电竞668"，和其它商标，服务标志和/或商用名字归属于电竞668或其组织成员和/或其执照颁发者，因此商标的所有权归属于电竞668组织。同时电竞668网站上的其它内容，包括，软件，图像，图片，图表，照片，动画，视频，音乐，声像文本，流媒体服务和项目活动视频等等都归属于电竞668或其成员和/或执照颁发者，这些物件信息都属公司版权等知识产权，受法律保护不得侵犯。阁下必须认同您可以使用我们的网站和服务，而并非代表对此任何部分拥有权利，在任何情况下，未经电竞668书面许可或电竞668知识产权相关保护法例的认可，您不得使用或侵犯我们网站上的内容。</p>
          </div>
          <div class="section">
            <h3>3. 修订和修改</h3>
            <h4>3.1</h4>
            <p>客户完全理解并接受电竞668对此协议进行的任何修改。电竞668可能在任何时候对此协议进行修改并会公布在会员进入的相关网页上。如果本司对此协议进行较大的修改，我们会通过合适的方式通知您（比如在网站显眼位置发布修改信息，并会把修改内容贴上去）。阁下有责任经常检查相关条款与政策以确认您接受其内容，如果阁下继续使用本网站将被视为您接受相关条款与政策的修改。</p>
            <h4>3.2</h4>
            <p>所有在协议条款修改前的投注将适用于修改前的协议条款。所有在协议条款修改后的投注将适用新的协议条款。如果阁下不能接受相关修改，您只可通过终止协议来解决。</p>
          </div>
          <div class="section">
            <h3>4. 一般条款的应用—您的声明和保证</h3>
            <h4>4.1</h4>
            <p>关于条款的应用是指您承诺不会因非法目的进入或使用我们网站的服务，软件和信息，您也需确保您的行为不会违反您当地的法律或不会违反您与电竞668间的协议。特别是（协议里所有其它附加声明和保证）您需确保您将履行以下协议。</p>
            <ul>
              <li>阁下不是法律限制行为能力的个体；</li>
              <li>阁下的法定行为只能代表您个人，而不能代表其他人或其他公司；</li>
              <li> 阁下认同您参与我们的服务纯属自愿，须自行承担风险；</li>
              <li>阁下并非嗜赌成性的人；</li>
              <li>您知道未成年人严格禁止在网站进行赌博，且未成年人赌博是一种违法行为；</li>
              <li>阁下已年满18岁，您的行为在您当地法律上是属合法的；</li>
              <li>阁下不是电竞668员工，或您不是电竞668员工亲属；</li>
              <li>阁下是电竞668员工（任何电竞668员工亲属），或前雇员（任何前雇员亲属），需已离职超过6个月。</li>
              <li>阁下认同在使用我们服务时须提供给我们某些个人信息进行确认（包括关于支付方式的具体信息）。我们将遵循我们的隐私政策对您提供的信息进行管理和控制。</li>
              <li>阁下须自行承担由博彩赢利产生的相关税收。</li>
              <li>阁下使用我们网站只能出于个人用途。阁下只可出于个人娱乐而进行博彩投注。</li>
              <li>你并非以下地区的居民：澳大利亚，比利时，克罗地亚，塞浦路斯，丹麦（包括格陵兰和法罗群岛），法国（包括法属圭亚那，法属波利尼西亚，法属南部领土，瓜德罗普岛，马提尼克岛，马约特岛，新喀里多尼亚，留尼汪岛，圣马丁岛的居民，圣皮埃尔和密克隆群岛，圣巴泰勒米和瓦利斯和富图纳群岛），德国，希腊，香港，匈牙利，伊朗，以色列，意大利，荷兰（包括阿鲁巴，博内尔，库拉索，萨巴，圣尤斯特歇斯和圣马丁）朝鲜，菲律宾，葡萄牙，罗马尼亚，新加坡，南非，西班牙，瑞士，台湾，土耳其和美国（包括美属萨摩亚，关岛和美属维尔京群岛）</li>
              <li>阁下认同并能承担因使用此服务而导致的亏损风险，电竞668对其损失不承担任何风险；</li>
              <li>阁下的存款不是来自非法或犯罪的活动</li>
              <li>阁下不得通过使用电竞668账户从事非法活动，或允许他人使用您的账户从事任何违背您当地和我们法律的活动；</li>
              <li>阁下承诺妥善保管好您的账户和密码不允许其他人使用。定期地更换您的个人账户密码是好习惯。 如果您丢失或忘记您的账户或密码，您须及时联系我们客服部门，我们将发送给您新的安全资料；</li>
              <li>阁下认同并能承担因使用此服务而导致的亏损风险，电竞668对其损失不承担任何风险；</li>
              <li>阁下有责任确保自己的账户及登入资料的保密性，以使用者名称及密码进行的任何网上博彩将被视为有效；</li>
              <li>阁下在使用我们的服务，网站，设备，软件或相关信息时，您不得以任何方式妨碍其他会员享用我们提供的服务；</li>
              <li>阁下不得以任何方式窃取其他会员的任何相关信息；</li>
              <li>阁下不得上载或发布任何带有病毒的程序、文件或数据，影响我们网站设备、软件、服务等运作性能；</li>
              <li>阁下不可试图以任何形式修改，反向编译，反向工程或反汇编我们的软件。</li>
              <li>阁下不得使用任何设备，自动设备，软件，程序或其它方法（类似于前述的）妨碍或试图干预我们网站提供的服务，设备，软件，网址，信息或任何交易的正常运作 , 人工智能使用包括没有局限的外挂系统是严格禁止连接服务器。所有的客户服务操作必须是玩家通过使用我们的程序界面进行；</li>
              <li>阁下不得在我们网站或设备上或对其他用户发布任何关于骚扰、侮辱、诽谤、威胁、淫秽、及煽动种族不满的相关非法信息，或者任何构成或怂恿犯罪行为，或引起 民事责任事件等等相关违法信息；</li>
              <li>阁下不得主动发起或参与针对电竞668展开的调查，竞猜，或大量发布连锁信件/垃圾邮件，兜售邮件等活动；</li>
              <li>阁下不可以同时拥有多个账号，如发现客户拥有多个户口，公司有权取消其户口以及投注 ,本公司保留权利取消或关闭您的账户。本公司有权限制客户只保留其中一个户口；</li>
              <p>阁下认同以上总条款的适用，并认同如果客户行为带有任何嫌疑或违规现象，电竞668有权未经事先通知或解释上报给相关同盟协会或当地官方。</p>
            </ul>
          </div>
          <div class="section">
            <h3>5. 账户注册</h3>
            <h4>5.1</h4>
            <p>欲注册电竞668账户成为我们会员，您须填写完整的网站上相关开户申请表格。</p>
            <h4>5.2</h4>
            <p>阁下认同在使用我们服务时须提供给我们某些个人信息进行确认（包括关于支付方式的具体信息）。我们将遵循我们的隐私政策对您提供的信息进行管理和控制。</p>
            <h4>5.3</h4>
            <p>阁下须确保您提供真实、完整、最新的信息。阁下的账户姓名必须真实合法且和身份证上一致，您也须确保账户姓名与信用证上的姓名或其它用于存提款的账户姓名一致。如果您的个人资料有所变化，您须立即通知我们。为了确认客户的姓名和地址，电竞668有权通过信函或邮件等方式联系客户。</p>
            <h4>5.4</h4>
            <p>我司有权未经同意拒绝客户的注册，并有权不予以解释。如发现客户账户注册信息出现不正确，误导或不完整的情况，我司有权关闭此账户，返还该账户存款资金，并且所有投注一律取消。</p>
            <h4>5.5</h4>
            <p>我们保留随时有权从您的关联帐号获取更多信息，并且您同意及时提供此类信息。如果我们无法验证或验证您所提供的信息，或者这些信息是虚假的，不准确，误导性或不完整，我们有权拒绝您的注册，没有另行通知您的责任。</p>
            <h4>5.5</h4>
            <p>不允许通过伪装，或任何干扰您所使用设备IP 地址的方式来访问我们的网站，或者在您访问我们网站时采取措施来阻止我们识别您所使用设备的正确IP地址。</p>
          </div>
          <div class="section">
            <h3>6. 资金安全</h3>
            <h4>6.1</h4>
            <p>电竞668注册会员的资金与公司资金独立存放。为了客户资金安全，我们会采取措施确保资金的存放，同时保障与公司的任何账户资金没有联系。即使公司破产，客户的资金也会受到保护，不会被清算人没收。</p>
          </div>
          <div class="section">
            <h3>7. 投注接受条件</h3>
            <ul>
              <li>所有在电竞668网站的投注都要符合相关游戏规则以及本协议。</li>
              <li>公布赔率时出现的任何打字错误或非故意人为失误，对此产生的后果电竞668不承担责任，电竞668有权取消相关投注。</li>
              <li>任何情况下，电竞668有权拒绝任何投注而不给予解释说明。</li>
              <li>只有通过电竞668网站或设备的符合条款与协议的注单被视为有效。无论结果如何，任何以其它形式的投注（通过信函、邮件、传真或其它方式）将不被接受或视为无效。客户的用户名和密码一致，账户余额足够，投注确认的注单才是有效的投注，而且投注后收到确认信息的注单才被视为有效。注单从屏幕出现确认信息时即开始生效。</li>
              <li>所有注单符合以下条件都视为有效：用户名和密码输入正确，账户余额充足。</li>
              <li>客户须对所有经由其账户所产生的交易和行为承担责任，无论该交易是否由客户本人作出。</li>
              <li>如果阁下的投注信息正确，阁下是唯一对此投注承担责任的人。一旦本司确认您的注单，该注单不得取消，撤回或更改，并且该注单会视为您投注的有效证据。</li>
              <li>所有电竞668录入的投注记录将被存入电竞668交易数据库，并作为任何时间任何交易的有效依据。</li>
              <li>所有在电竞668客户账户交易记录显示确认信息的注单，本司都视为有效注单。</li>
              <li>除滚球投注外,所有投注在比赛开始后的注单电竞668有权取消投注。</li>
              <li>所有投注时赛事结果已知晓的注单都视为无效注单。电竞668有权取消此类注单。</li>
              <li>网站上显示的赛事讯息（赛事开始时间，红牌，比分或其它相关信息）仅供参考。</li>
              <li>赛事结果均在赛事结束后确认，除非在相关体育或赛事规则另有说明。赛果公布72小时后，若对任何赛果有争议，电竞668将不认可。在赛果公布72小时内, 电竞668只修正人为失误或错误的赛果。</li>
              <li>如果赛事地点改变，所有在原地点下注的注单一律取消，中立场赛事除外。</li>
              <li>比赛输赢将依照相关规则在赛事结束后确认。</li>
              <li>电竞668不认可赛事中断的比赛，及对赛事具有争议的提议。</li>
              <li>如果在过关项目中出现无效选项，此注单将会按余下的有效选项调整结算。</li>
              <li>客户获知并接受所有赔率及盘口都是不断变化的，只有在投注瞬间才会确定。</li>
              <li>如因人为操作错误或系统故障导致赔率或盘口错误,所有发生在这种情况下的注单电竞668将保留取消的权力,相关的过关选项亦视为无效选项。</li>
              <li>在遇到任何系统技术故障时，如当时无法恢复正常交易，电竞668有权手动确认滚球危险球投注。届时账户余额将予以调整，以反应该会员当时的投注。</li>
              <li>多次同时投注同一赛事的注单将不被认可。</li>
              <li>电竞668拥有任何相关投注和交易的最终决定权。</li>
              <li>阁下完全接受在扑克游戏中系统软件随机发牌洗牌，并接受其它随机游戏交易</li>
              <li>阁下完全认同并接受WAP网络链接并非一直稳定。本公司只认可我们系统有记录的注单，任何错位注单本公司不承担责任。如果阁下对您下注的任何注单有疑问，请随时联系我们的客服团队协助查询您的账户历史记录。</li>
            </ul>
          </div>
          <div class="section">
            <h3>8. 账户注册</h3>
            <h4>8.1</h4>
            <p>使用信用卡或借记卡的客户，银行卡姓名必须与客户注册时的姓名一致。如果银行卡姓名与客户注册时的姓名不一致，电竞668在交易结算方面保留权力。</p>
            <h4>8.2</h4>
            <p>客户如果对电竞668或其任何会员出现负债的情况，客户必须承担偿还债务的责任。在支付方面，如果客户有欺诈行为，包括使用盗窃的信用卡，或其它欺诈行为（如追回或颠覆支付款项或洗钱行为）的嫌疑，电竞668有权立即冻结和/或关闭客户的账户，没收其账户余额，并把其资料（注明其身份）公布到任何有权接触此信息的在线娱乐网站、银行、信用卡公司、和相关机构和个人。任何由此产生的费用电竞668将全力从此客户处追讨。</p>
            <h4>8.3</h4>
            <p>不论赛事，每日每位顾客可得最高投注赢利奖金金额为一百五十万美金，或其他货币相等金额，不包括本金。</p>
            <h4>8.4</h4>
            <p>所有纯赢利是不包括本金的。如果不同种类的盘口混在一起，将会适用最低最高赢利限额标准。</p>
            <h4>8.5</h4>
            <p>如果汇入客户账户的资金有误，客户有责任立即通知本公司。任何情况下本司未知晓的错发的彩金将视为无效彩金并须返还给电竞668。</p>
          </div>
          <div class="section">
            <h3>9. 账户提款</h3>
            <h4>9.1</h4>
            <p>当客户从电竞668获得机会赢取奖金，任何奖金都须符合本协议及我们提供的相关附加条款，才可享用此奖金。</p>
            <h4>9.2</h4>
            <p>客户从账户提取奖金金额前须遵从相关条款的规定与限制，否则将不给予办理。</p>
            <h4>9.3</h4>
            <p>电竞668有权在任何时候撤回或修改奖金或优惠活动和/或相关具体条款与规则，并且不承担向客户或第三方解释说明的责任。</p>
            <h4>9.4</h4>
            <p>如果您有自我禁制，我们将尽合理努力按照我们的规则与条款返还您的账户余额。请联络我们获取更多信息。</p>
          </div>
          <div class="section">
            <h3>10. 休眠账户</h3>
            <h4>10.1</h4>
            <p>若您的账户从最后一次登录时间开始计算连续6个月没有任何交易将会归类为休眠账户。</p>
            <h4>10.2</h4>
            <p>如果您的账号从最后一次登录时间开始计算休眠状态超过18个月，电竞668将有权将您的账户余额捐赠给慈善机构或公益事业，并关闭您的账户。</p>
            <h4>10.3</h4>
            <p>在关闭您的账户之前，电竞668将会使用一切合理的方式与您联系。</p>
          </div>
          <div class="section">
            <h3>11. 奖金</h3>
            <h4>11.1</h4>
            <p>当客户从电竞668获得机会赢取奖金，任何奖金都须符合本协议及我们提供的相关附加条款，才可享用此奖金。</p>
            <h4>11.2</h4>
            <p>客户从账户提取奖金金额前须遵从相关条款的规定与限制，否则将不给予办理。</p>
            <h4>11.3</h4>
            <p>电竞668保留在任何时候撤回或修改奖金或优惠活动和/或相关具体条款与规则，并且不承担向客户或第三方解释说明的责任。</p>
          </div>
          <div class="section">
            <h3>12. 免责条款</h3>
            <h4>12.1</h4>
            <p>享用本公司提供的服务是客户本人的意愿，其风险应由客户本人承担。参与我们服务的同时就说明客户认同本公司所提供的服务是正常、合理、公正、公平的。</p>
            <h4>12.2</h4>
            <p>某些法律规则并未明文规定在线和非在线博彩是否合法，而有些法律规则已有明确规定。如果按照客户当地法律博彩属不合法行为，本公司不提倡阁下参与我们的服务。在博彩被视为不合法行为的任何国家本公司不提倡其国民加入。客户有责任确保任何时候您的博彩行为在您所属地是属合法行为。</p>
            <h4>12.3</h4>
            <p>对于任何情况下由于卫星收讯不良或延误，网路中断，或个人使用网站服务时的失误，疏忽，或对网站内容的误解所产生的任何损失，电竞668概不负责。</p>
            <h4>12.4</h4>
            <p>由于第三方对公司网站和信息提供的服务（比如无线通讯的提供者等）而导致的拖延、违约、或不提供服务的情况，本公司不提供担保也不承担责任。</p>
            <h4>12.5</h4>
            <p>客户访问或使用我们网站服务、软件、信息服务、或下载、安装、使用我们软件而造成的任何直接、间接或重大或普通亏损或经济损失，不论电竞668是否被告知其可能性，电竞668以及相关合伙公司，合作伙伴，合伙人，职员，代理将不承担责任。</p>
            <h4>12.6</h4>
            <p>阁下需认同本协议部分或全部内容是临时性的，网站部分信息可能还需修改和更正。所以这些信息仅供参考，在客户与本司之间并不构成协议，合同，和担保的依据。</p>
            <h4>12.7</h4>
            <p>阁下认同所有免责条款都是在公平公正，风险及利益分布合理的情况下成立的，它既反映了电竞668对客户的关注，也体现了客户对电竞668的理解与支持。阁下进一步认同此条款的合法性和可实施性。</p>
            <h4>12.8</h4>
            <p>如果客户电脑配件上的赛果与我们服务器的赛果出现不一致的情况，我们服务器所显示的结果将为最终赛果。另外，客户也认同对于客户参与我们服务的游戏规则，投注状况电竞668拥有最终解释权。</p>
            <h4>12.9</h4>
            <p>电竞668对目前我们所提供的服务不提供任何明示或暗示的担保，也不对其服务质量，适用性，完整性或精确性提供任何担保和解释。</p>
            <h4>12.10</h4>
            <p>电竞668尽全力为客户提供最优质，最安全可靠的服务，然而我们并不担保我们所提供的服务的稳定性，及时性和准确性，或不担保错误及时更正或网站不受病毒或蠕虫干扰。</p>
            <h4>12.11</h4>
            <p>电竞668绝对有权临时或永久性地立即暂停，终止，修改，删除或添加服务内容，而无需通知客户，对因其而产生的任何损失电竞668概不负责。</p>
          </div>
          <div class="section">
            <h3>13. 账户的终止，关闭或没收</h3>
            <h4>13.1</h4>
            <p>在以下情况电竞668有权(唯一决定人)取消任何彩金，没收任何投注账户余额，终止协议或因违反条款而冻结账户</p>
            <ul>
              <li>我们核实阁下拥有不止一个电竞668账户。</li>
              <li>阁下违反本协议的任何条款规则。</li>
              <li>我们获悉阁下在其它娱乐网站有欺诈，合谋（包括诈回注金等等），非法或不当行为的不良纪录。</li>
              <li>阁下是电竞668员工或电竞668员工亲属</li>
              <li>阁下是电竞668前雇员或电竞668前雇员亲属等，离职时间少于6个月</li>
              <li>阁下注册信息不真实或蓄意误导。</li>
              <li>阁下不提供须提交的身份资料。</li>
              <li>阁下未达到合法年龄。</li>
              <li>我们无法验证或验证您所提供的信息，或者这些信息是虚假的，不准确，误导或不完整的，我们有权关闭您的帐户，没有另行通知您的责任。</li>
              <li>阁下"退款"或导致"退款"反对我们或否认任何经由其账户产生的注单或存款。</li>
              <li>您获准其他人（有意或无意）使用您的账号。</li>
              <li>阁下的存款源自犯罪，或其它非法行为。</li>
              <li>检测到您的地区位于：澳大利亚，比利时，克罗地亚，塞浦路斯，丹麦（包括法罗群岛和格陵兰），法国（包括法属圭亚那，法属波利尼西亚，法属南部领土，瓜德罗普岛，马提尼克岛，马约特岛，新喀里多尼亚，留尼汪岛，圣马丁岛的居民，圣皮埃尔和密克隆群岛，圣巴泰勒米和瓦利斯和富图纳群岛），德国，希腊，香港，匈牙利，伊朗，以色列，意大利，荷兰（包括阿鲁巴，博内尔，库拉索，萨巴，圣尤斯特歇斯和圣马丁）朝鲜，菲律宾，葡萄牙，罗马尼亚，新加坡，南非，西班牙，瑞士，台湾，土耳其和美国（包括美属萨摩亚，关岛和美属维尔京群岛）</li>
              <li>我们确定你有伪装，或干扰，或采取措施掩盖或干扰，以任何方式任何设备的IP地址访问我们的网站（如使用虚拟专用网VPN”）；</li>
              <li>我们获悉您的账户存在欺骗或欺诈行为的相关情况；</li>
              <li>我们获悉您或与他人合谋，企图欺骗电竞668的情况；</li>
              <li>你有使用VPN，任何其他手段企图伪装，隐藏自己的真实身份或在禁赌地区。</li>
            </ul>
            <p>如果根据根据本条款，阁下的账户被冻结无法享用我们的服务，只有在您完成必要的纠正程序并经由我们审核通过后，阁下的账户才可重新激活。</p>
            <h4>13.2</h4>
            <p>电竞668在会员账户的发放，更新和关闭上享有绝对权力。电竞668管理层关于会员账户，网站服务提供方面享有最终决定权不得异议。我们有权随时关闭客户账户，不论其原因。在决定执行前，我们将采取合适的方式提前通知客户本人，除非在某种情况下此行为属非法或无法进行此行为。</p>
          </div>
          <div class="section">
            <h3>14. 违反协议合约及索赔</h3>
            <h4>14.1</h4>
            <p>如果阁下违反本协议或其中部分条款，电竞668有权采取适当的对应做法，包括终止协议，立即拦截阻止您访问我们网站和使用我们的服务，关闭您的账户，没收账户资金和/或采取必要的法律诉讼手段。</p>
            <h4>14.2</h4>
            <p>阁下承诺如出现以下情形，将对电竞668及其股东，员工，职员，执照持有人，执照颁发者，合作伙伴及附属机构作出全责赔偿损失，成本，开销，律师费用和其他收费等等，以及维护其合法权益，使免受责任牵连及负面影响。</p>
            <ul>
              <li>您违反协议或协议部分内容；</li>
              <li>您违反法律条例或影响第三方合法权益；</li>
              <li>以及以上负面结果是由您本人使用我们网站服务造成，或其他人使用您的账户信息登录造成，不论您是否有授权。</li>
            </ul>
          </div>
          <div class="section">
            <h3>15. 优先权</h3>
            <h4>15.1</h4>
            <p>游戏规则和其他任何关于进入和使用本司网站服务的协议条款，将组成一个完整的协议。</p>
            <h4>15.2</h4>
            <p>除非有明文规定，如果游戏规则和任何关于访问和使用本司网站服务的协议条款或协议其它部分相冲突的情况发生，请以游戏规则为准。</p>
          </div>
          <div class="section">
            <h3>16. 优先权</h3>
            <h4>16.1</h4>
            <p>本协议以及相关条款都从属于？相关法律，并受其监管。关于此条款的任何诉讼，纠纷或分歧及由此产生的任何事项？相关法院享有唯一解释权和裁定权。各当事人不可撤销地放弃以下权利：否定？审判，或声称？法院不具备管辖权，或声称应采用不方便法院原则。</p>
          </div>
          <div class="section">
            <h3>17. 争议性</h3>
            <h4>17.1</h4>
            <p>如果您希望对电竞668任何方面的产品或服务进行投诉，您可以联系我们的客户服务团队。我们将按照以下程序，尽我们最大的努力解决您的投诉：</p>
            <ul>
              <li>投诉流程 – 在您进行投诉的最初阶段，电竞668将以公正和客观的方式进行调查此事，同时会尽可能给您实际可行的结果和最终决定。您可能会被要求提供额外的信息，资料或适当的证据，以协助我们处理您的投诉。</li>
              <li>替代性纠纷解决 – 所有的投诉在申诉过程中不能得到解决，可以提交至相关独立机构进行裁决。</li>
            </ul>
            <h4>17.2</h4>
            <p>任何提及相关独立机构的争议，将由特定的相关独立机构，依据法律和争议解决进程进行处理。由此产生的决定即为最终和最具约束力的决定，然而您将不能提出进一步的上诉。</p>
          </div>
          <div class="section">
            <h3>18. 其它条款</h3>
            <h4>18.1</h4>
            <p>任何与此协议相关的文件都须有英文版本或须将其翻译成英文，各版本间如有分歧，将以英文版本作为权威文件。</p>
            <h4>18.2</h4>
            <p>如果协议中一个条款在某法律范畴被裁定为非法，无效或不可实施，它将不会影响该条款在其它法律范畴的适用，也不影响到协议其他条款在该法律范畴的适用，或其它条款在其它法律范畴的适用。</p>
            <h4>18.3</h4>
            <p>协议的标题仅供参考，它不影响到任何条款的构成或解释。</p>
            <h4>18.4</h4>
            <p>如果因以下超出控制范围的原因（包括天灾，政府管制，战争，暴动，传送中断，系统崩溃，电信或宽带服务中断，电力中断等等）电竞668不能按照协议规定履行义务，将不会构成违反合约。</p>
            <h4>18.5</h4>
            <p>在本协议中，电竞668未能或延迟行使或履行任何权利，补救措施，特权，并不代表电竞668放弃此特权。</p>
            <h4>18.6</h4>
            <p>电竞668有权随时未经通知转让该协议合约或其部分内容。然而，客户无权转让关于该协议您的权利或义务。</p>
            <h4>18.7</h4>
            <p>该协议不能产生或授予任何权利或其它利益给与此协议无关的第三方。</p>
            <h4>18.8</h4>
            <p>该协议不能产生或不能被视为产生电竞668与您之间的合作，代理，信托或合资关系。</p>
            <h4>18.8</h4>
            <p>该协议为阁下与电竞668之间关于网站服务使用协议的最新的完整版本，它将取代之前的版本。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/member/faq.html">帮助</a></li>
              <li><a href="/member/contact.html">联系我们</a></li>
              <li><a href="/member/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/member/terms-of-use.html">使用条款</a></li>
              <li><a href="/member/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/member/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/member/">游戏大厅</a></li>
              <li><a href="/member/personal-center-default.html">个人中心</a></li>
              <li><a href="/member/personal-center-default.html#leaderboard">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
