app/term.jade
extends layouts/default


block content
  .full-container#masthead
    .container
      img(src='./images/spacer.png')

  .full-container#banner
    div.container(style='background-image:url("./images/banner.jpg");')
      img(src='./images/banner-spacer.png')
      .text
        h4 Written by Blaze &lsquo;Drauloh&rsquo; Lengyel
        h1 A look at the Czech Superstar Oskar
        p.caption Occasionally in Counter-Strike history, we see a player rise out of his country's local pro scene to be able to go toe-to-toe with the world's finest. One such player is Tomáš "Oskar" Šťastný.
        a.read-more Read this article
          span.arrow

  .container.content
    .row
      .col-xs-10.col-xs-push-1
        p 本 EsportsMatrix 服务条款、隐私保密政策，以及可能在相关服务中不时发布的所有其他附加条款和信息（合称本“服务条款”）适用于在阁下对服务、网站、内容和软件（合称“相 关服务”）的使用。一经注册或使用相关服务或其任何部分，阁下即接受本“服务条款。

        p 请留意，在接收我们的服务条款的时候，你会跟T.E.C.H Ltd 与他旗下的公司,产品 Esports Matrix 产生一个法律合约,如果我们用取字眼 T.E.C.H Group,本公司， 本产品，则是代表我们所有对这个EsportsMatrix 电竞魔方的得益或拥有公司为准.在查看本合约期间，请查询我们相关的所有政策，如Cookie 政策, 私隐政策等等. 如我们推广活动的手册如其他使用网站上的说明. 我们也会定期更新这些政策.

        p 当你点选了我同意按钮, 你就会是我们成员的一份子, 你同意我们网站上所有的服务条款与政策.

        hr

        h3 1. 使用我们服务的许可

        p
          span.yellow 1.1
          | 根据我们的使用条款，我们现在为你发放一个受权使用我们网站服务的许可证, 对相关服务的用户授予一项非独占的、不可转让的且 EsportsMatrix 可依自酌随时撤销的许可，准许用户严格按照本服务条款接入和使用相关服务。使用相关服务并未授予阁下针对相关服务中的任何信息或内容的任何进一步的知识产权。

        p
          span.yellow 1.2
          | 这一个服务是应该由你一个人独自使用的，请留意，我们有一部分的网站是不受权于: 1. 18岁以下的用户 2. 在合法地区未到法定年龄 EsportMatrix 不能够查询所有地区的法定年龄，所以你们有责任查询你们使用的时候是否合法.

        p
          span.yellow 1.3
          | 我们保留最后的权利去要求你提供一个身份证明文件去核实你的年龄。我们也保留以后暂时停止对你的服务，无论是短时或永远终止,如果你不能通过我们年龄验证的过程.

        p
          span.yellow 1.4
          | EsportMatrix 与他的支公司拥有所有这个网站的代码, 架构，逻辑；我们的系统是由版权，商业机密与其他法律保障的，根据这些法律条文，你不能:

        ol(type='a')
          li 复制，分发，出版，逆向工程，反编译，反汇编，修改，或翻译我们的平台或进行任何的工程去修改或利用我们的程式制作其他类似的工作;并;
          li 出售，转让，许可，转让，销售或租赁这个平台
          li 去让这个平台被第三方拥有的电脑网络使用;
          li 出口我们的网络平台到任何国家 (不论是用软件或人手); 并
          li 用我们的平台进行任何在任何国家非法的行为;
          | 以上皆为不受权使用.

        p Esportsmatrix，其集团公司及其许可人保留所有权利，这是授予用户应保留所有权利，并向这网络平台宣布所有拥有权和利益。您同意您将独自承担任何损害，成本或费用所产生的或与该委员会联系你的任何未经授权的使用。如你发现有任何人的未经授权或开始意识到这个行为, 你应当立即通知esportsmatrix提供合理的协助去进行任何进行调查.

        p
          span.yellow 1.5
          | EsportsMatrix, “电竞魔方”这个字与我们网页 esportsmatrix.com所有的商标，服务商标，标志，贸易名称和/或域名是由我们拥有的.我们保留所有的使用权与法律保障. 除非我们有其他列明. 所有我们的资料，图片，设计，动画，视频也属于我们.

        p 我们网上的”资料” 是属于我们EsportsMatrix 还有T.E.C.H 所有有关的公司为我们的知识产权. 你现在同意在这份同意书中不会得到任何去干涉我们知识产权与商标的权利. 无论在什么情况下，在得到我们的同意前,你都不能使用我们的资料与商标.
        p 在某情况下，我们的公司会采用不属于我们公司的知产，如电竞队伍标志，由Riot 创办的英雄标志，电竞玩家照, 这一些只是更让我们去准确表达出一个内容的手法，我们这些所选用的资料在任何时间都不由我们拥有也不属于我们。
        p 根据以上的，你亚外同意不会违反我们手册去违反使用我们的商标，内容，在我们网页上第三方商标与第三方内容. 以及不能做任何事情去损害我们公司的形象，或我们公司董事，员工或产品的形象.

        p
          span.yellow 1.6
          | 你保证你使用的任何名称或图片与网站或服务（例如，您的用户名和头像）,不应该进行商业活动或损害任何其他人的私隐或第三方的权益。 你也同意给EsportsMatrix 和他的拥有者一个不可撤销的，可转让的，免版税，再授权的许可去根据我们的私隐条款使用你的名字或头像去做一些有关的商业活动.

        hr

        h3 2. 没有保证

        p
          span.yellow 2.1
          | EsportsMatrix 电竞魔方表明所有的保证，隐含与标明的；如果是有关我们的服务的，我们不会为你的用户过程，品质，准确或完整性提供保证.

        p
          span.yellow 2.2
          | 虽然我们会尽力提供我们最优质的服务，去保障你的安全，品质，我们不能保证这个服务是，不受干扰，持续或百分百准确的。如有任何的问题，我们会进行有关的修改，去尽量令到我们的网站是没有： 病毒，错误或其他的问题.

        p
          span.yellow 2.3
          | EsportsMatrix 电竞魔方会保留所有：改动，停止，终止，移除如增加任何网站服务的权利,我们也不需要为你们提供任何的通知，除非法律表明这个修改是必须通知的. (例如): 如果我们在更新的时候或维护的时候出现问题，我们EsportsMatrix不会负上任何损失的法律责任.

        h3 3. 法律权利

        p
          | EsportsMatrix保留用户在网站上的发布、维护和关闭的权限。我们对于一个用户的使用权是由内部决定，决定会是一个最后决定而我们的决定不会被公开聆讯，审核或被上诉.

        hr

        h3 4. 您的陈述和保证

        p.emphasize 在使用我们服务之前,你陈述和保证以下的内容:

        p
          span.yellow 4.1
          | 你的使用是根据你自己的决定，判断与评估过使用风险的

        p
          span.yellow 4.2
          | 在使用我们的服务期间，你应该提供一些个人资料给我们，也（根据我们的电话服务要求） 由LBS (Location based service) 去探测你的所在位置. 我们会根据私隐条例去保管你的资料，这个条例会根据我们的私隐条例为准.

        p
          span.yellow 4.3
          | 你使用的网络与网络供应商是不受我们EsportsMatrix 能够控制的范围以内，所以我们不会为任何：网速太慢，断线或其他的问题负上任何责任

        p
          span.yellow 4.4
          | 如果你在我们网站上赢取了什么奖品，物品，而这些物品有任何的实物价值，该由你本人自己查询这些物品有没有相关的税收并自行缴费

        p
          span.yellow 4.5
          | 你不能使用我们的服务去进行任何的不公平行为去获取个人利益，如: 转卖我们的数据服务, 开设多个帐号去达由我们送赠的而得到不公平的投注金, 去利用个人影响力影响一些游戏赛果. 我们很鼓励玩家去多研究我们的游戏去达到一个表现比其他人好的境界，但我们不鼓励任何骚扰游戏平等的行为. 虽然我们会奖励一些玩的较为好的跟活跃玩家，而我们会用虚拟币的数量作为平分,但我们的虚拟币本身也不会有什么实物价值,也不应该在任何市场代为转售.

        hr

        h3 5. 禁止的使用方法

        p
          span.yellow 5.1
          | 利用任何方法-非法修改我们的平台

        p
          span.yellow 5.2
          | 多人使用: 我们这个平台是设计给一个人私人享用的目的，也是为了个人的娱乐为主，我们的目的不是让任何人去非法获取金钱利益，或用来拿取任何的不公平优势.所有玩家应该提供给我们一份真实资料，如有任何修改，也应该自行更新

        p
          span.yellow 5.3
          | 合谋诈骗: 我们不会容许任何玩家跟其他玩家去合谋以反方向下注的形式达到一个必赢的结果。以及，如上描述，我们更加不容许任何玩家以其他手法去影响赛过获取利益,如果我们一旦发现任何玩家与其他玩家使用不公平的方法去获取利益;我们会对任何帐号停号，也会保留我们的法律权利去对该玩家进行申索.

        p
          span.yellow 5.4
          | 自动玩家（人工智能）: 如果任何人使用人工智能或不为人手直接操作的方式使用我们的平台。所有操作应该是手动操作

        p
          span.yellow 5.5
          | 诈骗行为，非法行为: 如果我们在任何情况决定一个用户是有可能在进行非法的行为或违反我们用户条例的行为; 我们会有权:

        p.emphasize
          | 封锁用户所有资金与虚拟币;
          br
          | 封锁用户使用;
          br
          | 对该玩家在法庭、法院进行申索

dist/member/term.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="account" title="会员中心"><img src="images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">段位:<img src="/images/badge.png"><span class="gold-text"> 白银</span></a></div>
            </div>
            <div class="account-wallet"><img src="../images/wallet.png">游戏币：<span class="gold-text">500,000.00</span><img src="../images/gem-img.png">宝石：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="./index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="../images/nav-pencil.png">赌注单</a>
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="index-en.html"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/member/index.html"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/member/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/member/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/member/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL数据和赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA数据和赛果</a></li>
                <li><a href="/member/personal-center-default.html"><img src="/images/personalcenter.png">个人中心</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="masthead" class="full-container">
      <div class="container"><img src="/images/spacer.png"></div>
    </div>
    <div id="banner" class="full-container">
      <div style="background-image:url(&quot;./images/banner.jpg&quot;);" class="container"><img src="/images/banner-spacer.png">
        <div class="text">
          <h4>Written by Blaze &lsquo;Drauloh&rsquo; Lengyel</h4>
          <h1>A look at the Czech Superstar Oskar</h1>
          <p class="caption">Occasionally in Counter-Strike history, we see a player rise out of his country's local pro scene to be able to go toe-to-toe with the world's finest. One such player is Tomáš "Oskar" Šťastný.</p><a class="read-more">Read this article<span class="arrow"></span></a>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-xs-10 col-xs-push-1">
          <p>本 EsportsMatrix 服务条款、隐私保密政策，以及可能在相关服务中不时发布的所有其他附加条款和信息（合称本“服务条款”）适用于在阁下对服务、网站、内容和软件（合称“相 关服务”）的使用。一经注册或使用相关服务或其任何部分，阁下即接受本“服务条款。</p>
          <p>请留意，在接收我们的服务条款的时候，你会跟T.E.C.H Ltd 与他旗下的公司,产品 Esports Matrix 产生一个法律合约,如果我们用取字眼 T.E.C.H Group,本公司， 本产品，则是代表我们所有对这个EsportsMatrix 电竞魔方的得益或拥有公司为准.在查看本合约期间，请查询我们相关的所有政策，如Cookie 政策, 私隐政策等等. 如我们推广活动的手册如其他使用网站上的说明. 我们也会定期更新这些政策.</p>
          <p>当你点选了我同意按钮, 你就会是我们成员的一份子, 你同意我们网站上所有的服务条款与政策.</p>
          <hr>
          <h3>1. 使用我们服务的许可</h3>
          <p><span class="yellow">1.1</span>根据我们的使用条款，我们现在为你发放一个受权使用我们网站服务的许可证, 对相关服务的用户授予一项非独占的、不可转让的且 EsportsMatrix 可依自酌随时撤销的许可，准许用户严格按照本服务条款接入和使用相关服务。使用相关服务并未授予阁下针对相关服务中的任何信息或内容的任何进一步的知识产权。</p>
          <p><span class="yellow">1.2</span>这一个服务是应该由你一个人独自使用的，请留意，我们有一部分的网站是不受权于: 1. 18岁以下的用户 2. 在合法地区未到法定年龄 EsportMatrix 不能够查询所有地区的法定年龄，所以你们有责任查询你们使用的时候是否合法.</p>
          <p><span class="yellow">1.3</span>我们保留最后的权利去要求你提供一个身份证明文件去核实你的年龄。我们也保留以后暂时停止对你的服务，无论是短时或永远终止,如果你不能通过我们年龄验证的过程.</p>
          <p><span class="yellow">1.4</span>EsportMatrix 与他的支公司拥有所有这个网站的代码, 架构，逻辑；我们的系统是由版权，商业机密与其他法律保障的，根据这些法律条文，你不能:</p>
          <ol type="a">
            <li>复制，分发，出版，逆向工程，反编译，反汇编，修改，或翻译我们的平台或进行任何的工程去修改或利用我们的程式制作其他类似的工作;并;</li>
            <li>出售，转让，许可，转让，销售或租赁这个平台</li>
            <li>去让这个平台被第三方拥有的电脑网络使用;</li>
            <li>出口我们的网络平台到任何国家 (不论是用软件或人手); 并</li>
            <li>用我们的平台进行任何在任何国家非法的行为;</li>以上皆为不受权使用.
          </ol>
          <p>Esportsmatrix，其集团公司及其许可人保留所有权利，这是授予用户应保留所有权利，并向这网络平台宣布所有拥有权和利益。您同意您将独自承担任何损害，成本或费用所产生的或与该委员会联系你的任何未经授权的使用。如你发现有任何人的未经授权或开始意识到这个行为, 你应当立即通知esportsmatrix提供合理的协助去进行任何进行调查.</p>
          <p><span class="yellow">1.5</span>EsportsMatrix, “电竞魔方”这个字与我们网页 esportsmatrix.com所有的商标，服务商标，标志，贸易名称和/或域名是由我们拥有的.我们保留所有的使用权与法律保障. 除非我们有其他列明. 所有我们的资料，图片，设计，动画，视频也属于我们.</p>
          <p>我们网上的”资料” 是属于我们EsportsMatrix 还有T.E.C.H 所有有关的公司为我们的知识产权. 你现在同意在这份同意书中不会得到任何去干涉我们知识产权与商标的权利. 无论在什么情况下，在得到我们的同意前,你都不能使用我们的资料与商标.</p>
          <p>在某情况下，我们的公司会采用不属于我们公司的知产，如电竞队伍标志，由Riot 创办的英雄标志，电竞玩家照, 这一些只是更让我们去准确表达出一个内容的手法，我们这些所选用的资料在任何时间都不由我们拥有也不属于我们。</p>
          <p>根据以上的，你亚外同意不会违反我们手册去违反使用我们的商标，内容，在我们网页上第三方商标与第三方内容. 以及不能做任何事情去损害我们公司的形象，或我们公司董事，员工或产品的形象.</p>
          <p><span class="yellow">1.6</span>你保证你使用的任何名称或图片与网站或服务（例如，您的用户名和头像）,不应该进行商业活动或损害任何其他人的私隐或第三方的权益。 你也同意给EsportsMatrix 和他的拥有者一个不可撤销的，可转让的，免版税，再授权的许可去根据我们的私隐条款使用你的名字或头像去做一些有关的商业活动.</p>
          <hr>
          <h3>2. 没有保证</h3>
          <p><span class="yellow">2.1</span>EsportsMatrix 电竞魔方表明所有的保证，隐含与标明的；如果是有关我们的服务的，我们不会为你的用户过程，品质，准确或完整性提供保证.</p>
          <p><span class="yellow">2.2</span>虽然我们会尽力提供我们最优质的服务，去保障你的安全，品质，我们不能保证这个服务是，不受干扰，持续或百分百准确的。如有任何的问题，我们会进行有关的修改，去尽量令到我们的网站是没有： 病毒，错误或其他的问题.</p>
          <p><span class="yellow">2.3</span>EsportsMatrix 电竞魔方会保留所有：改动，停止，终止，移除如增加任何网站服务的权利,我们也不需要为你们提供任何的通知，除非法律表明这个修改是必须通知的. (例如): 如果我们在更新的时候或维护的时候出现问题，我们EsportsMatrix不会负上任何损失的法律责任.</p>
          <h3>3. 法律权利</h3>
          <p>EsportsMatrix保留用户在网站上的发布、维护和关闭的权限。我们对于一个用户的使用权是由内部决定，决定会是一个最后决定而我们的决定不会被公开聆讯，审核或被上诉.</p>
          <hr>
          <h3>4. 您的陈述和保证</h3>
          <p class="emphasize">在使用我们服务之前,你陈述和保证以下的内容:</p>
          <p><span class="yellow">4.1</span>你的使用是根据你自己的决定，判断与评估过使用风险的</p>
          <p><span class="yellow">4.2</span>在使用我们的服务期间，你应该提供一些个人资料给我们，也（根据我们的电话服务要求） 由LBS (Location based service) 去探测你的所在位置. 我们会根据私隐条例去保管你的资料，这个条例会根据我们的私隐条例为准.</p>
          <p><span class="yellow">4.3</span>你使用的网络与网络供应商是不受我们EsportsMatrix 能够控制的范围以内，所以我们不会为任何：网速太慢，断线或其他的问题负上任何责任</p>
          <p><span class="yellow">4.4</span>如果你在我们网站上赢取了什么奖品，物品，而这些物品有任何的实物价值，该由你本人自己查询这些物品有没有相关的税收并自行缴费</p>
          <p><span class="yellow">4.5</span>你不能使用我们的服务去进行任何的不公平行为去获取个人利益，如: 转卖我们的数据服务, 开设多个帐号去达由我们送赠的而得到不公平的投注金, 去利用个人影响力影响一些游戏赛果. 我们很鼓励玩家去多研究我们的游戏去达到一个表现比其他人好的境界，但我们不鼓励任何骚扰游戏平等的行为. 虽然我们会奖励一些玩的较为好的跟活跃玩家，而我们会用虚拟币的数量作为平分,但我们的虚拟币本身也不会有什么实物价值,也不应该在任何市场代为转售.</p>
          <hr>
          <h3>5. 禁止的使用方法</h3>
          <p><span class="yellow">5.1</span>利用任何方法-非法修改我们的平台</p>
          <p><span class="yellow">5.2</span>多人使用: 我们这个平台是设计给一个人私人享用的目的，也是为了个人的娱乐为主，我们的目的不是让任何人去非法获取金钱利益，或用来拿取任何的不公平优势.所有玩家应该提供给我们一份真实资料，如有任何修改，也应该自行更新</p>
          <p><span class="yellow">5.3</span>合谋诈骗: 我们不会容许任何玩家跟其他玩家去合谋以反方向下注的形式达到一个必赢的结果。以及，如上描述，我们更加不容许任何玩家以其他手法去影响赛过获取利益,如果我们一旦发现任何玩家与其他玩家使用不公平的方法去获取利益;我们会对任何帐号停号，也会保留我们的法律权利去对该玩家进行申索.</p>
          <p><span class="yellow">5.4</span>自动玩家（人工智能）: 如果任何人使用人工智能或不为人手直接操作的方式使用我们的平台。所有操作应该是手动操作</p>
          <p><span class="yellow">5.5</span>诈骗行为，非法行为: 如果我们在任何情况决定一个用户是有可能在进行非法的行为或违反我们用户条例的行为; 我们会有权:</p>
          <p class="emphasize">封锁用户所有资金与虚拟币;<br>封锁用户使用;<br>对该玩家在法庭、法院进行申索</p>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/member/faq.html">帮助</a></li>
              <li><a href="/member/contact.html">联系我们</a></li>
              <li><a href="/member/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/member/terms-of-use.html">使用条款</a></li>
              <li><a href="/member/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/member/rules.html">博彩规则</a></li>
            </ul>
          </div>
          <div class="col-xs-12 sitemap">
            <h4>网站导航</h4>
            <ul class="with-divider">
              <li><a href="/member/">游戏大厅</a></li>
              <li><a href="/member/personal-center-default.html">个人中心</a></li>
              <li><a href="/member/personal-center-default.html#leaderboard">参加比赛</a></li>
              <li><a href="http://points-uat.esportsmatrix.com/" target="_blank">商店</a></li>
              <li><a href="http://lol.esportsmatrix.com" target="_blank">LOL赛果</a></li>
              <li><a href="http://dota2.esportsmatrix.com" target="_blank">DOTA赛果</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
