app/layouts/default.jade
doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=1680, initial-scale = 1.0,maximum-scale = 1.0')
    meta(property="og:image" content="images/og-image-cn.jpg")
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/jquery.fancybox.css')
    link(rel='stylesheet' href='styles/jquery.bootstrap-touchspin.min.css')
    link(rel='stylesheet' href='styles/swiper.min.css')
    link(rel='stylesheet' href='styles/flexslider.css')
    link(rel='stylesheet' href='styles/jquery.jscrollpane.css')
    link(rel='stylesheet' href='styles/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet' href='styles/cropper.css')
    link(rel='stylesheet' href='styles/bootstrap-switch.min.css')
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body.cn
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    header.navbar.navbar-static-top.full-container
      div.container.frame
        .nav-wrap.row

          .col-xs-5
            .login-helper.text-right
              a.btn.square.yellow.modal-btn(href='#login-modal')
                img(src='../images/login.png')
                | 欢迎登录
              a.btn.square.yellow.modal-btn#launch-register(href='#register-modal')
                img(src='../images/register.png')
                | 立即注册

          .navbar-header.text-center.col-xs-2
            a.navbar-brand(href="./index.html")
              img(src="./images/center-logo.png")

          .col-xs-4
            .site-helper
              .dropdown.language-dropdown
                | 语言
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                  span
                    = val
                    img(src='./images/zh-CN.png')
                  b.caret
                ul.dropdown-menu.language-menu
                  -var languages = {'zh-CN':'中文','en-AU':'英语'};
                  each val, key in languages
                    if key === 'en-AU'
                      li
                        a(href='index-en.html')
                          img(src='./images/'+key+'.png')
                          = val
        .secondary-link.row
          .full-link.col-xs-12
            .row
              ul.link-left.col-xs-6
                li.active
                  a(href='#')
                    img(src='../images/home.png')
                    | 首页
                li
                  a(href='#')
                    img(src='../images/match.png')
                    | 比赛详情

                li
                  a(href='#')
                    img(src='../images/tutorial.png')
                    | 游戏教学


              ul.link-right.text-right.col-xs-6
                li
                  a(href='#')
                    img(src='../images/nav-lol.png')
                    | LOL赛果
                li
                  a(href='#')
                    img(src='../images/nav-dota.png')
                    | DOTA赛果
                li
                  a(href='#')
                    img(src='../images/help.png')
                    | 客服


    block content

    .footer-container
      .container
        .footer.row
          .col-xs-12
            ul.with-divider
              li
                a(href='/faq.html') 帮助
              li
                a(href='#') 联系我们
              li
                a(href='/responsible-gaming.html') 有节制博彩
              li
                a(href='/terms-of-use.html') 使用条款
              li
                a(href='/privacy-policy.html') 隐私及COOKIE政策
              li
                a(href='/rules.html') 博彩规则
        .row.fixed-row
          .col-xs-12
            hr
        .row
          .col-xs-12.company
            | &copy;T.E.C.H. Ltd
            img(src='../images/18plus.png')
            span.divider
            | 赌博可致沉迷，请理性博彩
        .row
          .col-xs-12
            p 电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！


        .row
          .col-xs-12.footer-products
            img(src='../images/footer-payment.png')
        .row
          ul.col-xs-12.footer-products
            li
              a
                img(src='./images/fb.png')
            li
              a
                img(src='./images/twitter.png')
            li
              a
                img(src='./images/weibo.png')



    div(style='display:none')
      #register-modal
        .modal-header
          h4.modal-title 注册
        .modal-body
          img(src='./images/popup-header.jpg')
          form.form-horizontal.register-form
            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='regLogin') 用户名
              .col-xs-4.input.text-left
                input(type='text', id='regLogin',name='regLogin')
              .col-xs-4.tip.text-left
                | 用户名不允许出现符号，确认后不可再修改

            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='regPassword') 密码
              .col-xs-4.input.text-left
                input.checkpassword(type='password',id='regPassword',name='regPassword')
              .col-xs-4.tip.text-left
                | 强度
                span.password-strength.progress
                  .progress-bar
            .form-group
              .checkbox.col-xs-push-4.text-left.col-xs-7
                label
                  input(type='checkbox')
                  | 我同意，我已成年满18岁，我可以合法赌博.
            .form-group
              .checkbox.col-xs-push-4.text-left.col-xs-7
                label
                  input(type='checkbox')
                  | 我已阅读并同意ESportGaming的
                  | <a href='./term.html'>条款</a>
            hr
            button.button.dark-red(type='submit') 立即注册



    div(style='display:none')
      #login-modal
        .modal-header
          h4.modal-title 登录
        .modal-body
          img(src='./images/popup-header.jpg')
          form.form-horizontal.login-form
            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='loginEmail') 用户名
              .col-xs-4.input.text-left
                input(type='text' name='loginEmail')
            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='loginPassword') 密码
              .col-xs-4.input.text-left
                input(type='password'  name='loginPassword')
              .col-xs-4.tip.text-left
                a.forget(href='#')
                  | 找回密码！
            hr
            button.btn.dark-red(type='submit') 登录
            p
              | 没有账号吗？
              a.go-register.yellow(href='#')
                | 立即注册
          .recovery-password(style='display:none;')
            ul.nav.nav-tabs.tab-pill
              li.active
                a(href='#recover-username', data-toggle='tab')
                  | 邮箱
              li
                a(href='#recover-phone', data-toggle='tab')
                  | 手机
            .tab-content
              .tab-pane.active#recover-username
                form.form-horizontal.recovery-form
                  .form-group
                    .col-xs-4.label.text-right
                      span.red *
                      label(for='recoverLogin') 邮箱
                    .col-xs-5.input.text-left
                      input(type='text' name='recoverLogin', placeholder='请输入您的邮箱！')
                    .col-xs-3.input.text-left
                      a.chrome(href='#')
                        | 发送验证码
                      a.verification(href='#')
                        span.timer
                          | 60s
                        | 重新发送

                  .form-group
                    .col-xs-4.label.text-right
                      span.red *
                      label(for='recoverCode') 验证码
                    .col-xs-5.input.text-left
                      input(type='text',id='recoverCode',name='recoverCode', placeholder='请输入验证码')

                  hr
                  .form-group
                    .col-xs-12
                      a.button.outline-red.pull-left.go-register(href='#') 注册
                      a.button.dark-red.pull-right.go-change-pw(href='#') 下一步

              .tab-pane#recover-phone
                form.form-horizontal.recoveryphone-form
                  .form-group
                    .col-xs-4.label.text-right
                      span.red *
                      label(for='recoverPhone') 手机
                    .col-xs-5.input.text-left
                      select.default
                        option(selected='selected')
                          |+86
                      input#recoverPhone(type='text' name='recoverPhone', placeholder='请输入您的手机号！')
                    .col-xs-3.input.text-left
                      a.chrome(href='#')
                        | 发送验证码
                      a.verification(href='#')
                        span.timer
                          | 60s
                        | 重新发送
                  .form-group
                    .col-xs-4.label.text-right
                      span.red *
                      label(for='recoverPhoneCode') 验证码
                    .col-xs-5.input.text-left
                      input(type='text',id='recoverPhoneCode',name='recoverPhoneCode', placeholder='请输入验证码')
                  hr
                  .form-group
                    .col-xs-12
                      a.button.outline-red.pull-left.go-register(href='#') 注册
                      a.button.dark-red.pull-right.go-change-pw(href='#') 下一步

          .change-password(style='display:none;')
            form.form-horizontal.change-password-form
              .form-group
                .col-xs-4.label.text-right
                  span.red *
                  label(for='changePassword') 输入密码
                .col-xs-5.input.text-left
                  input(type='password' name='changePassword')

              .form-group
                .col-xs-4.label.text-right
                  span.red *
                  label(for='changeCPassword') 再次输入
                .col-xs-5.input.text-left
                  input(type='password',id='changeCPassword',name='changeCPassword')
              hr
              .form-group
                .col-xs-12
                  a.button.outline-red.pull-left.go-register(href='#') 注册
                  a.button.dark-red.pull-right.close-modal(href='#') 立即登录







    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    script(src='scripts/jquery.roadmapTable.js')
    script(src='scripts/jquery.bootpag.min.js')
    script(src='scripts/swiper.jquery.min.js')
    script(src='scripts/jquery.star-rating-svg.js')
    script(src='scripts/jquery.bootstrap-touchspin.min.js')
    script(src='scripts/moment.min.js')
    script(src='scripts/bootstrap-datetimepicker.min.js')
    script(src='scripts/jquery.plugin.js')
    script(src='scripts/jquery.flexslider.js')
    script(src='scripts/jquery.countdown.min.js')
    script(src='scripts/jquery.mousewheel.js')
    script(src='scripts/echarts.min.js')
    script(src='scripts/jquery.jscrollpane.min.js')
    script(src='scripts/doT.min.js')
    script(src='scripts/bootstrap-toggle.min.js')
    script(src='scripts/jquery.fancybox.pack.js')
    script(src='scripts/jquery.simpleImageCheck.js')
    script(src='scripts/strength.js')
    script(src='scripts/bootstrap-switch.min.js')
    script(src='scripts/jquery.validate.min.js')
    script(src='scripts/cropper.js')
    script(src='scripts/clipboard.min.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

dist/layouts/default.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="cn">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="login-helper text-right"><a href="#login-modal" class="btn square yellow modal-btn"><img src="/images/login.png">欢迎登录</a><a id="launch-register" href="#register-modal" class="btn square yellow modal-btn"><img src="/images/register.png">立即注册</a></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="./index.html" class="navbar-brand"><img src="/images/center-logo.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper">
              <div class="dropdown language-dropdown">语言<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">英语</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/"><img src="/images/home.png">游戏大厅</a></li>
                <li><a href="/bet-pnbWBkS30H.html"><img src="/images/match.png">比赛详情</a></li>
                <li><a href="/vip.html"><img src="/images/tutorial.png">游戏教学</a></li>
                <li><a href="/contest.html"><img src="/images/tutorial.png">参加比赛</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL赛果</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA赛果</a></li>
                <li><a href="http://points-uat.esportsmatrix.com/" target="_blank"><img src="/images/store.png">商店</a></li>
                <li><a href="#"><img src="/images/help.png">客服</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul class="with-divider">
              <li><a href="/faq.html">帮助</a></li>
              <li><a href="/contact.html">联系我们</a></li>
              <li><a href="/responsible-gaming.html">有节制博彩</a></li>
              <li><a href="/terms-of-use.html">使用条款</a></li>
              <li><a href="/privacy-policy.html">隐私及COOKIE政策</a></li>
              <li><a href="/rules.html">博彩规则</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="register-modal">
        <div class="modal-header">
          <h4 class="modal-title">注册</h4>
        </div>
        <div class="modal-body"><img src="/images/popup-header.jpg">
          <form class="form-horizontal register-form">
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="regLogin">用户名</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="text" id="regLogin" name="regLogin">
              </div>
              <div class="col-xs-4 tip text-left">用户名不允许出现符号，确认后不可再修改</div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="regPassword">密码</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="password" id="regPassword" name="regPassword" class="checkpassword">
              </div>
              <div class="col-xs-4 tip text-left">强度<span class="password-strength progress">
                  <div class="progress-bar"></div></span></div>
            </div>
            <div class="form-group">
              <div class="checkbox col-xs-push-4 text-left col-xs-7">
                <label>
                  <input type="checkbox">我同意，我已成年满18岁，我可以合法赌博.
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox col-xs-push-4 text-left col-xs-7">
                <label>
                  <input type="checkbox">我已阅读并同意ESportGaming的
                  <a href='./terms-of-use.html'>条款</a>
                </label>
              </div>
            </div>
            <hr>
            <button type="submit" class="button dark-red">立即注册</button>
          </form>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="login-modal">
        <div class="modal-header">
          <h4 class="modal-title">登录</h4>
        </div>
        <div class="modal-body"><img src="/images/popup-header.jpg">
          <form class="form-horizontal login-form">
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="loginEmail">用户名</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="text" name="loginEmail">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="loginPassword">密码</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="password" name="loginPassword">
              </div>
              <div class="col-xs-4 tip text-left"><a href="#" class="forget">找回密码！</a></div>
            </div>
            <hr>
            <button type="submit" class="btn dark-red">登录</button>
            <p>没有账号吗？<a href="#" class="go-register yellow">立即注册</a></p>
          </form>
          <div style="display:none;" class="recovery-password">
            <ul class="nav nav-tabs tab-pill">
              <li class="active"><a href="#recover-username" data-toggle="tab">邮箱</a></li>
              <li><a href="#recover-phone" data-toggle="tab">手机</a></li>
            </ul>
            <div class="tab-content">
              <div id="recover-username" class="tab-pane active">
                <form class="form-horizontal recovery-form">
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverLogin">邮箱</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" name="recoverLogin" placeholder="请输入您的邮箱！">
                    </div>
                    <div class="col-xs-3 input text-left"><a href="#" class="chrome">发送验证码</a><a href="#" class="verification"><span class="timer">60s</span>重新发送</a></div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverCode">验证码</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" id="recoverCode" name="recoverCode" placeholder="请输入验证码">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">注册</a><a href="#" class="button dark-red pull-right go-change-pw">下一步</a></div>
                  </div>
                </form>
              </div>
              <div id="recover-phone" class="tab-pane">
                <form class="form-horizontal recoveryphone-form">
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverPhone">手机</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <select class="default">
                        <option selected="selected">+86</option>
                      </select>
                      <input id="recoverPhone" type="text" name="recoverPhone" placeholder="请输入您的手机号！">
                    </div>
                    <div class="col-xs-3 input text-left"><a href="#" class="chrome">发送验证码</a><a href="#" class="verification"><span class="timer">60s</span>重新发送</a></div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverPhoneCode">验证码</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" id="recoverPhoneCode" name="recoverPhoneCode" placeholder="请输入验证码">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">注册</a><a href="#" class="button dark-red pull-right go-change-pw">下一步</a></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div style="display:none;" class="change-password">
            <form class="form-horizontal change-password-form">
              <div class="form-group">
                <div class="col-xs-4 label text-right"><span class="red">*</span>
                  <label for="changePassword">输入密码</label>
                </div>
                <div class="col-xs-5 input text-left">
                  <input type="password" name="changePassword">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4 label text-right"><span class="red">*</span>
                  <label for="changeCPassword">再次输入</label>
                </div>
                <div class="col-xs-5 input text-left">
                  <input type="password" id="changeCPassword" name="changeCPassword">
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">注册</a><a href="#" class="button dark-red pull-right close-modal">立即登录</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
