dist/layouts/default-logged-en.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1680, initial-scale = 1.0,maximum-scale = 1.0">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="en loggedin">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/en/member/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="account-helper text-right">
              <div class="avatar"><a href="/en/member/personal-center-default.html" title="会员中心"><img src="/images/avatar.png" class="img-circle"></a></div>
              <div class="account-name"><a href="#" class="gold-text">Account name</a></div>
              <div class="account-level"><a href="#">Rank:<img src="/images/badge.png"><span class="gold-text"> Silver</span></a></div>
            </div>
            <div class="account-wallet"><img src="/images/wallet.png">Coin：<span class="gold-text">500,000.00</span><img src="/images/gem-img.png">Gem：<span class="gold-text">500,000</span></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="/en/member/index.html" class="navbar-brand"><img src="/images/center-logo-en.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper"><a href="#" class="button dark-red"><img src="/images/nav-pencil.png">Bet Slip</a>
              <div class="dropdown language-dropdown">CN<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">English</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/en/member/index.html"><img src="/images/home.png">Game Hall</a></li>
                <li><a href="/en/member/bet-pnbWBkS30H.html"><img src="/images/match.png">Game</a></li>
                <li><a href="/en/member/vip.html"><img src="/images/tutorial.png">Tutorial</a></li>
                <li><a href="/en/member/contest.html"><img src="/images/tutorial.png">Contest</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL Result</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA Result</a></li>
                <li><a href="/en/member/personal-center-default.html"><img src="/images/personalcenter.png">Personal Center</a></li>
                <li><a href="http://points-uat.esportsmatrix.com/" target="_blank"><img src="/images/store.png">Store</a></li>
                <li><a href="#"><img src="/images/help.png">Customer Service</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul>
              <li><a href="/en/member/faq.html">FAQ</a></li>
              <li><a href="/en/member/contact.html">Contact Us</a></li>
              <li><a href="/en/member/responsible-gaming.html">Responsible Gaming</a></li>
              <li><a href="/en/member/terms-of-use.html">Terms & Conditions</a></li>
              <li><a href="/en/member/privacy-policy.html">Privacy Policy & Cookies</a></li>
              <li><a href="/en/member/rules.html">Rules</a></li>
            </ul>
          </div>
        </div>
        <div class="row fixed-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 company">&copy;T.E.C.H. Ltd<img src="/images/18plus.png"><span class="divider"></span>赌博可致沉迷，请理性博彩</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-payment.png"></div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>

app/layouts/default-logged-en.jade
doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=1280, initial-scale=1')
    meta(property="og:image" content="images/og-image-cn.jpg")
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/jquery.fancybox.css')
    link(rel='stylesheet' href='styles/jquery.bootstrap-touchspin.min.css')
    link(rel='stylesheet' href='styles/swiper.min.css')
    link(rel='stylesheet' href='styles/flexslider.css')
    link(rel='stylesheet' href='styles/jquery.jscrollpane.css')
    link(rel='stylesheet' href='styles/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet' href='styles/cropper.css')
    link(rel='stylesheet' href='styles/bootstrap-switch.min.css')
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body.en
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->


    header.navbar.navbar-static-top.full-container
      div.container.frame
        .nav-wrap.row

          .col-xs-5
            .account-helper.text-right
              .avatar
                a(href='account', title='会员中心')
                  img.img-circle(src='images/avatar.png')
              .account-name
                a.gold-text(href='#')
                  | Account name
              .account-level
                a(href='#')
                  img(src='../images/vip-level.png')
                  | VIP 值:
                  span.gold-text  67
              .account-link
                a(href='#')
                  | Log Out >
            a.button.dark-red(href='#')
              img(src='../images/nav-pencil.png')
              | Bet Slip

          .navbar-header.text-center.col-xs-2
            a.navbar-brand(href="./index.html")
              img(src="./images/center-logo.png")

          .col-xs-4
            .site-helper
              .account-wallet
                img(src='../images/wallet.png')
                | Coin：
                span.gold-text 500,000.00


              .dropdown.language-dropdown
                | 语言
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                  span
                    = val
                    img(src='./images/zh-CN.png')
                  b.caret
                ul.dropdown-menu.language-menu
                  -var languages = {'zh-CN':'中文','en-AU':'英语'};
                  each val, key in languages
                    if key === 'en-AU'
                      li
                        a(href='index-en.html')
                          img(src='./images/'+key+'.png')
                          = val
        .secondary-link.row
          .full-link.col-xs-12
            .row
              ul.link-left.col-xs-6
                li.active
                  a(href='#')
                    img(src='../images/home.png')
                    | Home
                li
                  a(href='#')
                    img(src='../images/match.png')
                    | Match

                li
                  a(href='#')
                    img(src='../images/tutorial.png')
                    | Tutorial

              ul.link-right.text-right.col-xs-6
                li
                  a(href='#')
                    img(src='../images/nav-lol.png')
                    | LOL Result
                li
                  a(href='#')
                    img(src='../images/nav-dota.png')
                    | DOTA Result
                li
                  a(href='#')
                    img(src='../images/help.png')
                    | Customer Service


    block content

    .footer-container
      .container
        .footer.row
          .col-xs-12
            ul.with-divider
              li
                a(href='#') 帮助
              li
                a(href='#') 联系我们
              li
                a(href='#') 有节制博彩
              li
                a(href='#') 使用条款
              li
                a(href='#') 隐私及COOKIE政策
              li
                a(href='#') 博彩规则
        .row.fixed-row
          .col-xs-12
            hr
        .row
          .col-xs-12.company
            | &copy;T.E.C.H. Ltd
            img(src='../images/18plus.png')
            span.divider
            | 赌博可致沉迷，请理性博彩
        .row
          .col-xs-12
            p 电竞668致力于支付过程中的快速支付和透明度，所以我们采用彩池制（即法语pari mutuel，同注分彩法）。赔率大家做主！


        .row
          .col-xs-12.footer-products
            img(src='../images/footer-payment.png')
        .row
          ul.col-xs-12.footer-products
            li
              a
                img(src='./images/fb.png')
            li
              a
                img(src='./images/twitter.png')
            li
              a
                img(src='./images/weibo.png')



    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    script(src='scripts/jquery.roadmapTable.js')
    script(src='scripts/jquery.bootpag.min.js')
    script(src='scripts/swiper.jquery.min.js')
    script(src='scripts/jquery.star-rating-svg.js')
    script(src='scripts/jquery.bootstrap-touchspin.min.js')
    script(src='scripts/moment.min.js')
    script(src='scripts/bootstrap-datetimepicker.min.js')
    script(src='scripts/jquery.plugin.js')
    script(src='scripts/jquery.flexslider.js')
    script(src='scripts/jquery.countdown.min.js')
    script(src='scripts/jquery.mousewheel.js')
    script(src='scripts/echarts.min.js')
    script(src='scripts/jquery.jscrollpane.min.js')
    script(src='scripts/doT.min.js')
    script(src='scripts/bootstrap-toggle.min.js')
    script(src='scripts/jquery.fancybox.pack.js')
    script(src='scripts/jquery.simpleImageCheck.js')
    script(src='scripts/strength.js')
    script(src='scripts/bootstrap-switch.min.js')
    script(src='scripts/jquery.validate.min.js')
    script(src='scripts/cropper.js')
    script(src='scripts/clipboard.min.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
