dist/layouts/default-en.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GG ESPORTS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1280, initial-scale=1">
    <meta property="og:image" content="images/og-image-cn.jpg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->

    <link rel="stylesheet" href="/styles/main.css">

    <script src="/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="en">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="hide path">/en/</div>
    <header class="navbar navbar-static-top full-container">
      <div class="container frame">
        <div class="nav-wrap row">
          <div class="col-xs-5">
            <div class="login-helper text-right"><a href="#login-modal" class="btn square yellow modal-btn"><img src="/images/login.png">Login</a><a id="launch-register" href="#register-modal" class="btn square yellow modal-btn"><img src="/images/register.png">Register</a></div>
          </div>
          <div class="navbar-header text-center col-xs-2"><a href="/en/index.html" class="navbar-brand"><img src="/images/center-logo-en.png"></a></div>
          <div class="col-xs-4">
            <div class="site-helper">
              <div class="dropdown language-dropdown">Language<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><img src="/images/zh-CN.png"></span><b class="caret"></b></a>
                <ul class="dropdown-menu language-menu">
                  <li><a href="#"><img src="/images/en-AU.png">EN</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="secondary-link row">
          <div class="full-link col-xs-12">
            <div class="row">
              <ul class="link-left col-xs-6">
                <li class="active"><a href="/en/index.html"><img src="/images/home.png">Home</a></li>
                <li><a href="/en/bet-pnbWBkS30H.html"><img src="/images/match.png">Match</a></li>
                <li><a href="/en/vip.html"><img src="/images/tutorial.png">Tutorial</a></li>
                <li><a href="/en/contest.html"><img src="/images/tutorial.png">Tournament</a></li>
              </ul>
              <ul class="link-right text-right col-xs-6">
                <li><a href="http://lol.esportsmatrix.com" target="_blank"><img src="/images/nav-lol.png">LOL Result</a></li>
                <li><a href="http://dota2.esportsmatrix.com" target="_blank"><img src="/images/nav-dota.png">DOTA Result</a></li>
                <li><a href="http://points-uat.esportsmatrix.com/" target="_blank"><img src="/images/store.png">Store</a></li>
                <li><a href="#"><img src="/images/help.png">Customer Service</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="footer-container">
      <div class="container">
        <div class="footer row">
          <div class="col-xs-12">
            <ul>
              <li><a href="/en/faq.html">FAQ</a></li>
              <li><a href="/en/contact.html">Contact Us</a></li>
              <li><a href="/en/responsible-gaming.html">Responsible Gaming</a></li>
              <li><a href="/en/terms-of-use.html">Terms & Conditions</a></li>
              <li><a href="/en/privacy-policy.html">Privacy Policy & Cookies</a></li>
              <li><a href="/en/rules.html">Rules</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 footer-products"><img src="/images/footer-lol.png"><img src="/images/footer-dota.png"></div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>We are committed to the payment process in the process of rapid payment and transparency, So we use the Parimutuel betting system.</p>
            <p>Each part of our turnover will automatically become part of our online games for a sponsorship section. When this fundraiser reaches the designated amount, we will organize a game you specify online games. Quickly vote for your favorite games</p>
          </div>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/partner1.png"></a></li>
            <li><a><img src="/images/partner2.png"></a></li>
            <li><a><img src="/images/partner3.png"></a></li>
            <li><a><img src="/images/partner4.png"></a></li>
          </ul>
        </div>
        <div class="row">
          <ul class="col-xs-12 footer-products">
            <li><a><img src="/images/fb.png"></a></li>
            <li><a><img src="/images/twitter.png"></a></li>
            <li><a><img src="/images/weibo.png"></a></li>
          </ul>
        </div>
        <div class="row">
          <p class="col-xs-12">&copy;T.E.C.H. Ltd</p>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="register-modal">
        <div class="modal-header">
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body"><img src="/images/popup-header.jpg">
          <form class="form-horizontal register-form">
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="regLogin">Username</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="text" id="regLogin" name="regLogin">
              </div>
              <div class="col-xs-4 tip text-left">Username can't consist of symbol, and it can't be edit after confirmed</div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="regPassword">Password</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="password" id="regPassword" name="regPassword" class="checkpassword">
              </div>
              <div class="col-xs-4 tip text-left">Password strength<span class="password-strength progress">
                  <div class="progress-bar"></div></span></div>
            </div>
            <div class="form-group">
              <div class="checkbox col-xs-push-4 text-left col-xs-7">
                <label>
                  <input type="checkbox">I agree, and I'm at least 18 years old, and I'm legally to bet
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox col-xs-push-4 text-left col-xs-7">
                <label>
                  <input type="checkbox">I've read and agree to the
                  <a href='./terms-of-use.html'>Terms of Use</a>
                  of ESportGaming
                </label>
              </div>
            </div>
            <hr>
            <button type="submit" class="button dark-red">Register Now</button>
          </form>
        </div>
      </div>
    </div>
    <div style="display:none">
      <div id="login-modal">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body"><img src="/images/popup-header.jpg">
          <form class="form-horizontal login-form">
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="loginEmail">Username</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="text" name="loginEmail">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 label text-right"><span class="red">*</span>
                <label for="loginPassword">Password</label>
              </div>
              <div class="col-xs-4 input text-left">
                <input type="password" name="loginPassword">
              </div>
              <div class="col-xs-4 tip text-left"><a href="#" class="forget">Password recovry</a></div>
            </div>
            <hr>
            <button type="submit" class="btn dark-red">Login</button>
            <p>Don't have an account？<a href="#" class="go-register yellow">Register now</a></p>
          </form>
          <div style="display:none;" class="recovery-password">
            <ul class="nav nav-tabs tab-pill">
              <li class="active"><a href="#recover-username" data-toggle="tab">Email</a></li>
              <li><a href="#recover-phone" data-toggle="tab">Phone</a></li>
            </ul>
            <div class="tab-content">
              <div id="recover-username" class="tab-pane active">
                <form class="form-horizontal recovery-form">
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverLogin">Email</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" name="recoverLogin" placeholder="Enter your email">
                    </div>
                    <div class="col-xs-3 input text-left"><a href="#" class="chrome">Send verification code</a><a href="#" class="verification"><span class="timer">60s</span>Send again</a></div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverCode">Verification code</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" id="recoverCode" name="recoverCode" placeholder="Enter verification code">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">Register</a><a href="#" class="button dark-red pull-right go-change-pw">Next</a></div>
                  </div>
                </form>
              </div>
              <div id="recover-phone" class="tab-pane">
                <form class="form-horizontal recoveryphone-form">
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverPhone">Phone</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <select class="default">
                        <option selected="selected">+86</option>
                      </select>
                      <input id="recoverPhone" type="text" name="recoverPhone" placeholder="Please enter your phone">
                    </div>
                    <div class="col-xs-3 input text-left"><a href="#" class="chrome">Send verification code</a><a href="#" class="verification"><span class="timer">60s</span>Send again</a></div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4 label text-right"><span class="red">*</span>
                      <label for="recoverPhoneCode">Verification code</label>
                    </div>
                    <div class="col-xs-5 input text-left">
                      <input type="text" id="recoverPhoneCode" name="recoverPhoneCode" placeholder="Enter verification code">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">Register</a><a href="#" class="button dark-red pull-right go-change-pw">Next</a></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div style="display:none;" class="change-password">
            <form class="form-horizontal change-password-form">
              <div class="form-group">
                <div class="col-xs-4 label text-right"><span class="red">*</span>
                  <label for="changePassword">Password</label>
                </div>
                <div class="col-xs-5 input text-left">
                  <input type="password" name="changePassword">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4 label text-right"><span class="red">*</span>
                  <label for="changeCPassword">Confirm Password</label>
                </div>
                <div class="col-xs-5 input text-left">
                  <input type="password" id="changeCPassword" name="changeCPassword">
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="col-xs-12"><a href="#" class="button outline-red pull-left go-register">Register</a><a href="#" class="button dark-red pull-right close-modal">Login</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>

app/layouts/default-en.jade
doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=1280, initial-scale=1')
    meta(property="og:image" content="images/og-image-cn.jpg")
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/jquery.fancybox.css')
    link(rel='stylesheet' href='styles/jquery.bootstrap-touchspin.min.css')
    link(rel='stylesheet' href='styles/swiper.min.css')
    link(rel='stylesheet' href='styles/flexslider.css')
    link(rel='stylesheet' href='styles/jquery.jscrollpane.css')
    link(rel='stylesheet' href='styles/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet' href='styles/cropper.css')
    link(rel='stylesheet' href='styles/bootstrap-switch.min.css')
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body.en
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    header.navbar.navbar-static-top.full-container
      div.container.frame
        .nav-wrap.row

          .col-xs-5
            .login-helper.text-right
              a.btn.square.yellow(href='#')
                img(src='../images/login.png')
                | Login
              a.btn.square.yellow(href='#')
                img(src='../images/register.png')
                | Register

          .navbar-header.text-center.col-xs-2
            a.navbar-brand(href="./index.html")
              img(src="./images/center-logo.png")

          .col-xs-4
            .site-helper

              .dropdown.language-dropdown
                | Language
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                  span
                    = val
                    img(src='./images/zh-CN.png')
                  b.caret
                ul.dropdown-menu.language-menu
                  -var languages = {'zh-CN':'中文','en-AU':'EN'};
                  each val, key in languages
                    if key === 'en-AU'
                      li
                        a(href='index-en.html')
                          img(src='./images/'+key+'.png')
                          = val
        .secondary-link.row
          .full-link.col-xs-12
            .row
              ul.link-left.col-xs-6
                li.active
                  a(href='#')
                    img(src='../images/home.png')
                    | Home
                li
                  a(href='#')
                    img(src='../images/match.png')
                    | Match

                li
                  a(href='#')
                    img(src='../images/tutorial.png')
                    | Tutorial

              ul.link-right.text-right.col-xs-6
                li
                  a(href='#')
                    img(src='../images/nav-lol.png')
                    | LOL Result
                li
                  a(href='#')
                    img(src='../images/nav-dota.png')
                    | DOTA Result
                li
                  a(href='#')
                    img(src='../images/help.png')
                    | Customer Service

    block content

    .footer-container
      .container
        .footer.row
          .col-xs-12
            ul
              li
                a(href='#') Contact Us
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Terms of Use
              li
                a(href='#') Cookie Policy
        .row
          .col-xs-12.footer-products
            img(src='./images/footer-lol.png')
            img(src='./images/footer-dota.png')
        .row
          .col-xs-12
            p We are committed to the payment process in the process of rapid payment and transparency, So we use the Parimutuel betting system.

            p Each part of our turnover will automatically become part of our online games for a sponsorship section. When this fundraiser reaches the designated amount, we will organize a game you specify online games. Quickly vote for your favorite games
        .row
          ul.col-xs-12.footer-products
            li
              a
                img(src='./images/partner1.png')
            li
              a
                img(src='./images/partner2.png')
            li
              a
                img(src='./images/partner3.png')
            li
              a
                img(src='./images/partner4.png')

        .row
          ul.col-xs-12.footer-products
            li
              a
                img(src='./images/fb.png')
            li
              a
                img(src='./images/twitter.png')
            li
              a
                img(src='./images/weibo.png')
        .row
          p.col-xs-12 &copy;T.E.C.H. Ltd

    div(style='display:none')
      #register-modal
        .modal-header
          h4.modal-title 注册
        .modal-body
          form.form-horizontal
            .form-group
              .col-xs-4.label.text-right
                span.red *
                label(for='regEmail') 邮箱
              .col-xs-6.input.text-left
                input(type='email' name='regEmail')
            .form-group
              .col-xs-4.label.text-right
                span.red *
                label(for='regPassword') 密码
              .col-xs-6.input.text-left
                input(type='password' name='regPassword')
            .form-group
              .checkbox.col-xs-push-4.text-left.col-xs-7
                label
                  input(type='checkbox')
                  | 我同意，我已成年满18岁，我可以合法赌博.
            .form-group
              .checkbox.col-xs-push-4.text-left.col-xs-7
                label
                  input(type='checkbox')
                  | 我已阅读并同意ESportGaming的
                  | <a href='./term.html'>条款</a>

            button.btn.yellow(type='submit') 立即注册

    div(style='display:none')
      #login-modal
        .modal-header
          h4.modal-title 登录
        .modal-body
          form.form-horizontal
            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='regEmail') 邮箱
              .col-xs-9.input.text-left
                input(type='email' name='regEmail')
            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='regPassword') 密码
              .col-xs-9.input.text-left
                input(type='password' name='regPassword')
            .form-group
              .checkbox.col-xs-push-3.text-left.col-xs-8
                label
                  input(type='checkbox')
                  | 记住密码
                a.yellow(href='#' id="forget") 忘记密码


            button.btn.yellow(type='submit') 登录



    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    script(src='scripts/jquery.roadmapTable.js')
    script(src='scripts/jquery.bootpag.min.js')
    script(src='scripts/swiper.jquery.min.js')
    script(src='scripts/jquery.star-rating-svg.js')
    script(src='scripts/jquery.bootstrap-touchspin.min.js')
    script(src='scripts/moment.min.js')
    script(src='scripts/bootstrap-datetimepicker.min.js')
    script(src='scripts/jquery.plugin.js')
    script(src='scripts/jquery.flexslider.js')
    script(src='scripts/jquery.countdown.min.js')
    script(src='scripts/jquery.mousewheel.js')
    script(src='scripts/echarts.min.js')
    script(src='scripts/jquery.jscrollpane.min.js')
    script(src='scripts/doT.min.js')
    script(src='scripts/bootstrap-toggle.min.js')
    script(src='scripts/jquery.fancybox.pack.js')
    script(src='scripts/jquery.simpleImageCheck.js')
    script(src='scripts/strength.js')
    script(src='scripts/bootstrap-switch.min.js')
    script(src='scripts/jquery.validate.min.js')
    script(src='scripts/cropper.js')
    script(src='scripts/clipboard.min.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
